<select id="default_table_drop_down" onchange="$C.on_default_table_selected(this)">
    <option>select default table ...</option>
</select>
<script>
    $(document).ready($C.ajax_component_update($('#default_table_drop_down')));
</script>
<a id="upload_default_table_link" onclick="show_default_table_upload_form()">upload default table</a>

<div id="upload_default_table_div" class="box">
    <table>
        <tr>
            <td>
                <form id="upload_default_table_form" method="post" action="/" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="file" name="file"><br><br>
                    <button type="button" onclick="default_table_upload_click()">Upload</button>
                </form>
            </td>
            <td> &nbsp;
                <button onclick="$C.close_dialog($('#upload_default_table_div'));">X</button>
            </td>
        </tr>
    </table>
</div>

<script>
    function show_default_table_upload_form() {
        $C.show_overlay()
        $C.show_elem_placed(
                $('#default_table_drop_down'),
                $('#upload_default_table_div')
        );
    }

    function default_table_upload_click() {
        var todo_after_upload = function() {
            $C.close_dialog($('#upload_default_table_div'));
            $C.ajax_component_update($('#default_table_drop_down'));
        };
        $C.ajax_file_upload(
                'default_table',
                $('#upload_default_table_form'),
                todo_after_upload
        );
    }
</script>
