<button id="load_session_button">
    Load Session
</button>

<div id="load_session_form_div" class="box">
    <table>
        <tr>
            <td>
                <form id="load_session_form" method="post" action="/" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <label for="load_session_form_drop_down">Available Sessions:</label><br>
                    <select id="load_session_form_drop_down"></select><br><br>
                    <button id="load_session_form_button" type="button">Load Session</button>
                </form>
            </td>
            <td> &nbsp;
                <button id="load_session_form_close_button">X</button>
            </td>
        </tr>
    </table>
</div>

