<button id="save_session_as_button"
        disabled="disabled">
    Save Session As ...
</button>

<div id="save_session_as_div" class="box">
    <table>
        <tr>
            <td>
                <form id="save_session_as_form" method="post" action="/" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <label for="save_session_as_form_name_input">Filename:</label><br>
                    <input id="save_session_as_form_name_input" type="text" name="filename"><br><br>
                    <button id="save_session_as_form_button" type="button">Save Session</button>
                </form>
            </td>
            <td> &nbsp;
                <button id="save_session_as_form_close_button">X</button>
            </td>
        </tr>
    </table>
</div>
