<div style="display: block; padding-bottom: 6px;">
    <label for="figures_dir_drop_down">Figures Directory:</label><br>
    <select id="figures_dir_drop_down">
        <option value="">select image directory ...</option>
    </select>
</div>
<div style="display: table-row">
    <div style="display: table-cell; padding-bottom: 6px;">
        <div style="display: inline-block">
            <label for="figures_wildcard_input">Filter thumbnails with wildcard:</label><br>
            <input id="figures_wildcard_input" type="text">
            <span id="wildcard_error" class="class_hidden" style="color: #ff0000;"><br>Pattern invalid!</span>
        </div>
    </div>
    <div style="display: table-cell; padding-left: 20px; padding-bottom: 6px;">
        <div style="display: inline-block">
            <label for="figures_keys">Figure Key:</label><br>
            <select id="figures_keys">
                <option value="">select key ...</option>
            </select>
        </div>
        <div style="display: inline-block; margin-left: 10px;">
            <label for="figure_scaling">Scaling Factor:</label><br>
            <input type="text" id="figure_scaling">
        </div>
    </div>
</div>
<div style="display: table-row">
    <div style="display: table-cell; vertical-align: top">
        <div id="figures_thumbs_div"></div>
    </div>
    <div style="display: table-cell; padding-left: 20px; padding-bottom: 0; vertical-align: top; width: 100%;">
        <div id="figure_preview_div" style="width: 100%; border: 1px solid black;">
            <a id="figure_preview_link" target="_blank">
                <img id="figure_preview_img" style="vertical-align: top;max-height: 100%; max-width: 100%"/>
            </a>
        </div>
        <div id="figures_preview_div" style="display: none; width: 100%; border: 1px solid black;">

        </div>
        <div id="figures_comment_div">
            Comment:<br>
            <textarea id="figures_comment_t_area"></textarea>
        </div>
    </div>
</div>

<div id="figures_thumb_jquery_model" class="img_thumb">
    <img src="" style="vertical-align: top; max-width: 100%;"/>
    <br>
    <label style="white-space: nowrap;">
        <input type="checkbox" value=""/>
    </label><br>
</div>
