<select id="template_file_drop_down">
    <option>select template ...</option>
</select>

<a id="template_file_upload_link">upload template</a>
<div id="template_file_upload_div" class="box">
    <table>
        <tr>
            <td>
                <form id="template_file_upload_form" method="post" action="/" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="file" name="file"><br><br>
                    <button id="template_file_upload_form_button" type="button">Upload</button>
                </form>
            </td>
            <td>
                &nbsp;
                <button id="template_file_upload_form_close_button">X</button>
            </td>
        </tr>
    </table>
</div>
