#
# Copyright (c) 2015-16 Brockmann Consult GmbH (info@brockmann-consult.de)
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation; either version 3 of the License, or (at your option)
# any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, see http://www.gnu.org/licenses/
#

# column 1: target name
# column 2: source name
# column 3: rule specification

### matchup

matchup.id                                             Implicit                                                        MatchupDimension,MatchupId
matchup.time                                           Implicit                                                        MatchupDimension,TimeType,ReferenceTime
matchup.longitude                                      Implicit                                                        MatchupDimension,LonType,MatchupLon
matchup.latitude                                       Implicit                                                        MatchupDimension,LatType,MatchupLat

matchup.insitu.callsign                                Implicit                                                        MatchupDimension,CallsignDimension,CharType,MatchupCallsign
matchup.insitu.dataset                                 Implicit                                                        MatchupInsituDataset
matchup.reference_flag                                 Implicit                                                        MatchupReferenceFlag
matchup.dataset_id                                     Implicit                                                        MatchupPattern


### AMSR-E

amsre.time                                             orb_amsre.Time                                                  AmsreSensor,MatchupDimension,TimeType,ObservationTime
amsre.dtime                                            Implicit                                                        AmsreSensor,MatchupDimension,AmsreYDimension,DTimeType,DTime
amsre.latitude                                         orb_amsre.Latitude                                              MatchupDimension,AmsreImageDimensions,LatType
amsre.longitude                                        orb_amsre.Longitude                                             MatchupDimension,AmsreImageDimensions,LonType

amsre.brightness_temperature_89v                       orb_amsre.89_0V_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_89h                       orb_amsre.89_0H_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_36v                       orb_amsre.36_5V_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_36h                       orb_amsre.36_5H_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_23v                       orb_amsre.23_8V_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_23h                       orb_amsre.23_8H_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_18v                       orb_amsre.18_7V_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_18h                       orb_amsre.18_7H_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_10v                       orb_amsre.10_7V_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_10h                       orb_amsre.10_7H_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_6v                        orb_amsre.6_9V_Res_1_TB                                         MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_6h                        orb_amsre.6_9H_Res_1_TB                                         MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.solar_zenith_angle                               orb_amsre.Solar_Zenith_Angle                                    MatchupDimension,AmsreImageDimensions,ZenithAngle
amsre.satellite_zenith_angle                           orb_amsre.Earth_Incidence                                       MatchupDimension,AmsreImageDimensions,ZenithAngle
amsre.solar_azimuth_angle                              orb_amsre.Solar_Azimuth_Angle                                   MatchupDimension,AmsreImageDimensions,AzimuthAngle
amsre.satellite_azimuth_angle                          orb_amsre.Earth_Azimuth                                         MatchupDimension,AmsreImageDimensions,AzimuthAngle
amsre.pixel_data_quality_6h                            orb_amsre.Channel_Quality_Flag_6H                               MatchupDimension,AmsreImageDimensions
amsre.pixel_data_quality_6v                            orb_amsre.Channel_Quality_Flag_6V                               MatchupDimension,AmsreImageDimensions
amsre.pixel_data_quality_10h                           orb_amsre.Channel_Quality_Flag_10H                              MatchupDimension,AmsreImageDimensions
amsre.pixel_data_quality_10v                           orb_amsre.Channel_Quality_Flag_10V                              MatchupDimension,AmsreImageDimensions
amsre.pixel_data_quality_18h                           orb_amsre.Channel_Quality_Flag_18H                              MatchupDimension,AmsreImageDimensions
amsre.pixel_data_quality_18v                           orb_amsre.Channel_Quality_Flag_18V                              MatchupDimension,AmsreImageDimensions
amsre.pixel_data_quality_23h                           orb_amsre.Channel_Quality_Flag_23H                              MatchupDimension,AmsreImageDimensions
amsre.pixel_data_quality_23v                           orb_amsre.Channel_Quality_Flag_23V                              MatchupDimension,AmsreImageDimensions
amsre.pixel_data_quality_36h                           orb_amsre.Channel_Quality_Flag_36H                              MatchupDimension,AmsreImageDimensions
amsre.pixel_data_quality_36v                           orb_amsre.Channel_Quality_Flag_36V                              MatchupDimension,AmsreImageDimensions
amsre.pixel_data_quality_89h                           orb_amsre.Channel_Quality_Flag_89H                              MatchupDimension,AmsreImageDimensions
amsre.pixel_data_quality_89v                           orb_amsre.Channel_Quality_Flag_89V                              MatchupDimension,AmsreImageDimensions
amsre.scan_data_quality                                orb_amsre.Scan_Quality_Flag                                     MatchupDimension,AmsreImageDimensions
amsre.land_ocean_flag_6                                orb_amsre.Land_Ocean_Flag_6                                     MatchupDimension,AmsreImageDimensions
amsre.percent_land                                     orb_amsre.Res1_Surf                                             MatchupDimension,AmsreImageDimensions
amsre.l2a_filename                                     Implicit                                                        AmsreSensor,MatchupDimension,FilenameDimension,ObservationFilename
amsre.matchup_elem                                     Implicit                                                        AmsreSensor,MatchupDimension,MatchupElem
amsre.matchup_line                                     Implicit                                                        AmsreSensor,MatchupDimension,MatchupLine