#
# Copyright (c) 2015-16 Brockmann Consult GmbH (info@brockmann-consult.de)
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation; either version 3 of the License, or (at your option)
# any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, see http://www.gnu.org/licenses/
#

# column 1: target name
# column 2: source name
# column 3: rule specification

### matchup

matchup.id                                             Implicit                                                        MatchupDimension,MatchupId
matchup.time                                           Implicit                                                        MatchupDimension,TimeType,ReferenceTime
matchup.longitude                                      Implicit                                                        MatchupDimension,LonType,MatchupLon
matchup.latitude                                       Implicit                                                        MatchupDimension,LatType,MatchupLat

matchup.insitu.callsign                                Implicit                                                        MatchupDimension,CallsignDimension,CharType,MatchupCallsign
matchup.insitu.dataset                                 Implicit                                                        MatchupInsituDataset
matchup.reference_flag                                 Implicit                                                        MatchupReferenceFlag
matchup.dataset_id                                     Implicit                                                        MatchupPattern


### AMSR-E

amsre.time                                             Implicit                                                        AmsreSensor,MatchupDimension,TimeType,ObservationTime
amsre.dtime                                            Implicit                                                        AmsreSensor,MatchupDimension,AmsreYDimension,DTimeType,DTime
amsre.latitude                                         orb_amsre.latitude                                              MatchupDimension,AmsreImageDimensions,LatType
amsre.longitude                                        orb_amsre.longitude                                             MatchupDimension,AmsreImageDimensions,LonType

amsre.brightness_temperature_89v                       orb_amsre.89_0V_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_89h                       orb_amsre.89_0H_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_36v                       orb_amsre.36_5V_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_36h                       orb_amsre.36_5H_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_23v                       orb_amsre.23_8V_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_23h                       orb_amsre.23_8H_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_18v                       orb_amsre.18_7V_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_18h                       orb_amsre.18_7H_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_10v                       orb_amsre.10_7V_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_10h                       orb_amsre.10_7H_Res_1_TB                                        MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_6v                        orb_amsre.6_9V_Res_1_TB                                         MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsre.brightness_temperature_6h                        orb_amsre.6_9H_Res_1_TB                                         MatchupDimension,AmsreImageDimensions,ToBrightnessTemperatureM
amsr2.solar_zenith_angle                               orb_amsr2.solar_zenith_angle                                    MatchupDimension,Amsr2ImageDimensions,ZenithAngle
amsr2.satellite_zenith_angle                           orb_amsr2.earth_incidence                                       MatchupDimension,Amsr2ImageDimensions,ZenithAngle
amsr2.solar_azimuth_angle                              orb_amsr2.solar_azimuth_angle                                   MatchupDimension,Amsr2ImageDimensions,AzimuthAngle
amsr2.satellite_azimuth_angle                          orb_amsr2.earth_azimuth                                         MatchupDimension,Amsr2ImageDimensions,AzimuthAngle
amsr2.pixel_data_quality_6                             orb_amsr2.pixel_data_quality_6                                  MatchupDimension,Amsr2ImageDimensions
amsr2.pixel_data_quality_89                            orb_amsr2.pixel_data_quality_89                                 MatchupDimension,Amsr2ImageDimensions
amsr2.scan_data_quality                                Implicit                                                        Amsr2Sensor,MatchupDimension,Amsr2ScanDataQualityDimensions,Amsr2ScanDataQuality
amsr2.land_ocean_flag_6                                orb_amsr2.land_ocean_flag_6                                     MatchupDimension,Amsr2ImageDimensions
amsr2.l1r_filename                                     Implicit                                                        Amsr2Sensor,MatchupDimension,FilenameDimension,ObservationFilename
amsr2.matchup_elem                                     Implicit                                                        Amsr2Sensor,MatchupDimension,MatchupElem
amsr2.matchup_line                                     Implicit                                                        Amsr2Sensor,MatchupDimension,MatchupLine
amsr2.land_sea_mask                                    Implicit                                                        Amsr2Sensor,MatchupDimension,Amsr2ImageDimensions,LandSeaMask
amsr2.scan_time                                        orb_amsr2.scan_time                                             MatchupDimension,Amsr2YDimension,RemoveXDimension,Amsr2ScanTime