#
# Copyright (c) 2015 Brockmann Consult GmbH (info@brockmann-consult.de)
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation; either version 3 of the License, or (at your option)
# any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, see http://www.gnu.org/licenses/
#

# column 1: target name
# column 2: source name
# column 3: rule specification

### matchup

matchup.id                                             Implicit                                                        MatchupDimension,MatchupId
matchup.time                                           Implicit                                                        MatchupDimension,TimeType,ReferenceTime
matchup.longitude                                      Implicit                                                        MatchupDimension,LonType,MatchupLon
matchup.latitude                                       Implicit                                                        MatchupDimension,LatType,MatchupLat

matchup.insitu.callsign                                Implicit                                                        MatchupDimension,CallsignDimension,CharType,MatchupCallsign
matchup.insitu.dataset                                 Implicit                                                        MatchupInsituDataset
matchup.reference_flag                                 Implicit                                                        MatchupReferenceFlag
matchup.dataset_id                                     Implicit                                                        MatchupPattern


### AVHRR METOP-B

amsr2.time                                             Implicit                                                        Amsr2Sensor,MatchupDimension,TimeType,ObservationTime
amsr2.dtime                                            Implicit                                                        Amsr2Sensor,MatchupDimension,Amsr2YDimension,DTimeType,DTime
amsr2.latitude                                         orb_amsr2.latitude                                              MatchupDimension,Amsr2ImageDimensions,LatType
amsr2.longitude                                        orb_amsr2.longitude                                             MatchupDimension,Amsr2ImageDimensions,LonType
# TODO - fields below
amsr2.reflectance_1                                    orb_amsr2.reflec_1                                              MatchupDimension,Amsr2ImageDimensions,ToReflectance
amsr2.reflectance_2                                    orb_amsr2.reflec_2                                              MatchupDimension,Amsr2ImageDimensions,ToReflectance
amsr2.reflectance_3a                                   orb_amsr2.reflec_3a                                             MatchupDimension,Amsr2ImageDimensions,ToReflectance
amsr2.brightness_temperature_3b                        orb_amsr2.temp3b                                                MatchupDimension,Amsr2ImageDimensions,ToBrightnessTemperature
amsr2.brightness_temperature_4                         orb_amsr2.temp4                                                 MatchupDimension,Amsr2ImageDimensions,ToBrightnessTemperature
amsr2.brightness_temperature_5                         orb_amsr2.temp5                                                 MatchupDimension,Amsr2ImageDimensions,ToBrightnessTemperature
amsr2.solar_zenith_angle                               orb_amsr2.sun_zenith                                            MatchupDimension,Amsr2ImageDimensions,ZenithAngle
amsr2.satellite_zenith_angle                           orb_amsr2.view_zenith                                           MatchupDimension,Amsr2ImageDimensions,ZenithAngle
amsr2.solar_azimuth_angle                              orb_amsr2.sun_azimuth                                           MatchupDimension,Amsr2ImageDimensions,ZenithAngle
amsr2.satellite_azimuth_angle                          orb_amsr2.view_azimuth                                          MatchupDimension,Amsr2ImageDimensions,ZenithAngle
amsr2.relative_azimuth_angle                           orb_amsr2.delta_azimuth                                         MatchupDimension,Amsr2ImageDimensions,AzimuthAngle
amsr2.ict_temperature                                  orb_amsr2.internal_target_temperature                           MatchupDimension,Amsr2YDimension,RemoveXDimension
amsr2.bad_data                                         orb_amsr2.flags                                                 MatchupDimension,Amsr2ImageDimensions
amsr2.cloud_flags                                      orb_amsr2.cloud_flags                                           MatchupDimension,Amsr2ImageDimensions
amsr2.l1b_filename                                     Implicit                                                        AvhrrFracM1Sensor,MatchupDimension,FilenameDimension,ObservationFilename
amsr2.matchup_elem                                     Implicit                                                        AvhrrFracM1Sensor,MatchupDimension,MatchupElem
amsr2.matchup_line                                     Implicit                                                        AvhrrFracM1Sensor,MatchupDimension,MatchupLine
amsr2.land_sea_mask                                    Implicit                                                        AvhrrFracM1Sensor,MatchupDimension,AvhrrFracImageDimensions,LandSeaMask
