#
# Copyright (C) 2014 Brockmann Consult GmbH (info@brockmann-consult.de)
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation; either version 3 of the License, or (at your option)
# any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, see http://www.gnu.org/licenses/
#

# column 1: target name
# column 2: source name
# column 3: rule specification

### matchup

matchup.id                                             sub_atsr.1.matchup.id
matchup.time                                           sub_atsr.1.matchup.time
matchup.longitude                                      sub_atsr.1.matchup.longitude
matchup.latitude                                       sub_atsr.1.matchup.latitude

matchup.insitu.callsign                                sub_atsr.1.matchup.insitu.callsign
matchup.insitu.dataset                                 sub_atsr.1.matchup.insitu.dataset
matchup.reference_flag                                 sub_atsr.1.matchup.reference_flag
matchup.sensor_list                                    sub_atsr.1.matchup.sensor_list

matchup.nwp.an.sea_ice_fraction                        ecmwf.matchup.nwp.an.CI
matchup.nwp.an.sea_surface_temperature                 ecmwf.matchup.nwp.an.SSTK
matchup.nwp.an.10m_east_wind_component                 ecmwf.matchup.nwp.an.U10
matchup.nwp.an.10m_north_wind_component                ecmwf.matchup.nwp.an.V10
matchup.nwp.an.t0                                      ecmwf.matchup.nwp.an.t0
matchup.nwp.fc.sea_surface_temperature                 ecmwf.matchup.nwp.fc.SSTK
matchup.nwp.fc.surface_sensible_heat_flux              ecmwf.matchup.nwp.fc.SSHF
matchup.nwp.fc.surface_latent_heat_flux                ecmwf.matchup.nwp.fc.SLHF
matchup.nwp.fc.mean_sea_level_pressure                 ecmwf.matchup.nwp.fc.MSL
matchup.nwp.fc.boundary_layer_height                   ecmwf.matchup.nwp.fc.BLH
matchup.nwp.fc.10m_east_wind_component                 ecmwf.matchup.nwp.fc.U10
matchup.nwp.fc.10m_north_wind_component                ecmwf.matchup.nwp.fc.V10
matchup.nwp.fc.2m_temperature                          ecmwf.matchup.nwp.fc.T2
matchup.nwp.fc.2m_dew_point                            ecmwf.matchup.nwp.fc.D2
matchup.nwp.fc.downward_surface_solar_radiation        ecmwf.matchup.nwp.fc.SSRD
matchup.nwp.fc.downward_surface_thermal_radiation      ecmwf.matchup.nwp.fc.STRD
matchup.nwp.fc.surface_solar_radiation                 ecmwf.matchup.nwp.fc.SSR
matchup.nwp.fc.surface_thermal_radiation               ecmwf.matchup.nwp.fc.STR
matchup.nwp.fc.turbulent_stress_east                   ecmwf.matchup.nwp.fc.EWSS
matchup.nwp.fc.turbulent_stress_north                  ecmwf.matchup.nwp.fc.NSSS
matchup.nwp.fc.evaporation                             ecmwf.matchup.nwp.fc.E
matchup.nwp.fc.total_precipitation                     ecmwf.matchup.nwp.fc.TP
matchup.nwp.fc.t0                                      ecmwf.matchup.nwp.fc.t0


### ATSR1 L1b ATS

atsr.1.time                                            sub_atsr.1.atsr.1.time
atsr.1.dtime                                           sub_atsr.1.atsr.1.dtime
atsr.1.latitude                                        sub_atsr.1.atsr.1.latitude
atsr.1.longitude                                       sub_atsr.1.atsr.1.longitude
atsr.1.reflectance_55_nadir                            sub_atsr.1.atsr.1.reflectance_55_nadir
atsr.1.reflectance_55_forward                          sub_atsr.1.atsr.1.reflectance_55_forward
atsr.1.reflectance_66_nadir                            sub_atsr.1.atsr.1.reflectance_66_nadir
atsr.1.reflectance_66_forward                          sub_atsr.1.atsr.1.reflectance_66_forward
atsr.1.reflectance_87_nadir                            sub_atsr.1.atsr.1.reflectance_87_nadir
atsr.1.reflectance_87_forward                          sub_atsr.1.atsr.1.reflectance_87_forward
atsr.1.reflectance_16_nadir                            sub_atsr.1.atsr.1.reflectance_16_nadir
atsr.1.reflectance_16_forward                          sub_atsr.1.atsr.1.reflectance_16_forward
atsr.1.brightness_temperature_37_nadir                 sub_atsr.1.atsr.1.brightness_temperature_37_nadir
atsr.1.brightness_temperature_37_forward               sub_atsr.1.atsr.1.brightness_temperature_37_forward
atsr.1.brightness_temperature_11_nadir                 sub_atsr.1.atsr.1.brightness_temperature_11_nadir
atsr.1.brightness_temperature_11_forward               sub_atsr.1.atsr.1.brightness_temperature_11_forward
atsr.1.brightness_temperature_12_nadir                 sub_atsr.1.atsr.1.brightness_temperature_12_nadir
atsr.1.brightness_temperature_12_forward               sub_atsr.1.atsr.1.brightness_temperature_12_forward
atsr.1.detector_temperature_12                         sub_atsr.1.atsr.1.detector_temperature_12
atsr.1.confidence_word_nadir                           sub_atsr.1.atsr.1.confidence_word_nadir
atsr.1.confidence_word_forward                         sub_atsr.1.atsr.1.confidence_word_forward
atsr.1.cloud_flags_nadir                               sub_atsr.1.atsr.1.cloud_flags_nadir
atsr.1.cloud_flags_forward                             sub_atsr.1.atsr.1.cloud_flags_forward
atsr.1.solar_zenith_angle_nadir                        sub_atsr.1.atsr.1.solar_zenith_angle_nadir
atsr.1.solar_zenith_angle_forward                      sub_atsr.1.atsr.1.solar_zenith_angle_forward
atsr.1.satellite_zenith_angle_nadir                    sub_atsr.1.atsr.1.satellite_zenith_angle_nadir
atsr.1.satellite_zenith_angle_forward                  sub_atsr.1.atsr.1.satellite_zenith_angle_forward
atsr.1.sun_azimuth_angle_nadir                         sub_atsr.1.atsr.1.sun_azimuth_angle_nadir
atsr.1.sun_azimuth_angle_forward                       sub_atsr.1.atsr.1.sun_azimuth_angle_forward
atsr.1.view_azimuth_angle_nadir                        sub_atsr.1.atsr.1.view_azimuth_angle_nadir
atsr.1.view_azimuth_angle_forward                      sub_atsr.1.atsr.1.view_azimuth_angle_forward
atsr.1.l1b_filename                                    sub_atsr.1.atsr.1.l1b_filename
atsr.1.VC1_filename                                    sub_atsr.1.atsr.1.VC1_filename
atsr.1.GC1_filename                                    sub_atsr.1.atsr.1.GC1_filename
atsr.1.matchup_elem                                    sub_atsr.1.atsr.1.matchup_elem
atsr.1.matchup_line                                    sub_atsr.1.atsr.1.matchup_line
atsr.1.nwp.seaice_fraction                             nwp_atsr.1.atsr.1.nwp.CI
atsr.1.nwp.snow_albedo                                 nwp_atsr.1.atsr.1.nwp.ASN
atsr.1.nwp.sea_surface_temperature                     nwp_atsr.1.atsr.1.nwp.SSTK
atsr.1.nwp.total_column_water_vapour                   nwp_atsr.1.atsr.1.nwp.TCWV
atsr.1.nwp.mean_sea_level_pressure                     nwp_atsr.1.atsr.1.nwp.MSL
atsr.1.nwp.total_cloud_cover                           nwp_atsr.1.atsr.1.nwp.TCC
atsr.1.nwp.10m_east_wind_component                     nwp_atsr.1.atsr.1.nwp.U10
atsr.1.nwp.10m_north_wind_component                    nwp_atsr.1.atsr.1.nwp.V10
atsr.1.nwp.2m_temperature                              nwp_atsr.1.atsr.1.nwp.T2
atsr.1.nwp.2m_dew_point                                nwp_atsr.1.atsr.1.nwp.D2
atsr.1.nwp.albedo                                      nwp_atsr.1.atsr.1.nwp.AL
atsr.1.nwp.skin_temperature                            nwp_atsr.1.atsr.1.nwp.SKT
atsr.1.nwp.log_surface_pressure                        nwp_atsr.1.atsr.1.nwp.LNSP
atsr.1.nwp.temperature_profile                         nwp_atsr.1.atsr.1.nwp.T
atsr.1.nwp.water_vapour_profile                        nwp_atsr.1.atsr.1.nwp.Q
atsr.1.nwp.ozone_profile                               nwp_atsr.1.atsr.1.nwp.O3
# TODO - check arc MMD file dimensions
atsr.1.cloud_mask_Bayes_nadir_min                      arc_atsr.1.atsr.1.cloud_mask.bayes_min_nadir                    MatchupDimension,AtsrNwpXyDimensions
atsr.1.cloud_mask_Bayes_nadir_max                      arc_atsr.1.atsr.1.cloud_mask.bayes_max_nadir                    MatchupDimension,AtsrNwpXyDimensions
atsr.1.cloud_mask_Bayes_dual_min                       arc_atsr.1.atsr.1.cloud_mask.bayes_min_dual                     MatchupDimension,AtsrNwpXyDimensions
atsr.1.cloud_mask_Bayes_dual_max                       arc_atsr.1.atsr.1.cloud_mask.bayes_max_dual                     MatchupDimension,AtsrNwpXyDimensions
atsr.1.saharan_dust_index_2                            arc_atsr.1.atsr.1.saharan_dust_index_2                          MatchupDimension,AtsrNwpXyDimensions
atsr.1.saharan_dust_index_3                            arc_atsr.1.atsr.1.saharan_dust_index_3                          MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.brightness_temperature_37_nadir             arc_atsr.1.atsr.1.ffm.brightness_temperature_37_nadir           MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.1.ffm.brightness_temperature_37_forward           arc_atsr.1.atsr.1.ffm.brightness_temperature_37_forward         MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.1.ffm.brightness_temperature_11_nadir             arc_atsr.1.atsr.1.ffm.brightness_temperature_11_nadir           MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.1.ffm.brightness_temperature_11_forward           arc_atsr.1.atsr.1.ffm.brightness_temperature_11_forward         MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.1.ffm.brightness_temperature_12_nadir             arc_atsr.1.atsr.1.ffm.brightness_temperature_12_nadir           MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.1.ffm.brightness_temperature_12_forward           arc_atsr.1.atsr.1.ffm.brightness_temperature_12_forward         MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.1.ffm.dbt_dsst_37_nadir                           arc_atsr.1.atsr.1.ffm.dbt_dsst_37_nadir                         MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dsst_37_forward                         arc_atsr.1.atsr.1.ffm.dbt_dsst_37_forward                       MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dsst_11_nadir                           arc_atsr.1.atsr.1.ffm.dbt_dsst_11_nadir                         MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dsst_11_forward                         arc_atsr.1.atsr.1.ffm.dbt_dsst_11_forward                       MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dsst_12_nadir                           arc_atsr.1.atsr.1.ffm.dbt_dsst_12_nadir                         MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dsst_12_forward                         arc_atsr.1.atsr.1.ffm.dbt_dsst_12_forward                       MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dtcwv_37_nadir                          arc_atsr.1.atsr.1.ffm.dbt_dtcwv_37_nadir                        MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dtcwv_37_forward                        arc_atsr.1.atsr.1.ffm.dbt_dtcwv_37_forward                      MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dtcwv_11_nadir                          arc_atsr.1.atsr.1.ffm.dbt_dtcwv_11_nadir                        MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dtcwv_11_forward                        arc_atsr.1.atsr.1.ffm.dbt_dtcwv_11_forward                      MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dtcwv_12_nadir                          arc_atsr.1.atsr.1.ffm.dbt_dtcwv_12_nadir                        MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dtcwv_12_forward                        arc_atsr.1.atsr.1.ffm.dbt_dtcwv_12_forward                      MatchupDimension,AtsrNwpXyDimensions
atsr.1.land_sea_mask                                   sub_atsr.1.atsr.1.land_sea_mask


### aai

aai.latitude                                           aai.lat                                                         MatchupDimension,AaiImageDimensions,LatType
aai.longitude                                          aai.lon                                                         MatchupDimension,AaiImageDimensions,LonType
aai.absorbing_aerosol_index                            aai.aerosol_absorbing_index                                     MatchupDimension,AaiImageDimensions,PercentUnit
aai.land_sea_mask                                      Implicit                                                        AaiSensor,MatchupDimension,AaiImageDimensions,LandSeaMask
aai.filename                                           Implicit                                                        AaiSensor,MatchupDimension,FilenameDimension,ObservationFilename
aai.matchup_elem                                       Implicit                                                        AaiSensor,MatchupDimension,MatchupElem
aai.matchup_line                                       Implicit                                                        AaiSensor,MatchupDimension,MatchupLine


### seaice

seaice.latitude                                        seaice.lat                                                      MatchupDimension,SeaIceImageDimensions,LatType
seaice.longitude                                       seaice.lon                                                      MatchupDimension,SeaIceImageDimensions,LonType
seaice.concentration                                   seaice.sea_ice_concentration                                    MatchupDimension,SeaIceImageDimensions
seaice.land_sea_mask                                   Implicit                                                        SeaiceSensor,MatchupDimension,SeaIceImageDimensions,LandSeaMask
seaice.filename                                        Implicit                                                        SeaiceSensor,MatchupDimension,FilenameDimension,ObservationFilename
seaice.matchup_elem                                    Implicit                                                        SeaiceSensor,MatchupDimension,MatchupElem
seaice.matchup_line                                    Implicit                                                        SeaiceSensor,MatchupDimension,MatchupLine


### insitu

insitu.time                                            Implicit                                                        InsituSensor,MatchupDimension,InsituDimension,InsituTime
insitu.latitude                                        history.insitu.lat                                              InsituSensor,MatchupDimension,InsituDimension,LatType
insitu.longitude                                       history.insitu.lon                                              InsituSensor,MatchupDimension,InsituDimension,LonType
insitu.sea_surface_temperature                         history.insitu.sea_surface_temperature                          InsituSensor,MatchupDimension,InsituDimension,ToKelvin,ToSeaSurfaceTemperature
insitu.sst_uncertainty                                 history.insitu.sst_uncertainty                                  InsituSensor,MatchupDimension,InsituDimension,ToKelvin,ToSeaSurfaceTemperature
insitu.mohc_id                                         history.insitu.mohc_id                                          InsituSensor,MatchupDimension,InsituDimension
