#
# Copyright (C) 2014 Brockmann Consult GmbH (info@brockmann-consult.de)
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation; either version 3 of the License, or (at your option)
# any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, see http://www.gnu.org/licenses/
#

# column 1: target name
# column 2: source name
# column 3: rule specification

### matchup

matchup.id                                             Implicit                                                        MatchupDimension,MatchupId
matchup.time                                           Implicit                                                        MatchupDimension,TimeType,ReferenceTime
matchup.longitude                                      Implicit                                                        MatchupDimension,LonType,MatchupLon
matchup.latitude                                       Implicit                                                        MatchupDimension,LatType,MatchupLat

matchup.insitu.callsign                                Implicit                                                        MatchupDimension,CallsignDimension,CharType,MatchupCallsign
matchup.insitu.dataset                                 Implicit                                                        MatchupInsituDataset
matchup.reference_flag                                 Implicit                                                        MatchupReferenceFlag
matchup.sensor_list                                    Implicit                                                        MatchupPattern


### AVHRR NOAA-18

avhrr.n18.time                                         Implicit                                                        Avhrr18Sensor,MatchupDimension,TimeType,ObservationTime
avhrr.n18.dtime                                        Implicit                                                        Avhrr18Sensor,MatchupDimension,AvhrrYDimension,DTimeType,DTime
avhrr.n18.latitude                                     orb_avhrr.n18.lat                                               MatchupDimension,AvhrrImageDimensions,LatType
avhrr.n18.longitude                                    orb_avhrr.n18.lon                                               MatchupDimension,AvhrrImageDimensions,LonType
avhrr.n18.reflectance_1                                orb_avhrr.n18.ch1                                               MatchupDimension,AvhrrImageDimensions,ToReflectance
avhrr.n18.reflectance_2                                orb_avhrr.n18.ch2                                               MatchupDimension,AvhrrImageDimensions,ToReflectance
avhrr.n18.brightness_temperature_3b                    orb_avhrr.n18.ch3b                                              MatchupDimension,AvhrrImageDimensions,ToBrightnessTemperature
avhrr.n18.brightness_temperature_4                     orb_avhrr.n18.ch4                                               MatchupDimension,AvhrrImageDimensions,ToBrightnessTemperature
avhrr.n18.brightness_temperature_5                     orb_avhrr.n18.ch5                                               MatchupDimension,AvhrrImageDimensions,ToBrightnessTemperature
avhrr.n18.solar_zenith_angle                           orb_avhrr.n18.solar_zenith_angle                                MatchupDimension,AvhrrImageDimensions,ZenithAngle
avhrr.n18.satellite_zenith_angle                       orb_avhrr.n18.satellite_zenith_angle                            MatchupDimension,AvhrrImageDimensions,ZenithAngle
avhrr.n18.relative_azimuth_angle                       orb_avhrr.n18.relative_azimuth_angle                            MatchupDimension,AvhrrImageDimensions,AzimuthAngle
avhrr.n18.ict_temperature                              orb_avhrr.n18.ict_temp                                          MatchupDimension,AvhrrYDimension,RemoveXDimension
avhrr.n18.bad_data                                     orb_avhrr.n18.qual_flags                                        MatchupDimension,AvhrrImageDimensions
avhrr.n18.cloud_flag                                   orb_avhrr.n18.cloud_mask                                        MatchupDimension,AvhrrImageDimensions
avhrr.n18.cloud_probability                            orb_avhrr.n18.cloud_probability                                 MatchupDimension,AvhrrImageDimensions
avhrr.n18.l1b_filename                                 Implicit                                                        Avhrr18Sensor,MatchupDimension,FilenameDimension,GacFilename
avhrr.n18.matchup_elem                                 Implicit                                                        Avhrr18Sensor,MatchupDimension,MatchupElem
avhrr.n18.matchup_line                                 Implicit                                                        Avhrr18Sensor,MatchupDimension,MatchupLine
avhrr.n18.land_sea_mask                                Implicit                                                        Avhrr18Sensor,MatchupDimension,AvhrrImageDimensions,LandSeaMask
