#
# Copyright (C) 2015 Brockmann Consult GmbH (info@brockmann-consult.de)
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation; either version 3 of the License, or (at your option)
# any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, see http://www.gnu.org/licenses/
#

# column 1: target name
# column 2: source name
# column 3: rule specification

### matchup

matchup.id                                             Implicit                                                        MatchupDimension,MatchupId
matchup.time                                           Implicit                                                        MatchupDimension,TimeType,ReferenceTime
matchup.longitude                                      Implicit                                                        MatchupDimension,LonType,MatchupLon
matchup.latitude                                       Implicit                                                        MatchupDimension,LatType,MatchupLat

matchup.insitu.callsign                                Implicit                                                        MatchupDimension,CallsignDimension,CharType,MatchupCallsign
matchup.insitu.dataset                                 Implicit                                                        MatchupInsituDataset
matchup.reference_flag                                 Implicit                                                        MatchupReferenceFlag
matchup.dataset_id                                     Implicit                                                        MatchupPattern

### AVHRR NOAA-09

avhrr.n09.time                                         Implicit                                                        Avhrr9Sensor,MatchupDimension,TimeType,ObservationTime
avhrr.n09.dtime                                        Implicit                                                        Avhrr9Sensor,MatchupDimension,AvhrrYDimension,DTimeType,DTime
avhrr.n09.latitude                                     orb_avhrr.n09.lat                                               MatchupDimension,AvhrrImageDimensions,LatType
avhrr.n09.longitude                                    orb_avhrr.n09.lon                                               MatchupDimension,AvhrrImageDimensions,LonType
avhrr.n09.reflectance_1                                orb_avhrr.n09.ch1                                               MatchupDimension,AvhrrImageDimensions,ToReflectance
avhrr.n09.reflectance_2                                orb_avhrr.n09.ch2                                               MatchupDimension,AvhrrImageDimensions,ToReflectance
avhrr.n09.brightness_temperature_3b                    orb_avhrr.n09.ch3b                                              MatchupDimension,AvhrrImageDimensions,ToReflectance
avhrr.n09.brightness_temperature_4                     orb_avhrr.n09.ch4                                               MatchupDimension,AvhrrImageDimensions,ToBrightnessTemperature
avhrr.n09.brightness_temperature_5                     orb_avhrr.n09.ch5                                               MatchupDimension,AvhrrImageDimensions,ToBrightnessTemperature
avhrr.n09.solar_zenith_angle                           orb_avhrr.n09.solar_zenith_angle                                MatchupDimension,AvhrrImageDimensions,ZenithAngle
avhrr.n09.satellite_zenith_angle                       orb_avhrr.n09.satellite_zenith_angle                            MatchupDimension,AvhrrImageDimensions,ZenithAngle
avhrr.n09.relative_azimuth_angle                       orb_avhrr.n09.relative_azimuth_angle                            MatchupDimension,AvhrrImageDimensions,AzimuthAngle
avhrr.n09.ict_temperature                              orb_avhrr.n09.ict_temp                                          MatchupDimension,AvhrrYDimension,RemoveXDimension
avhrr.n09.bad_data                                     orb_avhrr.n09.qual_flags                                        MatchupDimension,AvhrrImageDimensions
avhrr.n09.cloud_flag                                   orb_avhrr.n09.cloud_mask                                        MatchupDimension,AvhrrImageDimensions
avhrr.n09.cloud_probability                            orb_avhrr.n09.cloud_probability                                 MatchupDimension,AvhrrImageDimensions
avhrr.n09.l1b_record_number                            orb_avhrr.n09.l1b_line_number                                   MatchupDimension,AvhrrYDimension,RemoveXDimension
avhrr.n09.l1b_filename                                 Implicit                                                        Avhrr9Sensor,MatchupDimension,FilenameDimension,GacFilename
avhrr.n09.l1c_filename                                 Implicit                                                        Avhrr9Sensor,MatchupDimension,FilenameDimension,ObservationFilename
avhrr.n09.matchup_elem                                 Implicit                                                        Avhrr9Sensor,MatchupDimension,MatchupElem
avhrr.n09.matchup_line                                 Implicit                                                        Avhrr9Sensor,MatchupDimension,MatchupLine
avhrr.n09.land_sea_mask                                Implicit                                                        Avhrr9Sensor,MatchupDimension,AvhrrImageDimensions,LandSeaMask
