#
# Copyright (c) 2015 Brockmann Consult GmbH (info@brockmann-consult.de)
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation; either version 3 of the License, or (at your option)
# any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, see http://www.gnu.org/licenses/
#

# column 1: target name
# column 2: source name
# column 3: rule specification

### matchup

matchup.id                                             Implicit                                                        MatchupDimension,MatchupId
matchup.time                                           Implicit                                                        MatchupDimension,TimeType,ReferenceTime
matchup.longitude                                      Implicit                                                        MatchupDimension,LonType,MatchupLon
matchup.latitude                                       Implicit                                                        MatchupDimension,LatType,MatchupLat

matchup.insitu.callsign                                Implicit                                                        MatchupDimension,CallsignDimension,CharType,MatchupCallsign
matchup.insitu.dataset                                 Implicit                                                        MatchupInsituDataset
matchup.reference_flag                                 Implicit                                                        MatchupReferenceFlag
matchup.dataset_id                                     Implicit                                                        MatchupPattern


### AVHRR METOP-A

avhrr_f.m02.time                                       Implicit                                                        AvhrrFracM2Sensor,MatchupDimension,TimeType,ObservationTime
avhrr_f.m02.dtime                                      Implicit                                                        AvhrrFracM2Sensor,MatchupDimension,AvhrrFracYDimension,DTimeType,DTime
avhrr_f.m02.latitude                                   orb_avhrr_f.m02.latitude                                        MatchupDimension,AvhrrFracImageDimensions,LatType
avhrr_f.m02.longitude                                  orb_avhrr_f.m02.longitude                                       MatchupDimension,AvhrrFracImageDimensions,LonType
avhrr_f.m02.reflectance_1                              orb_avhrr_f.m02.reflec_1                                        MatchupDimension,AvhrrFracImageDimensions,ToReflectance
avhrr_f.m02.reflectance_2                              orb_avhrr_f.m02.reflec_2                                        MatchupDimension,AvhrrFracImageDimensions,ToReflectance
avhrr_f.m02.reflectance_3a                             orb_avhrr_f.m02.reflec_3a                                       MatchupDimension,AvhrrFracImageDimensions,ToReflectance
avhrr_f.m02.brightness_temperature_3b                  orb_avhrr_f.m02.temp_3b                                         MatchupDimension,AvhrrFracImageDimensions,ToBrightnessTemperature
avhrr_f.m02.brightness_temperature_4                   orb_avhrr_f.m02.temp_4                                          MatchupDimension,AvhrrFracImageDimensions,ToBrightnessTemperature
avhrr_f.m02.brightness_temperature_5                   orb_avhrr_f.m02.temp_5                                          MatchupDimension,AvhrrFracImageDimensions,ToBrightnessTemperature
avhrr_f.m02.solar_zenith_angle                         orb_avhrr_f.m02.sun_zenith                                      MatchupDimension,AvhrrFracImageDimensions,ZenithAngle
avhrr_f.m02.satellite_zenith_angle                     orb_avhrr_f.m02.view_zenith                                     MatchupDimension,AvhrrFracImageDimensions,ZenithAngle
avhrr_f.m02.solar_azimuth_angle                        orb_avhrr_f.m02.sun_azimuth                                     MatchupDimension,AvhrrFracImageDimensions,AzimuthAngle
avhrr_f.m02.satellite_azimuth_angle                    orb_avhrr_f.m02.view_azimuth                                    MatchupDimension,AvhrrFracImageDimensions,AzimuthAngle
avhrr_f.m02.relative_azimuth_angle                     orb_avhrr_f.m02.delta_azimuth                                   MatchupDimension,AvhrrFracImageDimensions,AzimuthAngle
avhrr_f.m02.ict_temperature                            orb_avhrr_f.m02.internal_target_temperature                     MatchupDimension,AvhrrFracYDimension,RemoveXDimension
avhrr_f.m02.bad_data                                   orb_avhrr_f.m02.flags                                           MatchupDimension,AvhrrFracImageDimensions
avhrr_f.m02.cloud_flags                                orb_avhrr_f.m02.cloud_flags                                     MatchupDimension,AvhrrFracImageDimensions
avhrr_f.m02.l1b_filename                               Implicit                                                        AvhrrFracM2Sensor,MatchupDimension,FilenameDimension,ObservationFilename
avhrr_f.m02.matchup_elem                               Implicit                                                        AvhrrFracM2Sensor,MatchupDimension,MatchupElem
avhrr_f.m02.matchup_line                               Implicit                                                        AvhrrFracM2Sensor,MatchupDimension,MatchupLine
avhrr_f.m02.land_sea_mask                              Implicit                                                        AvhrrFracM2Sensor,MatchupDimension,AvhrrFracImageDimensions,AvhrrFracLandSeaMask
