#
# Copyright (C) 2014 Brockmann Consult GmbH (info@brockmann-consult.de)
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation; either version 3 of the License, or (at your option)
# any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, see http://www.gnu.org/licenses/
#

# column 1: target name
# column 2: source name
# column 3: rule specification

### matchup

matchup.id                                             sub_avhrr.n11.matchup.id
matchup.time                                           sub_avhrr.n11.matchup.time
matchup.longitude                                      sub_avhrr.n11.matchup.longitude
matchup.latitude                                       sub_avhrr.n11.matchup.latitude

matchup.insitu.callsign                                sub_avhrr.n11.matchup.insitu.callsign
matchup.insitu.dataset                                 sub_avhrr.n11.matchup.insitu.dataset
matchup.reference_flag                                 sub_avhrr.n11.matchup.reference_flag
matchup.sensor_list                                    sub_avhrr.n11.matchup.sensor_list

matchup.nwp.an.sea_ice_fraction                        ecmwf.matchup.nwp.an.CI
matchup.nwp.an.sea_surface_temperature                 ecmwf.matchup.nwp.an.SSTK
matchup.nwp.an.10m_east_wind_component                 ecmwf.matchup.nwp.an.U10
matchup.nwp.an.10m_north_wind_component                ecmwf.matchup.nwp.an.V10
matchup.nwp.an.t0                                      ecmwf.matchup.nwp.an.t0
matchup.nwp.fc.sea_surface_temperature                 ecmwf.matchup.nwp.fc.SSTK
matchup.nwp.fc.surface_sensible_heat_flux              ecmwf.matchup.nwp.fc.SSHF
matchup.nwp.fc.surface_latent_heat_flux                ecmwf.matchup.nwp.fc.SLHF
matchup.nwp.fc.mean_sea_level_pressure                 ecmwf.matchup.nwp.fc.MSL
matchup.nwp.fc.boundary_layer_height                   ecmwf.matchup.nwp.fc.BLH
matchup.nwp.fc.10m_east_wind_component                 ecmwf.matchup.nwp.fc.U10
matchup.nwp.fc.10m_north_wind_component                ecmwf.matchup.nwp.fc.V10
matchup.nwp.fc.2m_temperature                          ecmwf.matchup.nwp.fc.T2
matchup.nwp.fc.2m_dew_point                            ecmwf.matchup.nwp.fc.D2
matchup.nwp.fc.downward_surface_solar_radiation        ecmwf.matchup.nwp.fc.SSRD
matchup.nwp.fc.downward_surface_thermal_radiation      ecmwf.matchup.nwp.fc.STRD
matchup.nwp.fc.surface_solar_radiation                 ecmwf.matchup.nwp.fc.SSR
matchup.nwp.fc.surface_thermal_radiation               ecmwf.matchup.nwp.fc.STR
matchup.nwp.fc.turbulent_stress_east                   ecmwf.matchup.nwp.fc.EWSS
matchup.nwp.fc.turbulent_stress_north                  ecmwf.matchup.nwp.fc.NSSS
matchup.nwp.fc.evaporation                             ecmwf.matchup.nwp.fc.E
matchup.nwp.fc.total_precipitation                     ecmwf.matchup.nwp.fc.TP
matchup.nwp.fc.t0                                      ecmwf.matchup.nwp.fc.t0


### AVHRR NOAA-11

avhrr.n11.time                                         sub_avhrr.n11.avhrr.n11.time
avhrr.n11.dtime                                        sub_avhrr.n11.avhrr.n11.dtime
avhrr.n11.latitude                                     sub_avhrr.n11.avhrr.n11.latitude
avhrr.n11.longitude                                    sub_avhrr.n11.avhrr.n11.longitude
avhrr.n11.reflectance_1                                sub_avhrr.n11.avhrr.n11.reflectance_1
avhrr.n11.reflectance_2                                sub_avhrr.n11.avhrr.n11.reflectance_2
# TODO - avhrr.n11.reflectance_3a                               sub_avhrr.n11.avhrr.n11.reflectance_3a
avhrr.n11.brightness_temperature_3b                    sub_avhrr.n11.avhrr.n11.brightness_temperature_3b
avhrr.n11.brightness_temperature_4                     sub_avhrr.n11.avhrr.n11.brightness_temperature_4
avhrr.n11.brightness_temperature_5                     sub_avhrr.n11.avhrr.n11.brightness_temperature_5
avhrr.n11.bad_data                                     sub_avhrr.n11.avhrr.n11.bad_data
avhrr.n11.cloud_flag                                   sub_avhrr.n11.avhrr.n11.cloud_flag
avhrr.n11.solar_zenith_angle                           sub_avhrr.n11.avhrr.n11.solar_zenith_angle
avhrr.n11.satellite_zenith_angle                       sub_avhrr.n11.avhrr.n11.satellite_zenith_angle
avhrr.n11.relative_azimuth_angle                       sub_avhrr.n11.avhrr.n11.relative_azimuth_angle
avhrr.n11.l1b_filename                                 sub_avhrr.n11.avhrr.n11.l1b_filename
avhrr.n11.matchup_elem                                 sub_avhrr.n11.avhrr.n11.matchup_elem
avhrr.n11.matchup_line                                 sub_avhrr.n11.avhrr.n11.matchup_line
avhrr.n11.nwp.seaice_fraction                          nwp_avhrr.n11.avhrr.n11.nwp.CI                                 NoStandardName
avhrr.n11.nwp.snow_albedo                              nwp_avhrr.n11.avhrr.n11.nwp.ASN                                NoStandardName
avhrr.n11.nwp.sea_surface_temperature                  nwp_avhrr.n11.avhrr.n11.nwp.SSTK                               NoStandardName
avhrr.n11.nwp.total_column_water_vapour                nwp_avhrr.n11.avhrr.n11.nwp.TCWV
avhrr.n11.nwp.mean_sea_level_pressure                  nwp_avhrr.n11.avhrr.n11.nwp.MSL
avhrr.n11.nwp.total_cloud_cover                        nwp_avhrr.n11.avhrr.n11.nwp.TCC
avhrr.n11.nwp.10m_east_wind_component                  nwp_avhrr.n11.avhrr.n11.nwp.U10
avhrr.n11.nwp.10m_north_wind_component                 nwp_avhrr.n11.avhrr.n11.nwp.V10
avhrr.n11.nwp.2m_temperature                           nwp_avhrr.n11.avhrr.n11.nwp.T2
avhrr.n11.nwp.2m_dew_point                             nwp_avhrr.n11.avhrr.n11.nwp.D2
avhrr.n11.nwp.albedo                                   nwp_avhrr.n11.avhrr.n11.nwp.AL
avhrr.n11.nwp.skin_temperature                         nwp_avhrr.n11.avhrr.n11.nwp.SKT
avhrr.n11.nwp.log_surface_pressure                     nwp_avhrr.n11.avhrr.n11.nwp.LNSP
avhrr.n11.nwp.temperature_profile                      nwp_avhrr.n11.avhrr.n11.nwp.T
avhrr.n11.nwp.water_vapour_profile                     nwp_avhrr.n11.avhrr.n11.nwp.Q
avhrr.n11.nwp.ozone_profile                            nwp_avhrr.n11.avhrr.n11.nwp.O3
avhrr.n11.ffm.brightness_temperature_3b                arc_avhrr.n11.avhrr.n11.ffm.brightness_temperature_3b          MatchupDimension,AvhrrNwpXyDimensions,ToBrightnessTemperature
avhrr.n11.ffm.brightness_temperature_4                 arc_avhrr.n11.avhrr.n11.ffm.brightness_temperature_4           MatchupDimension,AvhrrNwpXyDimensions,ToBrightnessTemperature
avhrr.n11.ffm.brightness_temperature_5                 arc_avhrr.n11.avhrr.n11.ffm.brightness_temperature_5           MatchupDimension,AvhrrNwpXyDimensions,ToBrightnessTemperature
avhrr.n11.ffm.dbt_dsst_3b                              arc_avhrr.n11.avhrr.n11.ffm.dbt_dsst_3b                        MatchupDimension,AvhrrNwpXyDimensions
avhrr.n11.ffm.dbt_dsst_4                               arc_avhrr.n11.avhrr.n11.ffm.dbt_dsst_4                         MatchupDimension,AvhrrNwpXyDimensions
avhrr.n11.ffm.dbt_dsst_5                               arc_avhrr.n11.avhrr.n11.ffm.dbt_dsst_5                         MatchupDimension,AvhrrNwpXyDimensions
avhrr.n11.ffm.dbt_dtcwv_3b                             arc_avhrr.n11.avhrr.n11.ffm.dbt_dtcwv_3b                       MatchupDimension,AvhrrNwpXyDimensions
avhrr.n11.ffm.dbt_dtcwv_4                              arc_avhrr.n11.avhrr.n11.ffm.dbt_dtcwv_4                        MatchupDimension,AvhrrNwpXyDimensions
avhrr.n11.ffm.dbt_dtcwv_5                              arc_avhrr.n11.avhrr.n11.ffm.dbt_dtcwv_5                        MatchupDimension,AvhrrNwpXyDimensions
avhrr.n11.land_sea_mask                                sub_avhrr.n11.avhrr.n11.land_sea_mask


### aai

aai.latitude                                           aai.lat                                                         MatchupDimension,AaiImageDimensions,LatType
aai.longitude                                          aai.lon                                                         MatchupDimension,AaiImageDimensions,LonType
aai.absorbing_aerosol_index                            aai.aerosol_absorbing_index                                     MatchupDimension,AaiImageDimensions,PercentUnit
aai.land_sea_mask                                      Implicit                                                        AaiSensor,MatchupDimension,AaiImageDimensions,LandSeaMask
aai.filename                                           Implicit                                                        AaiSensor,MatchupDimension,FilenameDimension,ObservationFilename
aai.matchup_elem                                       Implicit                                                        AaiSensor,MatchupDimension,MatchupElem
aai.matchup_line                                       Implicit                                                        AaiSensor,MatchupDimension,MatchupLine


### seaice

seaice.latitude                                        seaice.lat                                                      MatchupDimension,SeaIceImageDimensions,LatType
seaice.longitude                                       seaice.lon                                                      MatchupDimension,SeaIceImageDimensions,LonType
seaice.concentration                                   seaice.sea_ice_concentration                                    MatchupDimension,SeaIceImageDimensions
seaice.land_sea_mask                                   Implicit                                                        SeaiceSensor,MatchupDimension,SeaIceImageDimensions,LandSeaMask
seaice.filename                                        Implicit                                                        SeaiceSensor,MatchupDimension,FilenameDimension,ObservationFilename
seaice.matchup_elem                                    Implicit                                                        SeaiceSensor,MatchupDimension,MatchupElem
seaice.matchup_line                                    Implicit                                                        SeaiceSensor,MatchupDimension,MatchupLine


### insitu

insitu.time                                            Implicit                                                        InsituSensor,MatchupDimension,InsituDimension,InsituTime
insitu.latitude                                        history.insitu.lat                                              InsituSensor,MatchupDimension,InsituDimension,LatType
insitu.longitude                                       history.insitu.lon                                              InsituSensor,MatchupDimension,InsituDimension,LonType
insitu.sea_surface_temperature                         history.insitu.sea_surface_temperature                          InsituSensor,MatchupDimension,InsituDimension,CelsiusToKelvin,ToSeaSurfaceTemperature
insitu.sst_uncertainty                                 history.insitu.sst_uncertainty                                  InsituSensor,MatchupDimension,InsituDimension,ToSeaSurfaceTemperatureUncertainty
insitu.mohc_id                                         history.insitu.mohc_id                                          InsituSensor,MatchupDimension,InsituDimension
