#
# Copyright (C) 2014 Brockmann Consult GmbH (info@brockmann-consult.de)
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation; either version 3 of the License, or (at your option)
# any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, see http://www.gnu.org/licenses/
#

# column 1: target name
# column 2: source name
# column 3: rule specification

### matchup

matchup.id                                             sub_atsr.3.matchup.id
matchup.time                                           sub_atsr.3.matchup.time
matchup.longitude                                      sub_atsr.3.matchup.longitude
matchup.latitude                                       sub_atsr.3.matchup.latitude

matchup.insitu.callsign                                sub_atsr.3.matchup.insitu.callsign
matchup.insitu.dataset                                 sub_atsr.3.matchup.insitu.dataset
matchup.reference_flag                                 sub_atsr.3.matchup.reference_flag
matchup.sensor_list                                    sub_atsr.3.matchup.sensor_list

matchup.nwp.an.sea_ice_fraction                        ecmwf.matchup.nwp.an.CI
matchup.nwp.an.sea_surface_temperature                 ecmwf.matchup.nwp.an.SSTK
matchup.nwp.an.10m_east_wind_component                 ecmwf.matchup.nwp.an.U10
matchup.nwp.an.10m_north_wind_component                ecmwf.matchup.nwp.an.V10
matchup.nwp.an.t0                                      ecmwf.matchup.nwp.an.t0
matchup.nwp.fc.sea_surface_temperature                 ecmwf.matchup.nwp.fc.SSTK
matchup.nwp.fc.surface_sensible_heat_flux              ecmwf.matchup.nwp.fc.SSHF
matchup.nwp.fc.surface_latent_heat_flux                ecmwf.matchup.nwp.fc.SLHF
matchup.nwp.fc.mean_sea_level_pressure                 ecmwf.matchup.nwp.fc.MSL
matchup.nwp.fc.boundary_layer_height                   ecmwf.matchup.nwp.fc.BLH
matchup.nwp.fc.10m_east_wind_component                 ecmwf.matchup.nwp.fc.U10
matchup.nwp.fc.10m_north_wind_component                ecmwf.matchup.nwp.fc.V10
matchup.nwp.fc.2m_temperature                          ecmwf.matchup.nwp.fc.T2
matchup.nwp.fc.2m_dew_point                            ecmwf.matchup.nwp.fc.D2
matchup.nwp.fc.downward_surface_solar_radiation        ecmwf.matchup.nwp.fc.SSRD
matchup.nwp.fc.downward_surface_thermal_radiation      ecmwf.matchup.nwp.fc.STRD
matchup.nwp.fc.surface_solar_radiation                 ecmwf.matchup.nwp.fc.SSR
matchup.nwp.fc.surface_thermal_radiation               ecmwf.matchup.nwp.fc.STR
matchup.nwp.fc.turbulent_stress_east                   ecmwf.matchup.nwp.fc.EWSS
matchup.nwp.fc.turbulent_stress_north                  ecmwf.matchup.nwp.fc.NSSS
matchup.nwp.fc.evaporation                             ecmwf.matchup.nwp.fc.E
matchup.nwp.fc.total_precipitation                     ecmwf.matchup.nwp.fc.TP
matchup.nwp.fc.t0                                      ecmwf.matchup.nwp.fc.t0


### ATSR1

atsr.1.time                                            sub_atsr.1.atsr.1.time
atsr.1.dtime                                           sub_atsr.1.atsr.1.dtime
atsr.1.latitude                                        sub_atsr.1.atsr.1.latitude
atsr.1.longitude                                       sub_atsr.1.atsr.1.longitude
atsr.1.reflectance_55_nadir                            sub_atsr.1.atsr.1.reflectance_55_nadir
atsr.1.reflectance_55_forward                          sub_atsr.1.atsr.1.reflectance_55_forward
atsr.1.reflectance_66_nadir                            sub_atsr.1.atsr.1.reflectance_66_nadir
atsr.1.reflectance_66_forward                          sub_atsr.1.atsr.1.reflectance_66_forward
atsr.1.reflectance_87_nadir                            sub_atsr.1.atsr.1.reflectance_87_nadir
atsr.1.reflectance_87_forward                          sub_atsr.1.atsr.1.reflectance_87_forward
atsr.1.reflectance_16_nadir                            sub_atsr.1.atsr.1.reflectance_16_nadir
atsr.1.reflectance_16_forward                          sub_atsr.1.atsr.1.reflectance_16_forward
atsr.1.brightness_temperature_37_nadir                 sub_atsr.1.atsr.1.brightness_temperature_37_nadir
atsr.1.brightness_temperature_37_forward               sub_atsr.1.atsr.1.brightness_temperature_37_forward
atsr.1.brightness_temperature_11_nadir                 sub_atsr.1.atsr.1.brightness_temperature_11_nadir
atsr.1.brightness_temperature_11_forward               sub_atsr.1.atsr.1.brightness_temperature_11_forward
atsr.1.brightness_temperature_12_nadir                 sub_atsr.1.atsr.1.brightness_temperature_12_nadir
atsr.1.brightness_temperature_12_forward               sub_atsr.1.atsr.1.brightness_temperature_12_forward
atsr.1.detector_temperature_12                         sub_atsr.1.atsr.1.detector_temperature_12
atsr.1.confidence_word_nadir                           sub_atsr.1.atsr.1.confidence_word_nadir
atsr.1.confidence_word_forward                         sub_atsr.1.atsr.1.confidence_word_forward
atsr.1.cloud_flags_nadir                               sub_atsr.1.atsr.1.cloud_flags_nadir
atsr.1.cloud_flags_forward                             sub_atsr.1.atsr.1.cloud_flags_forward
atsr.1.solar_zenith_angle_nadir                        sub_atsr.1.atsr.1.solar_zenith_angle_nadir
atsr.1.solar_zenith_angle_forward                      sub_atsr.1.atsr.1.solar_zenith_angle_forward
atsr.1.satellite_zenith_angle_nadir                    sub_atsr.1.atsr.1.satellite_zenith_angle_nadir
atsr.1.satellite_zenith_angle_forward                  sub_atsr.1.atsr.1.satellite_zenith_angle_forward
atsr.1.sun_azimuth_angle_nadir                         sub_atsr.1.atsr.1.sun_azimuth_angle_nadir
atsr.1.sun_azimuth_angle_forward                       sub_atsr.1.atsr.1.sun_azimuth_angle_forward
atsr.1.view_azimuth_angle_nadir                        sub_atsr.1.atsr.1.view_azimuth_angle_nadir
atsr.1.view_azimuth_angle_forward                      sub_atsr.1.atsr.1.view_azimuth_angle_forward
atsr.1.l1b_filename                                    sub_atsr.1.atsr.1.l1b_filename
atsr.1.VC1_filename                                    sub_atsr.1.atsr.1.VC1_filename
atsr.1.GC1_filename                                    sub_atsr.1.atsr.1.GC1_filename
atsr.1.matchup_elem                                    sub_atsr.1.atsr.1.matchup_elem
atsr.1.matchup_line                                    sub_atsr.1.atsr.1.matchup_line
atsr.1.nwp.seaice_fraction                             nwp_atsr.1.atsr.1.nwp.CI                                        NoStandardName
atsr.1.nwp.snow_albedo                                 nwp_atsr.1.atsr.1.nwp.ASN                                       NoStandardName
atsr.1.nwp.sea_surface_temperature                     nwp_atsr.1.atsr.1.nwp.SSTK                                      NoStandardName
atsr.1.nwp.total_column_water_vapour                   nwp_atsr.1.atsr.1.nwp.TCWV
atsr.1.nwp.mean_sea_level_pressure                     nwp_atsr.1.atsr.1.nwp.MSL
atsr.1.nwp.total_cloud_cover                           nwp_atsr.1.atsr.1.nwp.TCC
atsr.1.nwp.10m_east_wind_component                     nwp_atsr.1.atsr.1.nwp.U10
atsr.1.nwp.10m_north_wind_component                    nwp_atsr.1.atsr.1.nwp.V10
atsr.1.nwp.2m_temperature                              nwp_atsr.1.atsr.1.nwp.T2
atsr.1.nwp.2m_dew_point                                nwp_atsr.1.atsr.1.nwp.D2
atsr.1.nwp.albedo                                      nwp_atsr.1.atsr.1.nwp.AL
atsr.1.nwp.skin_temperature                            nwp_atsr.1.atsr.1.nwp.SKT
atsr.1.nwp.log_surface_pressure                        nwp_atsr.1.atsr.1.nwp.LNSP
atsr.1.nwp.temperature_profile                         nwp_atsr.1.atsr.1.nwp.T
atsr.1.nwp.water_vapour_profile                        nwp_atsr.1.atsr.1.nwp.Q
atsr.1.nwp.ozone_profile                               nwp_atsr.1.atsr.1.nwp.O3
atsr.1.cloud_mask_Bayes_nadir_min                      arc_atsr.1.atsr.1.cloud_mask.bayes_min_nadir                    MatchupDimension,AtsrNwpXyDimensions
atsr.1.cloud_mask_Bayes_nadir_max                      arc_atsr.1.atsr.1.cloud_mask.bayes_max_nadir                    MatchupDimension,AtsrNwpXyDimensions
atsr.1.cloud_mask_Bayes_dual_min                       arc_atsr.1.atsr.1.cloud_mask.bayes_min_dual                     MatchupDimension,AtsrNwpXyDimensions
atsr.1.cloud_mask_Bayes_dual_max                       arc_atsr.1.atsr.1.cloud_mask.bayes_max_dual                     MatchupDimension,AtsrNwpXyDimensions
atsr.1.saharan_dust_index_2                            arc_atsr.1.atsr.1.saharan_dust_index_2                          MatchupDimension,AtsrNwpXyDimensions
atsr.1.saharan_dust_index_3                            arc_atsr.1.atsr.1.saharan_dust_index_3                          MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.brightness_temperature_37_nadir             arc_atsr.1.atsr.1.ffm.brightness_temperature_37_nadir           MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.1.ffm.brightness_temperature_37_forward           arc_atsr.1.atsr.1.ffm.brightness_temperature_37_forward         MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.1.ffm.brightness_temperature_11_nadir             arc_atsr.1.atsr.1.ffm.brightness_temperature_11_nadir           MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.1.ffm.brightness_temperature_11_forward           arc_atsr.1.atsr.1.ffm.brightness_temperature_11_forward         MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.1.ffm.brightness_temperature_12_nadir             arc_atsr.1.atsr.1.ffm.brightness_temperature_12_nadir           MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.1.ffm.brightness_temperature_12_forward           arc_atsr.1.atsr.1.ffm.brightness_temperature_12_forward         MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.1.ffm.dbt_dsst_37_nadir                           arc_atsr.1.atsr.1.ffm.dbt_dsst_37_nadir                         MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dsst_37_forward                         arc_atsr.1.atsr.1.ffm.dbt_dsst_37_forward                       MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dsst_11_nadir                           arc_atsr.1.atsr.1.ffm.dbt_dsst_11_nadir                         MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dsst_11_forward                         arc_atsr.1.atsr.1.ffm.dbt_dsst_11_forward                       MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dsst_12_nadir                           arc_atsr.1.atsr.1.ffm.dbt_dsst_12_nadir                         MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dsst_12_forward                         arc_atsr.1.atsr.1.ffm.dbt_dsst_12_forward                       MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dtcwv_37_nadir                          arc_atsr.1.atsr.1.ffm.dbt_dtcwv_37_nadir                        MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dtcwv_37_forward                        arc_atsr.1.atsr.1.ffm.dbt_dtcwv_37_forward                      MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dtcwv_11_nadir                          arc_atsr.1.atsr.1.ffm.dbt_dtcwv_11_nadir                        MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dtcwv_11_forward                        arc_atsr.1.atsr.1.ffm.dbt_dtcwv_11_forward                      MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dtcwv_12_nadir                          arc_atsr.1.atsr.1.ffm.dbt_dtcwv_12_nadir                        MatchupDimension,AtsrNwpXyDimensions
atsr.1.ffm.dbt_dtcwv_12_forward                        arc_atsr.1.atsr.1.ffm.dbt_dtcwv_12_forward                      MatchupDimension,AtsrNwpXyDimensions
atsr.1.land_sea_mask                                   sub_atsr.1.atsr.1.land_sea_mask


### ATSR2

atsr.2.time                                            sub_atsr.2.atsr.2.time
atsr.2.dtime                                           sub_atsr.2.atsr.2.dtime
atsr.2.latitude                                        sub_atsr.2.atsr.2.latitude
atsr.2.longitude                                       sub_atsr.2.atsr.2.longitude
atsr.2.reflectance_55_nadir                            sub_atsr.2.atsr.2.reflectance_55_nadir
atsr.2.reflectance_55_forward                          sub_atsr.2.atsr.2.reflectance_55_forward
atsr.2.reflectance_66_nadir                            sub_atsr.2.atsr.2.reflectance_66_nadir
atsr.2.reflectance_66_forward                          sub_atsr.2.atsr.2.reflectance_66_forward
atsr.2.reflectance_87_nadir                            sub_atsr.2.atsr.2.reflectance_87_nadir
atsr.2.reflectance_87_forward                          sub_atsr.2.atsr.2.reflectance_87_forward
atsr.2.reflectance_16_nadir                            sub_atsr.2.atsr.2.reflectance_16_nadir
atsr.2.reflectance_16_forward                          sub_atsr.2.atsr.2.reflectance_16_forward
atsr.2.brightness_temperature_37_nadir                 sub_atsr.2.atsr.2.brightness_temperature_37_nadir
atsr.2.brightness_temperature_37_forward               sub_atsr.2.atsr.2.brightness_temperature_37_forward
atsr.2.brightness_temperature_11_nadir                 sub_atsr.2.atsr.2.brightness_temperature_11_nadir
atsr.2.brightness_temperature_11_forward               sub_atsr.2.atsr.2.brightness_temperature_11_forward
atsr.2.brightness_temperature_12_nadir                 sub_atsr.2.atsr.2.brightness_temperature_12_nadir
atsr.2.brightness_temperature_12_forward               sub_atsr.2.atsr.2.brightness_temperature_12_forward
atsr.2.detector_temperature_12                         sub_atsr.2.atsr.2.detector_temperature_12
atsr.2.confidence_word_nadir                           sub_atsr.2.atsr.2.confidence_word_nadir
atsr.2.confidence_word_forward                         sub_atsr.2.atsr.2.confidence_word_forward
atsr.2.cloud_flags_nadir                               sub_atsr.2.atsr.2.cloud_flags_nadir
atsr.2.cloud_flags_forward                             sub_atsr.2.atsr.2.cloud_flags_forward
atsr.2.solar_zenith_angle_nadir                        sub_atsr.2.atsr.2.solar_zenith_angle_nadir
atsr.2.solar_zenith_angle_forward                      sub_atsr.2.atsr.2.solar_zenith_angle_forward
atsr.2.satellite_zenith_angle_nadir                    sub_atsr.2.atsr.2.satellite_zenith_angle_nadir
atsr.2.satellite_zenith_angle_forward                  sub_atsr.2.atsr.2.satellite_zenith_angle_forward
atsr.2.sun_azimuth_angle_nadir                         sub_atsr.2.atsr.2.sun_azimuth_angle_nadir
atsr.2.sun_azimuth_angle_forward                       sub_atsr.2.atsr.2.sun_azimuth_angle_forward
atsr.2.view_azimuth_angle_nadir                        sub_atsr.2.atsr.2.view_azimuth_angle_nadir
atsr.2.view_azimuth_angle_forward                      sub_atsr.2.atsr.2.view_azimuth_angle_forward
atsr.2.l1b_filename                                    sub_atsr.2.atsr.2.l1b_filename
atsr.2.VC1_filename                                    sub_atsr.2.atsr.2.VC1_filename
atsr.2.GC1_filename                                    sub_atsr.2.atsr.2.GC1_filename
atsr.2.matchup_elem                                    sub_atsr.2.atsr.2.matchup_elem
atsr.2.matchup_line                                    sub_atsr.2.atsr.2.matchup_line
atsr.2.nwp.seaice_fraction                             nwp_atsr.2.atsr.2.nwp.CI                                        NoStandardName
atsr.2.nwp.snow_albedo                                 nwp_atsr.2.atsr.2.nwp.ASN                                       NoStandardName
atsr.2.nwp.sea_surface_temperature                     nwp_atsr.2.atsr.2.nwp.SSTK                                      NoStandardName
atsr.2.nwp.total_column_water_vapour                   nwp_atsr.2.atsr.2.nwp.TCWV
atsr.2.nwp.mean_sea_level_pressure                     nwp_atsr.2.atsr.2.nwp.MSL
atsr.2.nwp.total_cloud_cover                           nwp_atsr.2.atsr.2.nwp.TCC
atsr.2.nwp.10m_east_wind_component                     nwp_atsr.2.atsr.2.nwp.U10
atsr.2.nwp.10m_north_wind_component                    nwp_atsr.2.atsr.2.nwp.V10
atsr.2.nwp.2m_temperature                              nwp_atsr.2.atsr.2.nwp.T2
atsr.2.nwp.2m_dew_point                                nwp_atsr.2.atsr.2.nwp.D2
atsr.2.nwp.albedo                                      nwp_atsr.2.atsr.2.nwp.AL
atsr.2.nwp.skin_temperature                            nwp_atsr.2.atsr.2.nwp.SKT
atsr.2.nwp.log_surface_pressure                        nwp_atsr.2.atsr.2.nwp.LNSP
atsr.2.nwp.temperature_profile                         nwp_atsr.2.atsr.2.nwp.T
atsr.2.nwp.water_vapour_profile                        nwp_atsr.2.atsr.2.nwp.Q
atsr.2.nwp.ozone_profile                               nwp_atsr.2.atsr.2.nwp.O3
atsr.2.cloud_mask_Bayes_nadir_min                      arc_atsr.2.atsr.2.cloud_mask.bayes_min_nadir                    MatchupDimension,AtsrNwpXyDimensions
atsr.2.cloud_mask_Bayes_nadir_max                      arc_atsr.2.atsr.2.cloud_mask.bayes_max_nadir                    MatchupDimension,AtsrNwpXyDimensions
atsr.2.cloud_mask_Bayes_dual_min                       arc_atsr.2.atsr.2.cloud_mask.bayes_min_dual                     MatchupDimension,AtsrNwpXyDimensions
atsr.2.cloud_mask_Bayes_dual_max                       arc_atsr.2.atsr.2.cloud_mask.bayes_max_dual                     MatchupDimension,AtsrNwpXyDimensions
atsr.2.saharan_dust_index_2                            arc_atsr.2.atsr.2.saharan_dust_index_2                          MatchupDimension,AtsrNwpXyDimensions
atsr.2.saharan_dust_index_3                            arc_atsr.2.atsr.2.saharan_dust_index_3                          MatchupDimension,AtsrNwpXyDimensions
atsr.2.ffm.brightness_temperature_37_nadir             arc_atsr.2.atsr.2.ffm.brightness_temperature_37_nadir           MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.2.ffm.brightness_temperature_37_forward           arc_atsr.2.atsr.2.ffm.brightness_temperature_37_forward         MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.2.ffm.brightness_temperature_11_nadir             arc_atsr.2.atsr.2.ffm.brightness_temperature_11_nadir           MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.2.ffm.brightness_temperature_11_forward           arc_atsr.2.atsr.2.ffm.brightness_temperature_11_forward         MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.2.ffm.brightness_temperature_12_nadir             arc_atsr.2.atsr.2.ffm.brightness_temperature_12_nadir           MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.2.ffm.brightness_temperature_12_forward           arc_atsr.2.atsr.2.ffm.brightness_temperature_12_forward         MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.2.ffm.dbt_dsst_37_nadir                           arc_atsr.2.atsr.2.ffm.dbt_dsst_37_nadir                         MatchupDimension,AtsrNwpXyDimensions
atsr.2.ffm.dbt_dsst_37_forward                         arc_atsr.2.atsr.2.ffm.dbt_dsst_37_forward                       MatchupDimension,AtsrNwpXyDimensions
atsr.2.ffm.dbt_dsst_11_nadir                           arc_atsr.2.atsr.2.ffm.dbt_dsst_11_nadir                         MatchupDimension,AtsrNwpXyDimensions
atsr.2.ffm.dbt_dsst_11_forward                         arc_atsr.2.atsr.2.ffm.dbt_dsst_11_forward                       MatchupDimension,AtsrNwpXyDimensions
atsr.2.ffm.dbt_dsst_12_nadir                           arc_atsr.2.atsr.2.ffm.dbt_dsst_12_nadir                         MatchupDimension,AtsrNwpXyDimensions
atsr.2.ffm.dbt_dsst_12_forward                         arc_atsr.2.atsr.2.ffm.dbt_dsst_12_forward                       MatchupDimension,AtsrNwpXyDimensions
atsr.2.ffm.dbt_dtcwv_37_nadir                          arc_atsr.2.atsr.2.ffm.dbt_dtcwv_37_nadir                        MatchupDimension,AtsrNwpXyDimensions
atsr.2.ffm.dbt_dtcwv_37_forward                        arc_atsr.2.atsr.2.ffm.dbt_dtcwv_37_forward                      MatchupDimension,AtsrNwpXyDimensions
atsr.2.ffm.dbt_dtcwv_11_nadir                          arc_atsr.2.atsr.2.ffm.dbt_dtcwv_11_nadir                        MatchupDimension,AtsrNwpXyDimensions
atsr.2.ffm.dbt_dtcwv_11_forward                        arc_atsr.2.atsr.2.ffm.dbt_dtcwv_11_forward                      MatchupDimension,AtsrNwpXyDimensions
atsr.2.ffm.dbt_dtcwv_12_nadir                          arc_atsr.2.atsr.2.ffm.dbt_dtcwv_12_nadir                        MatchupDimension,AtsrNwpXyDimensions
atsr.2.ffm.dbt_dtcwv_12_forward                        arc_atsr.2.atsr.2.ffm.dbt_dtcwv_12_forward                      MatchupDimension,AtsrNwpXyDimensions
atsr.2.land_sea_mask                                   sub_atsr.2.atsr.2.land_sea_mask


### AATSR

atsr.3.time                                            sub_atsr.3.atsr.3.time
atsr.3.dtime                                           sub_atsr.3.atsr.3.dtime
atsr.3.latitude                                        sub_atsr.3.atsr.3.latitude
atsr.3.longitude                                       sub_atsr.3.atsr.3.longitude
atsr.3.reflectance_55_nadir                            sub_atsr.3.atsr.3.reflectance_55_nadir
atsr.3.reflectance_55_forward                          sub_atsr.3.atsr.3.reflectance_55_forward
atsr.3.reflectance_66_nadir                            sub_atsr.3.atsr.3.reflectance_66_nadir
atsr.3.reflectance_66_forward                          sub_atsr.3.atsr.3.reflectance_66_forward
atsr.3.reflectance_87_nadir                            sub_atsr.3.atsr.3.reflectance_87_nadir
atsr.3.reflectance_87_forward                          sub_atsr.3.atsr.3.reflectance_87_forward
atsr.3.reflectance_16_nadir                            sub_atsr.3.atsr.3.reflectance_16_nadir
atsr.3.reflectance_16_forward                          sub_atsr.3.atsr.3.reflectance_16_forward
atsr.3.brightness_temperature_37_nadir                 sub_atsr.3.atsr.3.brightness_temperature_37_nadir
atsr.3.brightness_temperature_37_forward               sub_atsr.3.atsr.3.brightness_temperature_37_forward
atsr.3.brightness_temperature_11_nadir                 sub_atsr.3.atsr.3.brightness_temperature_11_nadir
atsr.3.brightness_temperature_11_forward               sub_atsr.3.atsr.3.brightness_temperature_11_forward
atsr.3.brightness_temperature_12_nadir                 sub_atsr.3.atsr.3.brightness_temperature_12_nadir
atsr.3.brightness_temperature_12_forward               sub_atsr.3.atsr.3.brightness_temperature_12_forward
atsr.3.detector_temperature_12                         sub_atsr.3.atsr.3.detector_temperature_12
atsr.3.confidence_word_nadir                           sub_atsr.3.atsr.3.confidence_word_nadir
atsr.3.confidence_word_forward                         sub_atsr.3.atsr.3.confidence_word_forward
atsr.3.cloud_flags_nadir                               sub_atsr.3.atsr.3.cloud_flags_nadir
atsr.3.cloud_flags_forward                             sub_atsr.3.atsr.3.cloud_flags_forward
atsr.3.solar_zenith_angle_nadir                        sub_atsr.3.atsr.3.solar_zenith_angle_nadir
atsr.3.solar_zenith_angle_forward                      sub_atsr.3.atsr.3.solar_zenith_angle_forward
atsr.3.satellite_zenith_angle_nadir                    sub_atsr.3.atsr.3.satellite_zenith_angle_nadir
atsr.3.satellite_zenith_angle_forward                  sub_atsr.3.atsr.3.satellite_zenith_angle_forward
atsr.3.sun_azimuth_angle_nadir                         sub_atsr.3.atsr.3.sun_azimuth_angle_nadir
atsr.3.sun_azimuth_angle_forward                       sub_atsr.3.atsr.3.sun_azimuth_angle_forward
atsr.3.view_azimuth_angle_nadir                        sub_atsr.3.atsr.3.view_azimuth_angle_nadir
atsr.3.view_azimuth_angle_forward                      sub_atsr.3.atsr.3.view_azimuth_angle_forward
atsr.3.l1b_filename                                    sub_atsr.3.atsr.3.l1b_filename
atsr.3.VC1_filename                                    sub_atsr.3.atsr.3.VC1_filename
atsr.3.GC1_filename                                    sub_atsr.3.atsr.3.GC1_filename
atsr.3.matchup_elem                                    sub_atsr.3.atsr.3.matchup_elem
atsr.3.matchup_line                                    sub_atsr.3.atsr.3.matchup_line
atsr.3.nwp.seaice_fraction                             nwp_atsr.3.atsr.3.nwp.CI                                        NoStandardName
atsr.3.nwp.snow_albedo                                 nwp_atsr.3.atsr.3.nwp.ASN                                       NoStandardName
atsr.3.nwp.sea_surface_temperature                     nwp_atsr.3.atsr.3.nwp.SSTK                                      NoStandardName
atsr.3.nwp.total_column_water_vapour                   nwp_atsr.3.atsr.3.nwp.TCWV
atsr.3.nwp.mean_sea_level_pressure                     nwp_atsr.3.atsr.3.nwp.MSL
atsr.3.nwp.total_cloud_cover                           nwp_atsr.3.atsr.3.nwp.TCC
atsr.3.nwp.10m_east_wind_component                     nwp_atsr.3.atsr.3.nwp.U10
atsr.3.nwp.10m_north_wind_component                    nwp_atsr.3.atsr.3.nwp.V10
atsr.3.nwp.2m_temperature                              nwp_atsr.3.atsr.3.nwp.T2
atsr.3.nwp.2m_dew_point                                nwp_atsr.3.atsr.3.nwp.D2
atsr.3.nwp.albedo                                      nwp_atsr.3.atsr.3.nwp.AL
atsr.3.nwp.skin_temperature                            nwp_atsr.3.atsr.3.nwp.SKT
atsr.3.nwp.log_surface_pressure                        nwp_atsr.3.atsr.3.nwp.LNSP
atsr.3.nwp.temperature_profile                         nwp_atsr.3.atsr.3.nwp.T
atsr.3.nwp.water_vapour_profile                        nwp_atsr.3.atsr.3.nwp.Q
atsr.3.nwp.ozone_profile                               nwp_atsr.3.atsr.3.nwp.O3
atsr.3.cloud_mask_Bayes_nadir_min                      arc_atsr.3.atsr.3.cloud_mask.bayes_min_nadir                    MatchupDimension,AtsrNwpXyDimensions
atsr.3.cloud_mask_Bayes_nadir_max                      arc_atsr.3.atsr.3.cloud_mask.bayes_max_nadir                    MatchupDimension,AtsrNwpXyDimensions
atsr.3.cloud_mask_Bayes_dual_min                       arc_atsr.3.atsr.3.cloud_mask.bayes_min_dual                     MatchupDimension,AtsrNwpXyDimensions
atsr.3.cloud_mask_Bayes_dual_max                       arc_atsr.3.atsr.3.cloud_mask.bayes_max_dual                     MatchupDimension,AtsrNwpXyDimensions
atsr.3.saharan_dust_index_2                            arc_atsr.3.atsr.3.saharan_dust_index_2                          MatchupDimension,AtsrNwpXyDimensions
atsr.3.saharan_dust_index_3                            arc_atsr.3.atsr.3.saharan_dust_index_3                          MatchupDimension,AtsrNwpXyDimensions
atsr.3.ffm.brightness_temperature_37_nadir             arc_atsr.3.atsr.3.ffm.brightness_temperature_37_nadir           MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.3.ffm.brightness_temperature_37_forward           arc_atsr.3.atsr.3.ffm.brightness_temperature_37_forward         MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.3.ffm.brightness_temperature_11_nadir             arc_atsr.3.atsr.3.ffm.brightness_temperature_11_nadir           MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.3.ffm.brightness_temperature_11_forward           arc_atsr.3.atsr.3.ffm.brightness_temperature_11_forward         MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.3.ffm.brightness_temperature_12_nadir             arc_atsr.3.atsr.3.ffm.brightness_temperature_12_nadir           MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.3.ffm.brightness_temperature_12_forward           arc_atsr.3.atsr.3.ffm.brightness_temperature_12_forward         MatchupDimension,AtsrNwpXyDimensions,ToBrightnessTemperature
atsr.3.ffm.dbt_dsst_37_nadir                           arc_atsr.3.atsr.3.ffm.dbt_dsst_37_nadir                         MatchupDimension,AtsrNwpXyDimensions
atsr.3.ffm.dbt_dsst_37_forward                         arc_atsr.3.atsr.3.ffm.dbt_dsst_37_forward                       MatchupDimension,AtsrNwpXyDimensions
atsr.3.ffm.dbt_dsst_11_nadir                           arc_atsr.3.atsr.3.ffm.dbt_dsst_11_nadir                         MatchupDimension,AtsrNwpXyDimensions
atsr.3.ffm.dbt_dsst_11_forward                         arc_atsr.3.atsr.3.ffm.dbt_dsst_11_forward                       MatchupDimension,AtsrNwpXyDimensions
atsr.3.ffm.dbt_dsst_12_nadir                           arc_atsr.3.atsr.3.ffm.dbt_dsst_12_nadir                         MatchupDimension,AtsrNwpXyDimensions
atsr.3.ffm.dbt_dsst_12_forward                         arc_atsr.3.atsr.3.ffm.dbt_dsst_12_forward                       MatchupDimension,AtsrNwpXyDimensions
atsr.3.ffm.dbt_dtcwv_37_nadir                          arc_atsr.3.atsr.3.ffm.dbt_dtcwv_37_nadir                        MatchupDimension,AtsrNwpXyDimensions
atsr.3.ffm.dbt_dtcwv_37_forward                        arc_atsr.3.atsr.3.ffm.dbt_dtcwv_37_forward                      MatchupDimension,AtsrNwpXyDimensions
atsr.3.ffm.dbt_dtcwv_11_nadir                          arc_atsr.3.atsr.3.ffm.dbt_dtcwv_11_nadir                        MatchupDimension,AtsrNwpXyDimensions
atsr.3.ffm.dbt_dtcwv_11_forward                        arc_atsr.3.atsr.3.ffm.dbt_dtcwv_11_forward                      MatchupDimension,AtsrNwpXyDimensions
atsr.3.ffm.dbt_dtcwv_12_nadir                          arc_atsr.3.atsr.3.ffm.dbt_dtcwv_12_nadir                        MatchupDimension,AtsrNwpXyDimensions
atsr.3.ffm.dbt_dtcwv_12_forward                        arc_atsr.3.atsr.3.ffm.dbt_dtcwv_12_forward                      MatchupDimension,AtsrNwpXyDimensions
atsr.3.land_sea_mask                                   sub_atsr.3.atsr.3.land_sea_mask


### AVHRR NOAA-10

avhrr.n10.time                                         sub_avhrr.n10.avhrr.n10.time
avhrr.n10.dtime                                        sub_avhrr.n10.avhrr.n10.dtime
avhrr.n10.latitude                                     sub_avhrr.n10.avhrr.n10.latitude
avhrr.n10.longitude                                    sub_avhrr.n10.avhrr.n10.longitude
avhrr.n10.reflectance_1                                sub_avhrr.n10.avhrr.n10.reflectance_1
avhrr.n10.reflectance_2                                sub_avhrr.n10.avhrr.n10.reflectance_2
avhrr.n10.brightness_temperature_3b                    sub_avhrr.n10.avhrr.n10.brightness_temperature_3b
avhrr.n10.brightness_temperature_4                     sub_avhrr.n10.avhrr.n10.brightness_temperature_4
avhrr.n10.bad_data                                     sub_avhrr.n10.avhrr.n10.bad_data
avhrr.n10.cloud_flag                                   sub_avhrr.n10.avhrr.n10.cloud_flag
avhrr.n10.cloud_probability                            sub_avhrr.n10.avhrr.n10.cloud_probability
avhrr.n10.solar_zenith_angle                           sub_avhrr.n10.avhrr.n10.solar_zenith_angle
avhrr.n10.satellite_zenith_angle                       sub_avhrr.n10.avhrr.n10.satellite_zenith_angle
avhrr.n10.relative_azimuth_angle                       sub_avhrr.n10.avhrr.n10.relative_azimuth_angle
avhrr.n10.l1b_filename                                 sub_avhrr.n10.avhrr.n10.l1b_filename
avhrr.n10.matchup_elem                                 sub_avhrr.n10.avhrr.n10.matchup_elem
avhrr.n10.matchup_line                                 sub_avhrr.n10.avhrr.n10.matchup_line
avhrr.n10.nwp.seaice_fraction                          nwp_avhrr.n10.avhrr.n10.nwp.CI                                 NoStandardName
avhrr.n10.nwp.snow_albedo                              nwp_avhrr.n10.avhrr.n10.nwp.ASN                                NoStandardName
avhrr.n10.nwp.sea_surface_temperature                  nwp_avhrr.n10.avhrr.n10.nwp.SSTK                               NoStandardName
avhrr.n10.nwp.total_column_water_vapour                nwp_avhrr.n10.avhrr.n10.nwp.TCWV
avhrr.n10.nwp.mean_sea_level_pressure                  nwp_avhrr.n10.avhrr.n10.nwp.MSL
avhrr.n10.nwp.total_cloud_cover                        nwp_avhrr.n10.avhrr.n10.nwp.TCC
avhrr.n10.nwp.10m_east_wind_component                  nwp_avhrr.n10.avhrr.n10.nwp.U10
avhrr.n10.nwp.10m_north_wind_component                 nwp_avhrr.n10.avhrr.n10.nwp.V10
avhrr.n10.nwp.2m_temperature                           nwp_avhrr.n10.avhrr.n10.nwp.T2
avhrr.n10.nwp.2m_dew_point                             nwp_avhrr.n10.avhrr.n10.nwp.D2
avhrr.n10.nwp.albedo                                   nwp_avhrr.n10.avhrr.n10.nwp.AL
avhrr.n10.nwp.skin_temperature                         nwp_avhrr.n10.avhrr.n10.nwp.SKT
avhrr.n10.nwp.log_surface_pressure                     nwp_avhrr.n10.avhrr.n10.nwp.LNSP
avhrr.n10.nwp.temperature_profile                      nwp_avhrr.n10.avhrr.n10.nwp.T
avhrr.n10.nwp.water_vapour_profile                     nwp_avhrr.n10.avhrr.n10.nwp.Q
avhrr.n10.nwp.ozone_profile                            nwp_avhrr.n10.avhrr.n10.nwp.O3
avhrr.n10.ffm.brightness_temperature_3b                arc_avhrr.n10.avhrr.n10.ffm.brightness_temperature_3b          MatchupDimension,AvhrrNwpXyDimensions,ToBrightnessTemperature
avhrr.n10.ffm.brightness_temperature_4                 arc_avhrr.n10.avhrr.n10.ffm.brightness_temperature_4           MatchupDimension,AvhrrNwpXyDimensions,ToBrightnessTemperature
avhrr.n10.ffm.brightness_temperature_5                 arc_avhrr.n10.avhrr.n10.ffm.brightness_temperature_5           MatchupDimension,AvhrrNwpXyDimensions,ToBrightnessTemperature
avhrr.n10.ffm.dbt_dsst_3b                              arc_avhrr.n10.avhrr.n10.ffm.dbt_dsst_3b                        MatchupDimension,AvhrrNwpXyDimensions
avhrr.n10.ffm.dbt_dsst_4                               arc_avhrr.n10.avhrr.n10.ffm.dbt_dsst_4                         MatchupDimension,AvhrrNwpXyDimensions
avhrr.n10.ffm.dbt_dsst_5                               arc_avhrr.n10.avhrr.n10.ffm.dbt_dsst_5                         MatchupDimension,AvhrrNwpXyDimensions
avhrr.n10.ffm.dbt_dtcwv_3b                             arc_avhrr.n10.avhrr.n10.ffm.dbt_dtcwv_3b                       MatchupDimension,AvhrrNwpXyDimensions
avhrr.n10.ffm.dbt_dtcwv_4                              arc_avhrr.n10.avhrr.n10.ffm.dbt_dtcwv_4                        MatchupDimension,AvhrrNwpXyDimensions
avhrr.n10.ffm.dbt_dtcwv_5                              arc_avhrr.n10.avhrr.n10.ffm.dbt_dtcwv_5                        MatchupDimension,AvhrrNwpXyDimensions
avhrr.n10.land_sea_mask                                sub_avhrr.n10.avhrr.n10.land_sea_mask


### AVHRR NOAA-11

avhrr.n11.time                                         sub_avhrr.n11.avhrr.n11.time
avhrr.n11.dtime                                        sub_avhrr.n11.avhrr.n11.dtime
avhrr.n11.latitude                                     sub_avhrr.n11.avhrr.n11.latitude
avhrr.n11.longitude                                    sub_avhrr.n11.avhrr.n11.longitude
avhrr.n11.reflectance_1                                sub_avhrr.n11.avhrr.n11.reflectance_1
avhrr.n11.reflectance_2                                sub_avhrr.n11.avhrr.n11.reflectance_2
avhrr.n11.brightness_temperature_3b                    sub_avhrr.n11.avhrr.n11.brightness_temperature_3b
avhrr.n11.brightness_temperature_4                     sub_avhrr.n11.avhrr.n11.brightness_temperature_4
avhrr.n11.brightness_temperature_5                     sub_avhrr.n11.avhrr.n11.brightness_temperature_5
avhrr.n11.bad_data                                     sub_avhrr.n11.avhrr.n11.bad_data
avhrr.n11.cloud_flag                                   sub_avhrr.n11.avhrr.n11.cloud_flag
avhrr.n11.cloud_probability                            sub_avhrr.n11.avhrr.n11.cloud_probability
avhrr.n11.solar_zenith_angle                           sub_avhrr.n11.avhrr.n11.solar_zenith_angle
avhrr.n11.satellite_zenith_angle                       sub_avhrr.n11.avhrr.n11.satellite_zenith_angle
avhrr.n11.relative_azimuth_angle                       sub_avhrr.n11.avhrr.n11.relative_azimuth_angle
avhrr.n11.l1b_filename                                 sub_avhrr.n11.avhrr.n11.l1b_filename
avhrr.n11.matchup_elem                                 sub_avhrr.n11.avhrr.n11.matchup_elem
avhrr.n11.matchup_line                                 sub_avhrr.n11.avhrr.n11.matchup_line
avhrr.n11.nwp.seaice_fraction                          nwp_avhrr.n11.avhrr.n11.nwp.CI                                 NoStandardName
avhrr.n11.nwp.snow_albedo                              nwp_avhrr.n11.avhrr.n11.nwp.ASN                                NoStandardName
avhrr.n11.nwp.sea_surface_temperature                  nwp_avhrr.n11.avhrr.n11.nwp.SSTK                               NoStandardName
avhrr.n11.nwp.total_column_water_vapour                nwp_avhrr.n11.avhrr.n11.nwp.TCWV
avhrr.n11.nwp.mean_sea_level_pressure                  nwp_avhrr.n11.avhrr.n11.nwp.MSL
avhrr.n11.nwp.total_cloud_cover                        nwp_avhrr.n11.avhrr.n11.nwp.TCC
avhrr.n11.nwp.10m_east_wind_component                  nwp_avhrr.n11.avhrr.n11.nwp.U10
avhrr.n11.nwp.10m_north_wind_component                 nwp_avhrr.n11.avhrr.n11.nwp.V10
avhrr.n11.nwp.2m_temperature                           nwp_avhrr.n11.avhrr.n11.nwp.T2
avhrr.n11.nwp.2m_dew_point                             nwp_avhrr.n11.avhrr.n11.nwp.D2
avhrr.n11.nwp.albedo                                   nwp_avhrr.n11.avhrr.n11.nwp.AL
avhrr.n11.nwp.skin_temperature                         nwp_avhrr.n11.avhrr.n11.nwp.SKT
avhrr.n11.nwp.log_surface_pressure                     nwp_avhrr.n11.avhrr.n11.nwp.LNSP
avhrr.n11.nwp.temperature_profile                      nwp_avhrr.n11.avhrr.n11.nwp.T
avhrr.n11.nwp.water_vapour_profile                     nwp_avhrr.n11.avhrr.n11.nwp.Q
avhrr.n11.nwp.ozone_profile                            nwp_avhrr.n11.avhrr.n11.nwp.O3
avhrr.n11.ffm.brightness_temperature_3b                arc_avhrr.n11.avhrr.n11.ffm.brightness_temperature_3b          MatchupDimension,AvhrrNwpXyDimensions,ToBrightnessTemperature
avhrr.n11.ffm.brightness_temperature_4                 arc_avhrr.n11.avhrr.n11.ffm.brightness_temperature_4           MatchupDimension,AvhrrNwpXyDimensions,ToBrightnessTemperature
avhrr.n11.ffm.brightness_temperature_5                 arc_avhrr.n11.avhrr.n11.ffm.brightness_temperature_5           MatchupDimension,AvhrrNwpXyDimensions,ToBrightnessTemperature
avhrr.n11.ffm.dbt_dsst_3b                              arc_avhrr.n11.avhrr.n11.ffm.dbt_dsst_3b                        MatchupDimension,AvhrrNwpXyDimensions
avhrr.n11.ffm.dbt_dsst_4                               arc_avhrr.n11.avhrr.n11.ffm.dbt_dsst_4                         MatchupDimension,AvhrrNwpXyDimensions
avhrr.n11.ffm.dbt_dsst_5                               arc_avhrr.n11.avhrr.n11.ffm.dbt_dsst_5                         MatchupDimension,AvhrrNwpXyDimensions
avhrr.n11.ffm.dbt_dtcwv_3b                             arc_avhrr.n11.avhrr.n11.ffm.dbt_dtcwv_3b                       MatchupDimension,AvhrrNwpXyDimensions
avhrr.n11.ffm.dbt_dtcwv_4                              arc_avhrr.n11.avhrr.n11.ffm.dbt_dtcwv_4                        MatchupDimension,AvhrrNwpXyDimensions
avhrr.n11.ffm.dbt_dtcwv_5                              arc_avhrr.n11.avhrr.n11.ffm.dbt_dtcwv_5                        MatchupDimension,AvhrrNwpXyDimensions
avhrr.n11.land_sea_mask                                sub_avhrr.n11.avhrr.n11.land_sea_mask


### AVHRR NOAA-12

avhrr.n12.time                                         sub_avhrr.n12.avhrr.n12.time
avhrr.n12.dtime                                        sub_avhrr.n12.avhrr.n12.dtime
avhrr.n12.latitude                                     sub_avhrr.n12.avhrr.n12.latitude
avhrr.n12.longitude                                    sub_avhrr.n12.avhrr.n12.longitude
avhrr.n12.reflectance_1                                sub_avhrr.n12.avhrr.n12.reflectance_1
avhrr.n12.reflectance_2                                sub_avhrr.n12.avhrr.n12.reflectance_2
avhrr.n12.brightness_temperature_3b                    sub_avhrr.n12.avhrr.n12.brightness_temperature_3b
avhrr.n12.brightness_temperature_4                     sub_avhrr.n12.avhrr.n12.brightness_temperature_4
avhrr.n12.brightness_temperature_5                     sub_avhrr.n12.avhrr.n12.brightness_temperature_5
avhrr.n12.bad_data                                     sub_avhrr.n12.avhrr.n12.bad_data
avhrr.n12.cloud_flag                                   sub_avhrr.n12.avhrr.n12.cloud_flag
avhrr.n12.cloud_probability                            sub_avhrr.n12.avhrr.n12.cloud_probability
avhrr.n12.solar_zenith_angle                           sub_avhrr.n12.avhrr.n12.solar_zenith_angle
avhrr.n12.satellite_zenith_angle                       sub_avhrr.n12.avhrr.n12.satellite_zenith_angle
avhrr.n12.relative_azimuth_angle                       sub_avhrr.n12.avhrr.n12.relative_azimuth_angle
avhrr.n12.l1b_filename                                 sub_avhrr.n12.avhrr.n12.l1b_filename
avhrr.n12.matchup_elem                                 sub_avhrr.n12.avhrr.n12.matchup_elem
avhrr.n12.matchup_line                                 sub_avhrr.n12.avhrr.n12.matchup_line
avhrr.n12.nwp.seaice_fraction                          nwp_avhrr.n12.avhrr.n12.nwp.CI                                 NoStandardName
avhrr.n12.nwp.snow_albedo                              nwp_avhrr.n12.avhrr.n12.nwp.ASN                                NoStandardName
avhrr.n12.nwp.sea_surface_temperature                  nwp_avhrr.n12.avhrr.n12.nwp.SSTK                               NoStandardName
avhrr.n12.nwp.total_column_water_vapour                nwp_avhrr.n12.avhrr.n12.nwp.TCWV
avhrr.n12.nwp.mean_sea_level_pressure                  nwp_avhrr.n12.avhrr.n12.nwp.MSL
avhrr.n12.nwp.total_cloud_cover                        nwp_avhrr.n12.avhrr.n12.nwp.TCC
avhrr.n12.nwp.10m_east_wind_component                  nwp_avhrr.n12.avhrr.n12.nwp.U10
avhrr.n12.nwp.10m_north_wind_component                 nwp_avhrr.n12.avhrr.n12.nwp.V10
avhrr.n12.nwp.2m_temperature                           nwp_avhrr.n12.avhrr.n12.nwp.T2
avhrr.n12.nwp.2m_dew_point                             nwp_avhrr.n12.avhrr.n12.nwp.D2
avhrr.n12.nwp.albedo                                   nwp_avhrr.n12.avhrr.n12.nwp.AL
avhrr.n12.nwp.skin_temperature                         nwp_avhrr.n12.avhrr.n12.nwp.SKT
avhrr.n12.nwp.log_surface_pressure                     nwp_avhrr.n12.avhrr.n12.nwp.LNSP
avhrr.n12.nwp.temperature_profile                      nwp_avhrr.n12.avhrr.n12.nwp.T
avhrr.n12.nwp.water_vapour_profile                     nwp_avhrr.n12.avhrr.n12.nwp.Q
avhrr.n12.nwp.ozone_profile                            nwp_avhrr.n12.avhrr.n12.nwp.O3
avhrr.n12.ffm.brightness_temperature_3b                arc_avhrr.n12.avhrr.n12.ffm.brightness_temperature_3b          MatchupDimension,AvhrrNwpXyDimensions,ToBrightnessTemperature
avhrr.n12.ffm.brightness_temperature_4                 arc_avhrr.n12.avhrr.n12.ffm.brightness_temperature_4           MatchupDimension,AvhrrNwpXyDimensions,ToBrightnessTemperature
avhrr.n12.ffm.brightness_temperature_5                 arc_avhrr.n12.avhrr.n12.ffm.brightness_temperature_5           MatchupDimension,AvhrrNwpXyDimensions,ToBrightnessTemperature
avhrr.n12.ffm.dbt_dsst_3b                              arc_avhrr.n12.avhrr.n12.ffm.dbt_dsst_3b                        MatchupDimension,AvhrrNwpXyDimensions
avhrr.n12.ffm.dbt_dsst_4                               arc_avhrr.n12.avhrr.n12.ffm.dbt_dsst_4                         MatchupDimension,AvhrrNwpXyDimensions
avhrr.n12.ffm.dbt_dsst_5                               arc_avhrr.n12.avhrr.n12.ffm.dbt_dsst_5                         MatchupDimension,AvhrrNwpXyDimensions
avhrr.n12.ffm.dbt_dtcwv_3b                             arc_avhrr.n12.avhrr.n12.ffm.dbt_dtcwv_3b                       MatchupDimension,AvhrrNwpXyDimensions
avhrr.n12.ffm.dbt_dtcwv_4                              arc_avhrr.n12.avhrr.n12.ffm.dbt_dtcwv_4                        MatchupDimension,AvhrrNwpXyDimensions
avhrr.n12.ffm.dbt_dtcwv_5                              arc_avhrr.n12.avhrr.n12.ffm.dbt_dtcwv_5                        MatchupDimension,AvhrrNwpXyDimensions
avhrr.n12.land_sea_mask                                sub_avhrr.n12.avhrr.n12.land_sea_mask


### aai

aai.latitude                                           aai.lat                                                         MatchupDimension,AaiImageDimensions,LatType
aai.longitude                                          aai.lon                                                         MatchupDimension,AaiImageDimensions,LonType
aai.absorbing_aerosol_index                            aai.aerosol_absorbing_index                                     MatchupDimension,AaiImageDimensions,PercentUnit
aai.land_sea_mask                                      Implicit                                                        AaiSensor,MatchupDimension,AaiImageDimensions,LandSeaMask
aai.filename                                           Implicit                                                        AaiSensor,MatchupDimension,FilenameDimension,ObservationFilename
aai.matchup_elem                                       Implicit                                                        AaiSensor,MatchupDimension,MatchupElem
aai.matchup_line                                       Implicit                                                        AaiSensor,MatchupDimension,MatchupLine


### seaice

seaice.latitude                                        seaice.lat                                                      MatchupDimension,SeaIceImageDimensions,LatType
seaice.longitude                                       seaice.lon                                                      MatchupDimension,SeaIceImageDimensions,LonType
seaice.concentration                                   seaice.sea_ice_concentration                                    MatchupDimension,SeaIceImageDimensions
seaice.land_sea_mask                                   Implicit                                                        SeaiceSensor,MatchupDimension,SeaIceImageDimensions,LandSeaMask
seaice.filename                                        Implicit                                                        SeaiceSensor,MatchupDimension,FilenameDimension,ObservationFilename
seaice.matchup_elem                                    Implicit                                                        SeaiceSensor,MatchupDimension,MatchupElem
seaice.matchup_line                                    Implicit                                                        SeaiceSensor,MatchupDimension,MatchupLine
