#
# Copyright (C) 2014 Brockmann Consult GmbH (info@brockmann-consult.de)
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation; either version 3 of the License, or (at your option)
# any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, see http://www.gnu.org/licenses/
#

# column 1: target name
# column 2: source name
# column 3: rule specification

### matchup

matchup.id                                             matchup.matchup.id
matchup.time                                           matchup.matchup.time
matchup.longitude                                      matchup.matchup.longitude
matchup.latitude                                       matchup.matchup.latitude

matchup.insitu.callsign                                matchup.matchup.insitu.callsign
matchup.insitu.dataset                                 matchup.matchup.insitu.dataset
matchup.reference_flag                                 matchup.matchup.reference_flag
matchup.dataset_id                                     matchup.matchup.dataset_id

matchup.nwp.an.sea_ice_fraction                        matchup.matchup.nwp.an.CI
matchup.nwp.an.sea_surface_temperature                 matchup.matchup.nwp.an.SSTK
matchup.nwp.an.10m_east_wind_component                 matchup.matchup.nwp.an.U10
matchup.nwp.an.10m_north_wind_component                matchup.matchup.nwp.an.V10
matchup.nwp.an.t0                                      matchup.matchup.nwp.an.t0
matchup.nwp.fc.sea_surface_temperature                 matchup.matchup.nwp.fc.SSTK
matchup.nwp.fc.surface_sensible_heat_flux              matchup.matchup.nwp.fc.SSHF
matchup.nwp.fc.surface_latent_heat_flux                matchup.matchup.nwp.fc.SLHF
matchup.nwp.fc.mean_sea_level_pressure                 matchup.matchup.nwp.fc.MSL
matchup.nwp.fc.boundary_layer_height                   matchup.matchup.nwp.fc.BLH
matchup.nwp.fc.10m_east_wind_component                 matchup.matchup.nwp.fc.U10
matchup.nwp.fc.10m_north_wind_component                matchup.matchup.nwp.fc.V10
matchup.nwp.fc.2m_temperature                          matchup.matchup.nwp.fc.T2
matchup.nwp.fc.2m_dew_point                            matchup.matchup.nwp.fc.D2
matchup.nwp.fc.downward_surface_solar_radiation        matchup.matchup.nwp.fc.SSRD
matchup.nwp.fc.downward_surface_thermal_radiation      matchup.matchup.nwp.fc.STRD
matchup.nwp.fc.surface_solar_radiation                 matchup.matchup.nwp.fc.SSR
matchup.nwp.fc.surface_thermal_radiation               matchup.matchup.nwp.fc.STR
matchup.nwp.fc.turbulent_stress_east                   matchup.matchup.nwp.fc.EWSS
matchup.nwp.fc.turbulent_stress_north                  matchup.matchup.nwp.fc.NSSS
matchup.nwp.fc.evaporation                             matchup.matchup.nwp.fc.E
matchup.nwp.fc.total_precipitation                     matchup.matchup.nwp.fc.TP
matchup.nwp.fc.t0                                      matchup.matchup.nwp.fc.t0

### AVHRR_FRAC MetOp-A

avhrr_f.m02.time                                       Implicit                                                        AvhrrFracM2Sensor,MatchupDimension,TimeType,ObservationTime
avhrr_f.m02.dtime                                      Implicit                                                        AvhrrFracM2Sensor,MatchupDimension,AvhrrFracYDimension,DTimeType,DTime
avhrr_f.m02.latitude                                   orb_avhrr_f.m02.latitude                                        MatchupDimension,AvhrrFracImageDimensions,LatType
avhrr_f.m02.longitude                                  orb_avhrr_f.m02.longitude                                       MatchupDimension,AvhrrFracImageDimensions,LonType
avhrr_f.m02.reflectance_1                              orb_avhrr_f.m02.reflec_1                                        MatchupDimension,AvhrrFracImageDimensions,ToReflectance
avhrr_f.m02.reflectance_2                              orb_avhrr_f.m02.reflec_2                                        MatchupDimension,AvhrrFracImageDimensions,ToReflectance
avhrr_f.m02.reflectance_3a                             orb_avhrr_f.m02.reflec_3a                                       MatchupDimension,AvhrrFracImageDimensions,ToReflectance
avhrr_f.m02.brightness_temperature_3b                  orb_avhrr_f.m02.temp_3b                                         MatchupDimension,AvhrrFracImageDimensions,ToBrightnessTemperature
avhrr_f.m02.brightness_temperature_4                   orb_avhrr_f.m02.temp_4                                          MatchupDimension,AvhrrFracImageDimensions,ToBrightnessTemperature
avhrr_f.m02.brightness_temperature_5                   orb_avhrr_f.m02.temp_5                                          MatchupDimension,AvhrrFracImageDimensions,ToBrightnessTemperature
avhrr_f.m02.solar_zenith_angle                         orb_avhrr_f.m02.sun_zenith                                      MatchupDimension,AvhrrFracImageDimensions,ZenithAngle
avhrr_f.m02.satellite_zenith_angle                     orb_avhrr_f.m02.view_zenith                                     MatchupDimension,AvhrrFracImageDimensions,ZenithAngle
avhrr_f.m02.solar_azimuth_angle                        orb_avhrr_f.m02.sun_azimuth                                     MatchupDimension,AvhrrFracImageDimensions,AzimuthAngle
avhrr_f.m02.satellite_azimuth_angle                    orb_avhrr_f.m02.view_azimuth                                    MatchupDimension,AvhrrFracImageDimensions,AzimuthAngle
avhrr_f.m02.ict_temperature                            orb_avhrr_f.m02.internal_target_temperature                     MatchupDimension,AvhrrFracYDimension,RemoveXDimension
avhrr_f.m02.quality_indicator                          orb_avhrr_f.m02.quality_indicator_flags                         MatchupDimension,AvhrrFracYDimension,RemoveXDimension
avhrr_f.m02.scan_line_quality                          orb_avhrr_f.m02.scan_line_quality_flags                         MatchupDimension,AvhrrFracYDimension,RemoveXDimension
avhrr_f.m02.calibration_quality_ch3b                   orb_avhrr_f.m02.calibration_quality_ch3b_flags                  MatchupDimension,AvhrrFracYDimension,RemoveXDimension
avhrr_f.m02.calibration_quality_ch4                    orb_avhrr_f.m02.calibration_quality_ch4_flags                   MatchupDimension,AvhrrFracYDimension,RemoveXDimension
avhrr_f.m02.calibration_quality_ch5                    orb_avhrr_f.m02.calibration_quality_ch5_flags                   MatchupDimension,AvhrrFracYDimension,RemoveXDimension
avhrr_f.m02.cloud_flags                                orb_avhrr_f.m02.cloud_flags                                     MatchupDimension,AvhrrFracImageDimensions
avhrr_f.m02.l1b_filename                               Implicit                                                        AvhrrFracM2Sensor,MatchupDimension,FilenameDimension,ObservationFilename
avhrr_f.m02.matchup_elem                               Implicit                                                        AvhrrFracM2Sensor,MatchupDimension,MatchupElem
avhrr_f.m02.matchup_line                               Implicit                                                        AvhrrFracM2Sensor,MatchupDimension,MatchupLine
avhrr_f.m02.land_sea_mask                              Implicit                                                        AvhrrFracM2Sensor,MatchupDimension,AvhrrFracImageDimensions,AvhrrFracLandSeaMask
avhrr_f.m02.nwp.seaice_fraction                        nwp_avhrr_f.m02.avhrr_f.m02.nwp.CI                              NoStandardName
avhrr_f.m02.nwp.snow_albedo                            nwp_avhrr_f.m02.avhrr_f.m02.nwp.ASN                             NoStandardName
avhrr_f.m02.nwp.sea_surface_temperature                nwp_avhrr_f.m02.avhrr_f.m02.nwp.SSTK                            NoStandardName
avhrr_f.m02.nwp.total_column_water_vapour              nwp_avhrr_f.m02.avhrr_f.m02.nwp.TCWV
avhrr_f.m02.nwp.mean_sea_level_pressure                nwp_avhrr_f.m02.avhrr_f.m02.nwp.MSL
avhrr_f.m02.nwp.total_cloud_cover                      nwp_avhrr_f.m02.avhrr_f.m02.nwp.TCC
avhrr_f.m02.nwp.10m_east_wind_component                nwp_avhrr_f.m02.avhrr_f.m02.nwp.U10
avhrr_f.m02.nwp.10m_north_wind_component               nwp_avhrr_f.m02.avhrr_f.m02.nwp.V10
avhrr_f.m02.nwp.2m_temperature                         nwp_avhrr_f.m02.avhrr_f.m02.nwp.T2
avhrr_f.m02.nwp.2m_dew_point                           nwp_avhrr_f.m02.avhrr_f.m02.nwp.D2
avhrr_f.m02.nwp.albedo                                 nwp_avhrr_f.m02.avhrr_f.m02.nwp.AL
avhrr_f.m02.nwp.skin_temperature                       nwp_avhrr_f.m02.avhrr_f.m02.nwp.SKT
avhrr_f.m02.nwp.log_surface_pressure                   nwp_avhrr_f.m02.avhrr_f.m02.nwp.LNSP
avhrr_f.m02.nwp.temperature_profile                    nwp_avhrr_f.m02.avhrr_f.m02.nwp.T
avhrr_f.m02.nwp.water_vapour_profile                   nwp_avhrr_f.m02.avhrr_f.m02.nwp.Q
avhrr_f.m02.nwp.ozone_profile                          nwp_avhrr_f.m02.avhrr_f.m02.nwp.O3
avhrr_f.m02.oe.sea_surface_temperature.n2              arc_avhrr_f.m02.oe.sea_surface_temperature.n2                  MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.oe.sea_surface_temperature.n2a             arc_avhrr_f.m02.oe.sea_surface_temperature.n2a                 MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.oe.sea_surface_temperature.n3              arc_avhrr_f.m02.oe.sea_surface_temperature.n3                  MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.oe.water_vapour.n2                         arc_avhrr_f.m02.oe.water_vapour.n2                             MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.oe.water_vapour.n2a                        arc_avhrr_f.m02.oe.water_vapour.n2a                            MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.oe.water_vapour.n3                         arc_avhrr_f.m02.oe.water_vapour.n3                             MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.oe.sensitivity.n2                          arc_avhrr_f.m02.oe.sensitivity.n2                              MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.oe.sensitivity.n2a                         arc_avhrr_f.m02.oe.sensitivity.n2a                             MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.oe.sensitivity.n3                          arc_avhrr_f.m02.oe.sensitivity.n3                              MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.oe.chisquare.n2                            arc_avhrr_f.m02.oe.chisquare.n2                                MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.oe.chisquare.n2a                           arc_avhrr_f.m02.oe.chisquare.n2a                               MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.oe.chisquare.n3                            arc_avhrr_f.m02.oe.chisquare.n3                                MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.gbcs.p_clear.min                           arc_avhrr_f.m02.gbcs.p_clear.min                               MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.gbcs.p_clear.max                           arc_avhrr_f.m02.gbcs.p_clear.max                               MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.ffm.brightness_temperature_3b              arc_avhrr_f.m02.ffm.brightness_temperature_3b                  MatchupDimension,AvhrrFracNwpXyDimensions,ToBrightnessTemperature
avhrr_f.m02.ffm.brightness_temperature_4               arc_avhrr_f.m02.ffm.brightness_temperature_4                   MatchupDimension,AvhrrFracNwpXyDimensions,ToBrightnessTemperature
avhrr_f.m02.ffm.brightness_temperature_5               arc_avhrr_f.m02.ffm.brightness_temperature_5                   MatchupDimension,AvhrrFracNwpXyDimensions,ToBrightnessTemperature
avhrr_f.m02.ffm.dbt_dsst_3b                            arc_avhrr_f.m02.ffm.dbt_dsst_3b                                MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.ffm.dbt_dsst_4                             arc_avhrr_f.m02.ffm.dbt_dsst_4                                 MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.ffm.dbt_dsst_5                             arc_avhrr_f.m02.ffm.dbt_dsst_5                                 MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.ffm.dbt_dtcwv_3b                           arc_avhrr_f.m02.ffm.dbt_dtcwv_3b                               MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.ffm.dbt_dtcwv_4                            arc_avhrr_f.m02.ffm.dbt_dtcwv_4                                MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.ffm.dbt_dtcwv_5                            arc_avhrr_f.m02.ffm.dbt_dtcwv_5                                MatchupDimension,AvhrrFracNwpXyDimensions

### AVHRR_FRAC MetOp-B

avhrr_f.m01.time                                       Implicit                                                        AvhrrFracM1Sensor,MatchupDimension,TimeType,ObservationTime
avhrr_f.m01.dtime                                      Implicit                                                        AvhrrFracM1Sensor,MatchupDimension,AvhrrFracYDimension,DTimeType,DTime
avhrr_f.m01.latitude                                   orb_avhrr_f.m01.latitude                                        MatchupDimension,AvhrrFracImageDimensions,LatType
avhrr_f.m01.longitude                                  orb_avhrr_f.m01.longitude                                       MatchupDimension,AvhrrFracImageDimensions,LonType
avhrr_f.m01.reflectance_1                              orb_avhrr_f.m01.reflec_1                                        MatchupDimension,AvhrrFracImageDimensions,ToReflectance
avhrr_f.m01.reflectance_2                              orb_avhrr_f.m01.reflec_2                                        MatchupDimension,AvhrrFracImageDimensions,ToReflectance
avhrr_f.m01.reflectance_3a                             orb_avhrr_f.m01.reflec_3a                                       MatchupDimension,AvhrrFracImageDimensions,ToReflectance
avhrr_f.m01.brightness_temperature_3b                  orb_avhrr_f.m01.temp_3b                                         MatchupDimension,AvhrrFracImageDimensions,ToBrightnessTemperature
avhrr_f.m01.brightness_temperature_4                   orb_avhrr_f.m01.temp_4                                          MatchupDimension,AvhrrFracImageDimensions,ToBrightnessTemperature
avhrr_f.m01.brightness_temperature_5                   orb_avhrr_f.m01.temp_5                                          MatchupDimension,AvhrrFracImageDimensions,ToBrightnessTemperature
avhrr_f.m01.solar_zenith_angle                         orb_avhrr_f.m01.sun_zenith                                      MatchupDimension,AvhrrFracImageDimensions,ZenithAngle
avhrr_f.m01.satellite_zenith_angle                     orb_avhrr_f.m01.view_zenith                                     MatchupDimension,AvhrrFracImageDimensions,ZenithAngle
avhrr_f.m01.solar_azimuth_angle                        orb_avhrr_f.m01.sun_azimuth                                     MatchupDimension,AvhrrFracImageDimensions,AzimuthAngle
avhrr_f.m01.satellite_azimuth_angle                    orb_avhrr_f.m01.view_azimuth                                    MatchupDimension,AvhrrFracImageDimensions,AzimuthAngle
avhrr_f.m01.ict_temperature                            orb_avhrr_f.m01.internal_target_temperature                     MatchupDimension,AvhrrFracYDimension,RemoveXDimension
avhrr_f.m01.quality_indicator                          orb_avhrr_f.m01.quality_indicator_flags                         MatchupDimension,AvhrrFracYDimension,RemoveXDimension
avhrr_f.m01.scan_line_quality                          orb_avhrr_f.m01.scan_line_quality_flags                         MatchupDimension,AvhrrFracYDimension,RemoveXDimension
avhrr_f.m01.calibration_quality_ch3b                   orb_avhrr_f.m01.calibration_quality_ch3b_flags                  MatchupDimension,AvhrrFracYDimension,RemoveXDimension
avhrr_f.m01.calibration_quality_ch4                    orb_avhrr_f.m01.calibration_quality_ch4_flags                   MatchupDimension,AvhrrFracYDimension,RemoveXDimension
avhrr_f.m01.calibration_quality_ch5                    orb_avhrr_f.m01.calibration_quality_ch5_flags                   MatchupDimension,AvhrrFracYDimension,RemoveXDimension
avhrr_f.m01.cloud_flags                                orb_avhrr_f.m01.cloud_flags                                     MatchupDimension,AvhrrFracImageDimensions
avhrr_f.m01.l1b_filename                               Implicit                                                        AvhrrFracM1Sensor,MatchupDimension,FilenameDimension,ObservationFilename
avhrr_f.m01.matchup_elem                               Implicit                                                        AvhrrFracM1Sensor,MatchupDimension,MatchupElem
avhrr_f.m01.matchup_line                               Implicit                                                        AvhrrFracM1Sensor,MatchupDimension,MatchupLine
avhrr_f.m01.land_sea_mask                              Implicit                                                        AvhrrFracM1Sensor,MatchupDimension,AvhrrFracImageDimensions,AvhrrFracLandSeaMask
avhrr_f.m01.nwp.seaice_fraction                        nwp_avhrr_f.m01.avhrr_f.m01.nwp.CI                              NoStandardName
avhrr_f.m01.nwp.snow_albedo                            nwp_avhrr_f.m01.avhrr_f.m01.nwp.ASN                             NoStandardName
avhrr_f.m01.nwp.sea_surface_temperature                nwp_avhrr_f.m01.avhrr_f.m01.nwp.SSTK                            NoStandardName
avhrr_f.m01.nwp.total_column_water_vapour              nwp_avhrr_f.m01.avhrr_f.m01.nwp.TCWV
avhrr_f.m01.nwp.mean_sea_level_pressure                nwp_avhrr_f.m01.avhrr_f.m01.nwp.MSL
avhrr_f.m01.nwp.total_cloud_cover                      nwp_avhrr_f.m01.avhrr_f.m01.nwp.TCC
avhrr_f.m01.nwp.10m_east_wind_component                nwp_avhrr_f.m01.avhrr_f.m01.nwp.U10
avhrr_f.m01.nwp.10m_north_wind_component               nwp_avhrr_f.m01.avhrr_f.m01.nwp.V10
avhrr_f.m01.nwp.2m_temperature                         nwp_avhrr_f.m01.avhrr_f.m01.nwp.T2
avhrr_f.m01.nwp.2m_dew_point                           nwp_avhrr_f.m01.avhrr_f.m01.nwp.D2
avhrr_f.m01.nwp.albedo                                 nwp_avhrr_f.m01.avhrr_f.m01.nwp.AL
avhrr_f.m01.nwp.skin_temperature                       nwp_avhrr_f.m01.avhrr_f.m01.nwp.SKT
avhrr_f.m01.nwp.log_surface_pressure                   nwp_avhrr_f.m01.avhrr_f.m01.nwp.LNSP
avhrr_f.m01.nwp.temperature_profile                    nwp_avhrr_f.m01.avhrr_f.m01.nwp.T
avhrr_f.m01.nwp.water_vapour_profile                   nwp_avhrr_f.m01.avhrr_f.m01.nwp.Q
avhrr_f.m01.nwp.ozone_profile                          nwp_avhrr_f.m01.avhrr_f.m01.nwp.O3
avhrr_f.m01.oe.sea_surface_temperature.n2              arc_avhrr_f.m01.oe.sea_surface_temperature.n2                  MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.oe.sea_surface_temperature.n2a             arc_avhrr_f.m01.oe.sea_surface_temperature.n2a                 MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.oe.sea_surface_temperature.n3              arc_avhrr_f.m01.oe.sea_surface_temperature.n3                  MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.oe.water_vapour.n2                         arc_avhrr_f.m01.oe.water_vapour.n2                             MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.oe.water_vapour.n2a                        arc_avhrr_f.m01.oe.water_vapour.n2a                            MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.oe.water_vapour.n3                         arc_avhrr_f.m01.oe.water_vapour.n3                             MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.oe.sensitivity.n2                          arc_avhrr_f.m01.oe.sensitivity.n2                              MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.oe.sensitivity.n2a                         arc_avhrr_f.m01.oe.sensitivity.n2a                             MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.oe.sensitivity.n3                          arc_avhrr_f.m01.oe.sensitivity.n3                              MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.oe.chisquare.n2                            arc_avhrr_f.m01.oe.chisquare.n2                                MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.oe.chisquare.n2a                           arc_avhrr_f.m01.oe.chisquare.n2a                               MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.oe.chisquare.n3                            arc_avhrr_f.m01.oe.chisquare.n3                                MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.gbcs.p_clear.min                           arc_avhrr_f.m01.gbcs.p_clear.min                               MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.gbcs.p_clear.max                           arc_avhrr_f.m01.gbcs.p_clear.max                               MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.ffm.brightness_temperature_3b              arc_avhrr_f.m01.ffm.brightness_temperature_3b                  MatchupDimension,AvhrrFracNwpXyDimensions,ToBrightnessTemperature
avhrr_f.m01.ffm.brightness_temperature_4               arc_avhrr_f.m01.ffm.brightness_temperature_4                   MatchupDimension,AvhrrFracNwpXyDimensions,ToBrightnessTemperature
avhrr_f.m01.ffm.brightness_temperature_5               arc_avhrr_f.m01.ffm.brightness_temperature_5                   MatchupDimension,AvhrrFracNwpXyDimensions,ToBrightnessTemperature
avhrr_f.m01.ffm.dbt_dsst_3b                            arc_avhrr_f.m01.ffm.dbt_dsst_3b                                MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.ffm.dbt_dsst_4                             arc_avhrr_f.m01.ffm.dbt_dsst_4                                 MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.ffm.dbt_dsst_5                             arc_avhrr_f.m01.ffm.dbt_dsst_5                                 MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.ffm.dbt_dtcwv_3b                           arc_avhrr_f.m01.ffm.dbt_dtcwv_3b                               MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.ffm.dbt_dtcwv_4                            arc_avhrr_f.m01.ffm.dbt_dtcwv_4                                MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.ffm.dbt_dtcwv_5                            arc_avhrr_f.m01.ffm.dbt_dtcwv_5                                MatchupDimension,AvhrrFracNwpXyDimensions


### aai

aai.latitude                                           aai.lat                                                         MatchupDimension,AaiImageDimensions,LatType
aai.longitude                                          aai.lon                                                         MatchupDimension,AaiImageDimensions,LonType
aai.absorbing_aerosol_index                            aai.aerosol_absorbing_index                                     MatchupDimension,AaiImageDimensions,PercentUnit
aai.land_sea_mask                                      Implicit                                                        AaiSensor,MatchupDimension,AaiImageDimensions,LandSeaMask
aai.filename                                           Implicit                                                        AaiSensor,MatchupDimension,FilenameDimension,ObservationFilename
aai.matchup_elem                                       Implicit                                                        AaiSensor,MatchupDimension,MatchupElem
aai.matchup_line                                       Implicit                                                        AaiSensor,MatchupDimension,MatchupLine


### seaice

seaice.latitude                                        seaice.lat                                                      MatchupDimension,SeaIceImageDimensions,LatType
seaice.longitude                                       seaice.lon                                                      MatchupDimension,SeaIceImageDimensions,LonType
seaice.concentration                                   seaice.sea_ice_concentration                                    MatchupDimension,SeaIceImageDimensions
seaice.land_sea_mask                                   Implicit                                                        SeaiceSensor,MatchupDimension,SeaIceImageDimensions,LandSeaMask
seaice.filename                                        Implicit                                                        SeaiceSensor,MatchupDimension,FilenameDimension,ObservationFilename
seaice.matchup_elem                                    Implicit                                                        SeaiceSensor,MatchupDimension,MatchupElem
seaice.matchup_line                                    Implicit                                                        SeaiceSensor,MatchupDimension,MatchupLine


### insitu

insitu.dtime                                           Implicit                                                        InsituSensor,MatchupDimension,InsituDimension,InsituTime
insitu.latitude                                        history.insitu.lat                                              InsituSensor,MatchupDimension,InsituDimension,LatType
insitu.longitude                                       history.insitu.lon                                              InsituSensor,MatchupDimension,InsituDimension,LonType
insitu.sea_surface_temperature                         history.insitu.sea_surface_temperature                          InsituSensor,MatchupDimension,InsituDimension,CelsiusToKelvin,ToSeaSurfaceTemperature
insitu.sst_uncertainty                                 history.insitu.sst_uncertainty                                  InsituSensor,MatchupDimension,InsituDimension,ToSeaSurfaceTemperatureUncertainty
insitu.sst_depth                                       history.insitu.sst_depth                                        InsituSensor,MatchupDimension,InsituDimension
insitu.sst_qc_flag                                     history.insitu.sst_qc_flag                                      InsituSensor,MatchupDimension,InsituDimension
insitu.sst_track_flag                                  history.insitu.sst_track_flag                                   InsituSensor,MatchupDimension,InsituDimension
insitu.mohc_id                                         history.insitu.mohc_id                                          InsituSensor,MatchupDimension,InsituDimension
