#
# Copyright (C) 2014 Brockmann Consult GmbH (info@brockmann-consult.de)
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation; either version 3 of the License, or (at your option)
# any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, see http://www.gnu.org/licenses/
#

# column 1: target name
# column 2: source name
# column 3: rule specification

### matchup

matchup.id                                             matchup.matchup.id
matchup.time                                           matchup.matchup.time
matchup.longitude                                      matchup.matchup.longitude
matchup.latitude                                       matchup.matchup.latitude

matchup.insitu.callsign                                matchup.matchup.insitu.callsign
matchup.insitu.dataset                                 matchup.matchup.insitu.dataset
matchup.reference_flag                                 matchup.matchup.reference_flag
matchup.dataset_id                                     matchup.matchup.dataset_id

matchup.nwp.an.sea_ice_fraction                        matchup.matchup.nwp.an.CI
matchup.nwp.an.sea_surface_temperature                 matchup.matchup.nwp.an.SSTK
matchup.nwp.an.10m_east_wind_component                 matchup.matchup.nwp.an.U10
matchup.nwp.an.10m_north_wind_component                matchup.matchup.nwp.an.V10
matchup.nwp.an.t0                                      matchup.matchup.nwp.an.t0
matchup.nwp.fc.sea_surface_temperature                 matchup.matchup.nwp.fc.SSTK
matchup.nwp.fc.surface_sensible_heat_flux              matchup.matchup.nwp.fc.SSHF
matchup.nwp.fc.surface_latent_heat_flux                matchup.matchup.nwp.fc.SLHF
matchup.nwp.fc.mean_sea_level_pressure                 matchup.matchup.nwp.fc.MSL
matchup.nwp.fc.boundary_layer_height                   matchup.matchup.nwp.fc.BLH
matchup.nwp.fc.10m_east_wind_component                 matchup.matchup.nwp.fc.U10
matchup.nwp.fc.10m_north_wind_component                matchup.matchup.nwp.fc.V10
matchup.nwp.fc.2m_temperature                          matchup.matchup.nwp.fc.T2
matchup.nwp.fc.2m_dew_point                            matchup.matchup.nwp.fc.D2
matchup.nwp.fc.downward_surface_solar_radiation        matchup.matchup.nwp.fc.SSRD
matchup.nwp.fc.downward_surface_thermal_radiation      matchup.matchup.nwp.fc.STRD
matchup.nwp.fc.surface_solar_radiation                 matchup.matchup.nwp.fc.SSR
matchup.nwp.fc.surface_thermal_radiation               matchup.matchup.nwp.fc.STR
matchup.nwp.fc.turbulent_stress_east                   matchup.matchup.nwp.fc.EWSS
matchup.nwp.fc.turbulent_stress_north                  matchup.matchup.nwp.fc.NSSS
matchup.nwp.fc.evaporation                             matchup.matchup.nwp.fc.E
matchup.nwp.fc.total_precipitation                     matchup.matchup.nwp.fc.TP
matchup.nwp.fc.t0                                      matchup.matchup.nwp.fc.t0

### AVHRR_FRAC MetOp-A

avhrr.n06.time                                         sub_avhrr.n06.avhrr.n06.time
avhrr.n06.latitude                                     sub_avhrr.n06.avhrr.n06.latitude
avhrr.n06.dtime                                        sub_avhrr.n06.avhrr.n06.dtime
avhrr.n06.longitude                                    sub_avhrr.n06.avhrr.n06.longitude
avhrr.n06.reflectance_1                                sub_avhrr.n06.avhrr.n06.reflectance_1
avhrr.n06.reflectance_2                                sub_avhrr.n06.avhrr.n06.reflectance_2
avhrr.n06.brightness_temperature_3b                    sub_avhrr.n06.avhrr.n06.brightness_temperature_3b
avhrr.n06.brightness_temperature_4                     sub_avhrr.n06.avhrr.n06.brightness_temperature_4
avhrr.n06.bad_data                                     sub_avhrr.n06.avhrr.n06.bad_data
avhrr.n06.cloud_flag                                   sub_avhrr.n06.avhrr.n06.cloud_flag
avhrr.n06.cloud_probability                            sub_avhrr.n06.avhrr.n06.cloud_probability
avhrr.n06.solar_zenith_angle                           sub_avhrr.n06.avhrr.n06.solar_zenith_angle
avhrr.n06.satellite_zenith_angle                       sub_avhrr.n06.avhrr.n06.satellite_zenith_angle
avhrr.n06.relative_azimuth_angle                       sub_avhrr.n06.avhrr.n06.relative_azimuth_angle
avhrr.n06.l1b_record_number                            sub_avhrr.n06.avhrr.n06.l1b_record_number
avhrr.n06.l1b_filename                                 sub_avhrr.n06.avhrr.n06.l1b_filename
avhrr.n06.l1c_filename                                 sub_avhrr.n06.avhrr.n06.l1c_filename
avhrr.n06.matchup_elem                                 sub_avhrr.n06.avhrr.n06.matchup_elem
avhrr.n06.matchup_line                                 sub_avhrr.n06.avhrr.n06.matchup_line
avhrr.n06.nwp.seaice_fraction                          nwp_avhrr.n06.avhrr.n06.nwp.CI                                 NoStandardName
avhrr.n06.nwp.snow_albedo                              nwp_avhrr.n06.avhrr.n06.nwp.ASN                                NoStandardName
avhrr.n06.nwp.sea_surface_temperature                  nwp_avhrr.n06.avhrr.n06.nwp.SSTK                               NoStandardName
avhrr.n06.nwp.total_column_water_vapour                nwp_avhrr.n06.avhrr.n06.nwp.TCWV
avhrr.n06.nwp.mean_sea_level_pressure                  nwp_avhrr.n06.avhrr.n06.nwp.MSL
avhrr.n06.nwp.total_cloud_cover                        nwp_avhrr.n06.avhrr.n06.nwp.TCC
avhrr.n06.nwp.10m_east_wind_component                  nwp_avhrr.n06.avhrr.n06.nwp.U10
avhrr.n06.nwp.10m_north_wind_component                 nwp_avhrr.n06.avhrr.n06.nwp.V10
avhrr.n06.nwp.2m_temperature                           nwp_avhrr.n06.avhrr.n06.nwp.T2
avhrr.n06.nwp.2m_dew_point                             nwp_avhrr.n06.avhrr.n06.nwp.D2
avhrr.n06.nwp.albedo                                   nwp_avhrr.n06.avhrr.n06.nwp.AL
avhrr.n06.nwp.skin_temperature                         nwp_avhrr.n06.avhrr.n06.nwp.SKT
avhrr.n06.nwp.log_surface_pressure                     nwp_avhrr.n06.avhrr.n06.nwp.LNSP
avhrr.n06.nwp.temperature_profile                      nwp_avhrr.n06.avhrr.n06.nwp.T
avhrr.n06.nwp.water_vapour_profile                     nwp_avhrr.n06.avhrr.n06.nwp.Q
avhrr.n06.nwp.ozone_profile                            nwp_avhrr.n06.avhrr.n06.nwp.O3
avhrr.n06.oe.sea_surface_temperature.n1b               arc_avhrr.n06.oe.sea_surface_temperature.n1b                   MatchupDimension,AvhrrNwpXyDimensions
avhrr.n06.oe.sea_surface_temperature.n1                arc_avhrr.n06.oe.sea_surface_temperature.n1                    MatchupDimension,AvhrrNwpXyDimensions
avhrr.n06.oe.sea_surface_temperature.n4                arc_avhrr.n06.oe.sea_surface_temperature.n4                    MatchupDimension,AvhrrNwpXyDimensions
avhrr.n06.oe.water_vapour.n1b                          arc_avhrr.n06.oe.water_vapour.n1b                              MatchupDimension,AvhrrNwpXyDimensions
avhrr.n06.oe.water_vapour.n1                           arc_avhrr.n06.oe.water_vapour.n1                               MatchupDimension,AvhrrNwpXyDimensions
avhrr.n06.oe.water_vapour.n4                           arc_avhrr.n06.oe.water_vapour.n4                               MatchupDimension,AvhrrNwpXyDimensions
avhrr.n06.oe.chisquare.n1b                             arc_avhrr.n06.oe.chisquare.n1b                                 MatchupDimension,AvhrrNwpXyDimensions
avhrr.n06.oe.chisquare.n1                              arc_avhrr.n06.oe.chisquare.n1                                  MatchupDimension,AvhrrNwpXyDimensions
avhrr.n06.oe.chisquare.n4                              arc_avhrr.n06.oe.chisquare.n4                                  MatchupDimension,AvhrrNwpXyDimensions
avhrr.n06.oe.sensitivity.n1b                           arc_avhrr.n06.oe.sensitivity.n1b                               MatchupDimension,AvhrrNwpXyDimensions
avhrr.n06.oe.sensitivity.n1                            arc_avhrr.n06.oe.sensitivity.n1                                MatchupDimension,AvhrrNwpXyDimensions
avhrr.n06.oe.sensitivity.n4                            arc_avhrr.n06.oe.sensitivity.n4                                MatchupDimension,AvhrrNwpXyDimensions
avhrr.n06.gbcs.p_clear.min                             arc_avhrr.n06.gbcs.p_clear.min                                 MatchupDimension,AvhrrNwpXyDimensions
avhrr.n06.gbcs.p_clear.max                             arc_avhrr.n06.gbcs.p_clear.max                                 MatchupDimension,AvhrrNwpXyDimensions
avhrr.n06.ffm.brightness_temperature_3b                arc_avhrr.n06.ffm.brightness_temperature_3b                    MatchupDimension,AvhrrNwpXyDimensions,ToBrightnessTemperature
avhrr.n06.ffm.brightness_temperature_4                 arc_avhrr.n06.ffm.brightness_temperature_4                     MatchupDimension,AvhrrNwpXyDimensions,ToBrightnessTemperature
avhrr.n06.ffm.dbt_dsst_3b                              arc_avhrr.n06.ffm.dbt_dsst_3b                                  MatchupDimension,AvhrrNwpXyDimensions
avhrr.n06.ffm.dbt_dsst_4                               arc_avhrr.n06.ffm.dbt_dsst_4                                   MatchupDimension,AvhrrNwpXyDimensions
avhrr.n06.ffm.dbt_dtcwv_3b                             arc_avhrr.n06.ffm.dbt_dtcwv_3b                                 MatchupDimension,AvhrrNwpXyDimensions
avhrr.n06.ffm.dbt_dtcwv_4                              arc_avhrr.n06.ffm.dbt_dtcwv_4                                  MatchupDimension,AvhrrNwpXyDimensions
avhrr.n06.land_sea_mask                                sub_avhrr.n06.avhrr.n06.land_sea_mask

### AVHRR_FRAC MetOp-B

avhrr.n07.time                                         sub_avhrr.n07.avhrr.n07.time
avhrr.n07.latitude                                     sub_avhrr.n07.avhrr.n07.latitude
avhrr.n07.dtime                                        sub_avhrr.n07.avhrr.n07.dtime
avhrr.n07.longitude                                    sub_avhrr.n07.avhrr.n07.longitude
avhrr.n07.reflectance_1                                sub_avhrr.n07.avhrr.n07.reflectance_1
avhrr.n07.reflectance_2                                sub_avhrr.n07.avhrr.n07.reflectance_2
avhrr.n07.brightness_temperature_3b                    sub_avhrr.n07.avhrr.n07.brightness_temperature_3b
avhrr.n07.brightness_temperature_4                     sub_avhrr.n07.avhrr.n07.brightness_temperature_4
avhrr.n07.brightness_temperature_5                     sub_avhrr.n07.avhrr.n07.brightness_temperature_5
avhrr.n07.bad_data                                     sub_avhrr.n07.avhrr.n07.bad_data
avhrr.n07.cloud_flag                                   sub_avhrr.n07.avhrr.n07.cloud_flag
avhrr.n07.cloud_probability                            sub_avhrr.n07.avhrr.n07.cloud_probability
avhrr.n07.solar_zenith_angle                           sub_avhrr.n07.avhrr.n07.solar_zenith_angle
avhrr.n07.satellite_zenith_angle                       sub_avhrr.n07.avhrr.n07.satellite_zenith_angle
avhrr.n07.relative_azimuth_angle                       sub_avhrr.n07.avhrr.n07.relative_azimuth_angle
avhrr.n07.l1b_record_number                            sub_avhrr.n07.avhrr.n07.l1b_record_number
avhrr.n07.l1b_filename                                 sub_avhrr.n07.avhrr.n07.l1b_filename
avhrr.n07.l1c_filename                                 sub_avhrr.n07.avhrr.n07.l1c_filename
avhrr.n07.matchup_elem                                 sub_avhrr.n07.avhrr.n07.matchup_elem
avhrr.n07.matchup_line                                 sub_avhrr.n07.avhrr.n07.matchup_line
avhrr.n07.nwp.seaice_fraction                          nwp_avhrr.n07.avhrr.n07.nwp.CI                                 NoStandardName
avhrr.n07.nwp.snow_albedo                              nwp_avhrr.n07.avhrr.n07.nwp.ASN                                NoStandardName
avhrr.n07.nwp.sea_surface_temperature                  nwp_avhrr.n07.avhrr.n07.nwp.SSTK                               NoStandardName
avhrr.n07.nwp.total_column_water_vapour                nwp_avhrr.n07.avhrr.n07.nwp.TCWV
avhrr.n07.nwp.mean_sea_level_pressure                  nwp_avhrr.n07.avhrr.n07.nwp.MSL
avhrr.n07.nwp.total_cloud_cover                        nwp_avhrr.n07.avhrr.n07.nwp.TCC
avhrr.n07.nwp.10m_east_wind_component                  nwp_avhrr.n07.avhrr.n07.nwp.U10
avhrr.n07.nwp.10m_north_wind_component                 nwp_avhrr.n07.avhrr.n07.nwp.V10
avhrr.n07.nwp.2m_temperature                           nwp_avhrr.n07.avhrr.n07.nwp.T2
avhrr.n07.nwp.2m_dew_point                             nwp_avhrr.n07.avhrr.n07.nwp.D2
avhrr.n07.nwp.albedo                                   nwp_avhrr.n07.avhrr.n07.nwp.AL
avhrr.n07.nwp.skin_temperature                         nwp_avhrr.n07.avhrr.n07.nwp.SKT
avhrr.n07.nwp.log_surface_pressure                     nwp_avhrr.n07.avhrr.n07.nwp.LNSP
avhrr.n07.nwp.temperature_profile                      nwp_avhrr.n07.avhrr.n07.nwp.T
avhrr.n07.nwp.water_vapour_profile                     nwp_avhrr.n07.avhrr.n07.nwp.Q
avhrr.n07.nwp.ozone_profile                            nwp_avhrr.n07.avhrr.n07.nwp.O3
avhrr.n07.oe.sea_surface_temperature.n2b               arc_avhrr.n07.oe.sea_surface_temperature.n2b                   MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.oe.sea_surface_temperature.n2                arc_avhrr.n07.oe.sea_surface_temperature.n2                    MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.oe.sea_surface_temperature.n3                arc_avhrr.n07.oe.sea_surface_temperature.n3                    MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.oe.water_vapour.n2b                          arc_avhrr.n07.oe.water_vapour.n2b                              MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.oe.water_vapour.n2                           arc_avhrr.n07.oe.water_vapour.n2                               MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.oe.water_vapour.n3                           arc_avhrr.n07.oe.water_vapour.n3                               MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.oe.chisquare.n2b                             arc_avhrr.n07.oe.chisquare.n2b                                 MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.oe.chisquare.n2                              arc_avhrr.n07.oe.chisquare.n2                                  MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.oe.chisquare.n3                              arc_avhrr.n07.oe.chisquare.n3                                  MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.oe.sensitivity.n2b                           arc_avhrr.n07.oe.sensitivity.n2b                               MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.oe.sensitivity.n2                            arc_avhrr.n07.oe.sensitivity.n2                                MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.oe.sensitivity.n3                            arc_avhrr.n07.oe.sensitivity.n3                                MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.gbcs.p_clear.min                             arc_avhrr.n07.gbcs.p_clear.min                                 MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.gbcs.p_clear.max                             arc_avhrr.n07.gbcs.p_clear.max                                 MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.ffm.brightness_temperature_3b                arc_avhrr.n07.ffm.brightness_temperature_3b                    MatchupDimension,AvhrrNwpXyDimensions,ToBrightnessTemperature
avhrr.n07.ffm.brightness_temperature_4                 arc_avhrr.n07.ffm.brightness_temperature_4                     MatchupDimension,AvhrrNwpXyDimensions,ToBrightnessTemperature
avhrr.n07.ffm.brightness_temperature_5                 arc_avhrr.n07.ffm.brightness_temperature_5                     MatchupDimension,AvhrrNwpXyDimensions,ToBrightnessTemperature
avhrr.n07.ffm.dbt_dsst_3b                              arc_avhrr.n07.ffm.dbt_dsst_3b                                  MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.ffm.dbt_dsst_4                               arc_avhrr.n07.ffm.dbt_dsst_4                                   MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.ffm.dbt_dsst_5                               arc_avhrr.n07.ffm.dbt_dsst_5                                   MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.ffm.dbt_dtcwv_3b                             arc_avhrr.n07.ffm.dbt_dtcwv_3b                                 MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.ffm.dbt_dtcwv_4                              arc_avhrr.n07.ffm.dbt_dtcwv_4                                  MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.ffm.dbt_dtcwv_5                              arc_avhrr.n07.ffm.dbt_dtcwv_5                                  MatchupDimension,AvhrrNwpXyDimensions
avhrr.n07.land_sea_mask                                sub_avhrr.n07.avhrr.n07.land_sea_mask


### aai

aai.latitude                                           aai.lat                                                         MatchupDimension,AaiImageDimensions,LatType
aai.longitude                                          aai.lon                                                         MatchupDimension,AaiImageDimensions,LonType
aai.absorbing_aerosol_index                            aai.aerosol_absorbing_index                                     MatchupDimension,AaiImageDimensions,PercentUnit
aai.land_sea_mask                                      Implicit                                                        AaiSensor,MatchupDimension,AaiImageDimensions,LandSeaMask
aai.filename                                           Implicit                                                        AaiSensor,MatchupDimension,FilenameDimension,ObservationFilename
aai.matchup_elem                                       Implicit                                                        AaiSensor,MatchupDimension,MatchupElem
aai.matchup_line                                       Implicit                                                        AaiSensor,MatchupDimension,MatchupLine


### seaice

seaice.latitude                                        seaice.lat                                                      MatchupDimension,SeaIceImageDimensions,LatType
seaice.longitude                                       seaice.lon                                                      MatchupDimension,SeaIceImageDimensions,LonType
seaice.concentration                                   seaice.sea_ice_concentration                                    MatchupDimension,SeaIceImageDimensions
seaice.land_sea_mask                                   Implicit                                                        SeaiceSensor,MatchupDimension,SeaIceImageDimensions,LandSeaMask
seaice.filename                                        Implicit                                                        SeaiceSensor,MatchupDimension,FilenameDimension,ObservationFilename
seaice.matchup_elem                                    Implicit                                                        SeaiceSensor,MatchupDimension,MatchupElem
seaice.matchup_line                                    Implicit                                                        SeaiceSensor,MatchupDimension,MatchupLine


### insitu

insitu.dtime                                           Implicit                                                        InsituSensor,MatchupDimension,InsituDimension,InsituTime
insitu.latitude                                        history.insitu.lat                                              InsituSensor,MatchupDimension,InsituDimension,LatType
insitu.longitude                                       history.insitu.lon                                              InsituSensor,MatchupDimension,InsituDimension,LonType
insitu.sea_surface_temperature                         history.insitu.sea_surface_temperature                          InsituSensor,MatchupDimension,InsituDimension,CelsiusToKelvin,ToSeaSurfaceTemperature
insitu.sst_uncertainty                                 history.insitu.sst_uncertainty                                  InsituSensor,MatchupDimension,InsituDimension,ToSeaSurfaceTemperatureUncertainty
insitu.sst_depth                                       history.insitu.sst_depth                                        InsituSensor,MatchupDimension,InsituDimension
insitu.sst_qc_flag                                     history.insitu.sst_qc_flag                                      InsituSensor,MatchupDimension,InsituDimension
insitu.sst_track_flag                                  history.insitu.sst_track_flag                                   InsituSensor,MatchupDimension,InsituDimension
insitu.mohc_id                                         history.insitu.mohc_id                                          InsituSensor,MatchupDimension,InsituDimension
