#
# Copyright (c) 2015 Brockmann Consult GmbH (info@brockmann-consult.de)
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation; either version 3 of the License, or (at your option)
# any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, see http://www.gnu.org/licenses/
#

# column 1: target name
# column 2: source name
# column 3: rule specification

### matchup

matchup.id                                             matchup.matchup.id
matchup.time                                           matchup.matchup.time
matchup.longitude                                      matchup.matchup.longitude
matchup.latitude                                       matchup.matchup.latitude

matchup.insitu.callsign                                matchup.matchup.insitu.callsign
matchup.insitu.dataset                                 matchup.matchup.insitu.dataset
matchup.reference_flag                                 matchup.matchup.reference_flag
matchup.dataset_id                                     matchup.matchup.dataset_id

matchup.nwp.an.sea_ice_fraction                        matchup.matchup.nwp.an.CI
matchup.nwp.an.sea_surface_temperature                 matchup.matchup.nwp.an.SSTK
matchup.nwp.an.10m_east_wind_component                 matchup.matchup.nwp.an.U10
matchup.nwp.an.10m_north_wind_component                matchup.matchup.nwp.an.V10
matchup.nwp.an.t0                                      matchup.matchup.nwp.an.t0
matchup.nwp.fc.sea_surface_temperature                 matchup.matchup.nwp.fc.SSTK
matchup.nwp.fc.surface_sensible_heat_flux              matchup.matchup.nwp.fc.SSHF
matchup.nwp.fc.surface_latent_heat_flux                matchup.matchup.nwp.fc.SLHF
matchup.nwp.fc.mean_sea_level_pressure                 matchup.matchup.nwp.fc.MSL
matchup.nwp.fc.boundary_layer_height                   matchup.matchup.nwp.fc.BLH
matchup.nwp.fc.10m_east_wind_component                 matchup.matchup.nwp.fc.U10
matchup.nwp.fc.10m_north_wind_component                matchup.matchup.nwp.fc.V10
matchup.nwp.fc.2m_temperature                          matchup.matchup.nwp.fc.T2
matchup.nwp.fc.2m_dew_point                            matchup.matchup.nwp.fc.D2
matchup.nwp.fc.downward_surface_solar_radiation        matchup.matchup.nwp.fc.SSRD
matchup.nwp.fc.downward_surface_thermal_radiation      matchup.matchup.nwp.fc.STRD
matchup.nwp.fc.surface_solar_radiation                 matchup.matchup.nwp.fc.SSR
matchup.nwp.fc.surface_thermal_radiation               matchup.matchup.nwp.fc.STR
matchup.nwp.fc.turbulent_stress_east                   matchup.matchup.nwp.fc.EWSS
matchup.nwp.fc.turbulent_stress_north                  matchup.matchup.nwp.fc.NSSS
matchup.nwp.fc.evaporation                             matchup.matchup.nwp.fc.E
matchup.nwp.fc.total_precipitation                     matchup.matchup.nwp.fc.TP
matchup.nwp.fc.t0                                      matchup.matchup.nwp.fc.t0


### AVHRR METOP-B

avhrr_f.m01.time                                       sub_avhrr_f.m01.avhrr_f.m01.time
avhrr_f.m01.dtime                                      sub_avhrr_f.m01.avhrr_f.m01.dtime
avhrr_f.m01.latitude                                   sub_avhrr_f.m01.avhrr_f.m01.latitude
avhrr_f.m01.longitude                                  sub_avhrr_f.m01.avhrr_f.m01.longitude
avhrr_f.m01.reflectance_1                              sub_avhrr_f.m01.avhrr_f.m01.reflectance_1
avhrr_f.m01.reflectance_2                              sub_avhrr_f.m01.avhrr_f.m01.reflectance_2
avhrr_f.m01.reflectance_3a                             sub_avhrr_f.m01.avhrr_f.m01.reflectance_3a
avhrr_f.m01.brightness_temperature_3b                  sub_avhrr_f.m01.avhrr_f.m01.brightness_temperature_3b
avhrr_f.m01.brightness_temperature_4                   sub_avhrr_f.m01.avhrr_f.m01.brightness_temperature_4
avhrr_f.m01.brightness_temperature_5                   sub_avhrr_f.m01.avhrr_f.m01.brightness_temperature_5
avhrr_f.m01.solar_zenith_angle                         sub_avhrr_f.m01.avhrr_f.m01.solar_zenith_angle
avhrr_f.m01.satellite_zenith_angle                     sub_avhrr_f.m01.avhrr_f.m01.satellite_zenith_angle
avhrr_f.m01.solar_azimuth_angle                        sub_avhrr_f.m01.avhrr_f.m01.solar_azimuth_angle
avhrr_f.m01.satellite_azimuth_angle                    sub_avhrr_f.m01.avhrr_f.m01.satellite_azimuth_angle
avhrr_f.m01.relative_azimuth_angle                     sub_avhrr_f.m01.avhrr_f.m01.relative_azimuth_angle
avhrr_f.m01.ict_temperature                            sub_avhrr_f.m01.avhrr_f.m01.ict_temperature
avhrr_f.m01.bad_data                                   sub_avhrr_f.m01.avhrr_f.m01.bad_data
avhrr_f.m01.cloud_flags                                sub_avhrr_f.m01.avhrr_f.m01.cloud_flags
avhrr_f.m01.l1b_filename                               sub_avhrr_f.m01.avhrr_f.m01.l1b_filename
avhrr_f.m01.matchup_elem                               sub_avhrr_f.m01.avhrr_f.m01.matchup_elem
avhrr_f.m01.matchup_line                               sub_avhrr_f.m01.avhrr_f.m01.matchup_line
avhrr_f.m01.nwp.seaice_fraction                        nwp_avhrr_f.m01.avhrr_f.m01.nwp.CI                              NoStandardName
avhrr_f.m01.nwp.snow_albedo                            nwp_avhrr_f.m01.avhrr_f.m01.nwp.ASN                             NoStandardName
avhrr_f.m01.nwp.sea_surface_temperature                nwp_avhrr_f.m01.avhrr_f.m01.nwp.SSTK                            NoStandardName
avhrr_f.m01.nwp.total_column_water_vapour              nwp_avhrr_f.m01.avhrr_f.m01.nwp.TCWV
avhrr_f.m01.nwp.mean_sea_level_pressure                nwp_avhrr_f.m01.avhrr_f.m01.nwp.MSL
avhrr_f.m01.nwp.total_cloud_cover                      nwp_avhrr_f.m01.avhrr_f.m01.nwp.TCC
avhrr_f.m01.nwp.10m_east_wind_component                nwp_avhrr_f.m01.avhrr_f.m01.nwp.U10
avhrr_f.m01.nwp.10m_north_wind_component               nwp_avhrr_f.m01.avhrr_f.m01.nwp.V10
avhrr_f.m01.nwp.2m_temperature                         nwp_avhrr_f.m01.avhrr_f.m01.nwp.T2
avhrr_f.m01.nwp.2m_dew_point                           nwp_avhrr_f.m01.avhrr_f.m01.nwp.D2
avhrr_f.m01.nwp.albedo                                 nwp_avhrr_f.m01.avhrr_f.m01.nwp.AL
avhrr_f.m01.nwp.skin_temperature                       nwp_avhrr_f.m01.avhrr_f.m01.nwp.SKT
avhrr_f.m01.nwp.log_surface_pressure                   nwp_avhrr_f.m01.avhrr_f.m01.nwp.LNSP
avhrr_f.m01.nwp.temperature_profile                    nwp_avhrr_f.m01.avhrr_f.m01.nwp.T
avhrr_f.m01.nwp.water_vapour_profile                   nwp_avhrr_f.m01.avhrr_f.m01.nwp.Q
avhrr_f.m01.nwp.ozone_profile                          nwp_avhrr_f.m01.avhrr_f.m01.nwp.O3
#avhrr_f.m01.ffm.brightness_temperature_3b              arc_avhrr_f.m01.avhrr_f.m01.ffm.brightness_temperature_3b       MatchupDimension,AvhrrFracNwpXyDimensions,ToBrightnessTemperature
#avhrr_f.m01.ffm.brightness_temperature_4               arc_avhrr_f.m01.avhrr_f.m01.ffm.brightness_temperature_4        MatchupDimension,AvhrrFracNwpXyDimensions,ToBrightnessTemperature
#avhrr_f.m01.ffm.brightness_temperature_5               arc_avhrr_f.m01.avhrr_f.m01.ffm.brightness_temperature_5        MatchupDimension,AvhrrFracNwpXyDimensions,ToBrightnessTemperature
#avhrr_f.m01.ffm.dbt_dsst_3b                            arc_avhrr_f.m01.avhrr_f.m01.ffm.dbt_dsst_3b                     MatchupDimension,AvhrrFracNwpXyDimensions
#avhrr_f.m01.ffm.dbt_dsst_4                             arc_avhrr_f.m01.avhrr_f.m01.ffm.dbt_dsst_4                      MatchupDimension,AvhrrFracNwpXyDimensions
#avhrr_f.m01.ffm.dbt_dsst_5                             arc_avhrr_f.m01.avhrr_f.m01.ffm.dbt_dsst_5                      MatchupDimension,AvhrrFracNwpXyDimensions
#avhrr_f.m01.ffm.dbt_dtcwv_3b                           arc_avhrr_f.m01.avhrr_f.m01.ffm.dbt_dtcwv_3b                    MatchupDimension,AvhrrFracNwpXyDimensions
#avhrr_f.m01.ffm.dbt_dtcwv_4                            arc_avhrr_f.m01.avhrr_f.m01.ffm.dbt_dtcwv_4                     MatchupDimension,AvhrrFracNwpXyDimensions
#avhrr_f.m01.ffm.dbt_dtcwv_5                            arc_avhrr_f.m01.avhrr_f.m01.ffm.dbt_dtcwv_5                     MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m01.land_sea_mask                              sub_avhrr_f.m01.avhrr_f.m01.land_sea_mask


### AVHRR METOP-A

avhrr_f.m02.time                                       sub_avhrr_f.m02.avhrr_f.m02.time
avhrr_f.m02.dtime                                      sub_avhrr_f.m02.avhrr_f.m02.dtime
avhrr_f.m02.latitude                                   sub_avhrr_f.m02.avhrr_f.m02.latitude
avhrr_f.m02.longitude                                  sub_avhrr_f.m02.avhrr_f.m02.longitude
avhrr_f.m02.reflectance_1                              sub_avhrr_f.m02.avhrr_f.m02.reflectance_1
avhrr_f.m02.reflectance_2                              sub_avhrr_f.m02.avhrr_f.m02.reflectance_2
avhrr_f.m02.reflectance_3a                             sub_avhrr_f.m02.avhrr_f.m02.reflectance_3a
avhrr_f.m02.brightness_temperature_3b                  sub_avhrr_f.m02.avhrr_f.m02.brightness_temperature_3b
avhrr_f.m02.brightness_temperature_4                   sub_avhrr_f.m02.avhrr_f.m02.brightness_temperature_4
avhrr_f.m02.brightness_temperature_5                   sub_avhrr_f.m02.avhrr_f.m02.brightness_temperature_5
avhrr_f.m02.solar_zenith_angle                         sub_avhrr_f.m02.avhrr_f.m02.solar_zenith_angle
avhrr_f.m02.satellite_zenith_angle                     sub_avhrr_f.m02.avhrr_f.m02.satellite_zenith_angle
avhrr_f.m02.solar_azimuth_angle                        sub_avhrr_f.m02.avhrr_f.m02.solar_azimuth_angle
avhrr_f.m02.satellite_azimuth_angle                    sub_avhrr_f.m02.avhrr_f.m02.satellite_azimuth_angle
avhrr_f.m02.relative_azimuth_angle                     sub_avhrr_f.m02.avhrr_f.m02.relative_azimuth_angle
avhrr_f.m02.ict_temperature                            sub_avhrr_f.m02.avhrr_f.m02.ict_temperature
avhrr_f.m02.bad_data                                   sub_avhrr_f.m02.avhrr_f.m02.bad_data
avhrr_f.m02.cloud_flags                                sub_avhrr_f.m02.avhrr_f.m02.cloud_flags
avhrr_f.m02.l1b_filename                               sub_avhrr_f.m02.avhrr_f.m02.l1b_filename
avhrr_f.m02.matchup_elem                               sub_avhrr_f.m02.avhrr_f.m02.matchup_elem
avhrr_f.m02.matchup_line                               sub_avhrr_f.m02.avhrr_f.m02.matchup_line
avhrr_f.m02.nwp.seaice_fraction                        nwp_avhrr_f.m02.avhrr_f.m02.nwp.CI                              NoStandardName
avhrr_f.m02.nwp.snow_albedo                            nwp_avhrr_f.m02.avhrr_f.m02.nwp.ASN                             NoStandardName
avhrr_f.m02.nwp.sea_surface_temperature                nwp_avhrr_f.m02.avhrr_f.m02.nwp.SSTK                            NoStandardName
avhrr_f.m02.nwp.total_column_water_vapour              nwp_avhrr_f.m02.avhrr_f.m02.nwp.TCWV
avhrr_f.m02.nwp.mean_sea_level_pressure                nwp_avhrr_f.m02.avhrr_f.m02.nwp.MSL
avhrr_f.m02.nwp.total_cloud_cover                      nwp_avhrr_f.m02.avhrr_f.m02.nwp.TCC
avhrr_f.m02.nwp.10m_east_wind_component                nwp_avhrr_f.m02.avhrr_f.m02.nwp.U10
avhrr_f.m02.nwp.10m_north_wind_component               nwp_avhrr_f.m02.avhrr_f.m02.nwp.V10
avhrr_f.m02.nwp.2m_temperature                         nwp_avhrr_f.m02.avhrr_f.m02.nwp.T2
avhrr_f.m02.nwp.2m_dew_point                           nwp_avhrr_f.m02.avhrr_f.m02.nwp.D2
avhrr_f.m02.nwp.albedo                                 nwp_avhrr_f.m02.avhrr_f.m02.nwp.AL
avhrr_f.m02.nwp.skin_temperature                       nwp_avhrr_f.m02.avhrr_f.m02.nwp.SKT
avhrr_f.m02.nwp.log_surface_pressure                   nwp_avhrr_f.m02.avhrr_f.m02.nwp.LNSP
avhrr_f.m02.nwp.temperature_profile                    nwp_avhrr_f.m02.avhrr_f.m02.nwp.T
avhrr_f.m02.nwp.water_vapour_profile                   nwp_avhrr_f.m02.avhrr_f.m02.nwp.Q
avhrr_f.m02.nwp.ozone_profile                          nwp_avhrr_f.m02.avhrr_f.m02.nwp.O3
#avhrr_f.m02.ffm.brightness_temperature_3b              arc_avhrr_f.m02.avhrr_f.m02.ffm.brightness_temperature_3b       MatchupDimension,AvhrrFracNwpXyDimensions,ToBrightnessTemperature
#avhrr_f.m02.ffm.brightness_temperature_4               arc_avhrr_f.m02.avhrr_f.m02.ffm.brightness_temperature_4        MatchupDimension,AvhrrFracNwpXyDimensions,ToBrightnessTemperature
#avhrr_f.m02.ffm.brightness_temperature_5               arc_avhrr_f.m02.avhrr_f.m02.ffm.brightness_temperature_5        MatchupDimension,AvhrrFracNwpXyDimensions,ToBrightnessTemperature
#avhrr_f.m02.ffm.dbt_dsst_3b                            arc_avhrr_f.m02.avhrr_f.m02.ffm.dbt_dsst_3b                     MatchupDimension,AvhrrFracNwpXyDimensions
#avhrr_f.m02.ffm.dbt_dsst_4                             arc_avhrr_f.m02.avhrr_f.m02.ffm.dbt_dsst_4                      MatchupDimension,AvhrrFracNwpXyDimensions
#avhrr_f.m02.ffm.dbt_dsst_5                             arc_avhrr_f.m02.avhrr_f.m02.ffm.dbt_dsst_5                      MatchupDimension,AvhrrFracNwpXyDimensions
#avhrr_f.m02.ffm.dbt_dtcwv_3b                           arc_avhrr_f.m02.avhrr_f.m02.ffm.dbt_dtcwv_3b                    MatchupDimension,AvhrrFracNwpXyDimensions
#avhrr_f.m02.ffm.dbt_dtcwv_4                            arc_avhrr_f.m02.avhrr_f.m02.ffm.dbt_dtcwv_4                     MatchupDimension,AvhrrFracNwpXyDimensions
#avhrr_f.m02.ffm.dbt_dtcwv_5                            arc_avhrr_f.m02.avhrr_f.m02.ffm.dbt_dtcwv_5                     MatchupDimension,AvhrrFracNwpXyDimensions
avhrr_f.m02.land_sea_mask                              sub_avhrr_f.m02.avhrr_f.m02.land_sea_mask


### AMSR2

amsr2.time                                             sub_amsr2.amsr2.time
amsr2.dtime                                            sub_amsr2.amsr2.dtime
amsr2.latitude                                         sub_amsr2.amsr2.latitude
amsr2.longitude                                        sub_amsr2.amsr2.longitude
amsr2.brightness_temperature_89v                       sub_amsr2.amsr2.brightness_temperature_89v
amsr2.brightness_temperature_89h                       sub_amsr2.amsr2.brightness_temperature_89h
amsr2.brightness_temperature_36v                       sub_amsr2.amsr2.brightness_temperature_36v
amsr2.brightness_temperature_36h                       sub_amsr2.amsr2.brightness_temperature_36h
amsr2.brightness_temperature_23v                       sub_amsr2.amsr2.brightness_temperature_23v
amsr2.brightness_temperature_23h                       sub_amsr2.amsr2.brightness_temperature_23h
amsr2.brightness_temperature_18v                       sub_amsr2.amsr2.brightness_temperature_18v
amsr2.brightness_temperature_18h                       sub_amsr2.amsr2.brightness_temperature_18h
amsr2.brightness_temperature_10v                       sub_amsr2.amsr2.brightness_temperature_10v
amsr2.brightness_temperature_10h                       sub_amsr2.amsr2.brightness_temperature_10h
amsr2.brightness_temperature_7v                        sub_amsr2.amsr2.brightness_temperature_7v
amsr2.brightness_temperature_7h                        sub_amsr2.amsr2.brightness_temperature_7h
amsr2.brightness_temperature_6v                        sub_amsr2.amsr2.brightness_temperature_6v
amsr2.brightness_temperature_6h                        sub_amsr2.amsr2.brightness_temperature_6h
amsr2.solar_zenith_angle                               sub_amsr2.amsr2.solar_zenith_angle
amsr2.satellite_zenith_angle                           sub_amsr2.amsr2.satellite_zenith_angle
amsr2.solar_azimuth_angle                              sub_amsr2.amsr2.solar_azimuth_angle
amsr2.satellite_azimuth_angle                          sub_amsr2.amsr2.satellite_azimuth_angle
amsr2.pixel_data_quality_6                             sub_amsr2.amsr2.pixel_data_quality_6
amsr2.pixel_data_quality_89                            sub_amsr2.amsr2.pixel_data_quality_89
amsr2.scan_data_quality                                sub_amsr2.amsr2.scan_data_quality
amsr2.land_ocean_flag_6                                sub_amsr2.amsr2.land_ocean_flag_6
amsr2.l1r_filename                                     sub_amsr2.amsr2.l1r_filename
amsr2.matchup_elem                                     sub_amsr2.amsr2.matchup_elem
amsr2.matchup_line                                     sub_amsr2.amsr2.matchup_line
amsr2.nwp.seaice_fraction                              nwp_amsr2.amsr2.nwp.CI                              NoStandardName
amsr2.nwp.snow_albedo                                  nwp_amsr2.amsr2.nwp.ASN                             NoStandardName
amsr2.nwp.sea_surface_temperature                      nwp_amsr2.amsr2.nwp.SSTK                            NoStandardName
amsr2.nwp.total_column_water_vapour                    nwp_amsr2.amsr2.nwp.TCWV
amsr2.nwp.mean_sea_level_pressure                      nwp_amsr2.amsr2.nwp.MSL
amsr2.nwp.total_cloud_cover                            nwp_amsr2.amsr2.nwp.TCC
amsr2.nwp.10m_east_wind_component                      nwp_amsr2.amsr2.nwp.U10
amsr2.nwp.10m_north_wind_component                     nwp_amsr2.amsr2.nwp.V10
amsr2.nwp.2m_temperature                               nwp_amsr2.amsr2.nwp.T2
amsr2.nwp.2m_dew_point                                 nwp_amsr2.amsr2.nwp.D2
amsr2.nwp.albedo                                       nwp_amsr2.amsr2.nwp.AL
amsr2.nwp.skin_temperature                             nwp_amsr2.amsr2.nwp.SKT
amsr2.nwp.log_surface_pressure                         nwp_amsr2.amsr2.nwp.LNSP
amsr2.nwp.temperature_profile                          nwp_amsr2.amsr2.nwp.T
amsr2.nwp.water_vapour_profile                         nwp_amsr2.amsr2.nwp.Q
amsr2.nwp.ozone_profile                                nwp_amsr2.amsr2.nwp.O3
amsr2.nwp.cloud_liquid_water                           nwp_amsr2.amsr2.nwp.CLWC
amsr2.nwp.cloud_ice_water                              nwp_amsr2.amsr2.nwp.CIWC
amsr2.nwp.total_precip                                 nwp_amsr2.amsr2.nwp.TP
# TODO arc fields
amsr2.land_sea_mask                                    sub_amsr2.amsr2.land_sea_mask
amsr2.scan_time                                        sub_amsr2.amsr2.scan_time

### aai

aai.latitude                                           aai.lat                                                         MatchupDimension,AaiImageDimensions,LatType
aai.longitude                                          aai.lon                                                         MatchupDimension,AaiImageDimensions,LonType
aai.absorbing_aerosol_index                            aai.aerosol_absorbing_index                                     MatchupDimension,AaiImageDimensions,PercentUnit
aai.land_sea_mask                                      Implicit                                                        AaiSensor,MatchupDimension,AaiImageDimensions,LandSeaMask
aai.filename                                           Implicit                                                        AaiSensor,MatchupDimension,FilenameDimension,ObservationFilename
aai.matchup_elem                                       Implicit                                                        AaiSensor,MatchupDimension,MatchupElem
aai.matchup_line                                       Implicit                                                        AaiSensor,MatchupDimension,MatchupLine


### seaice

seaice.latitude                                        seaice.lat                                                      MatchupDimension,SeaIceImageDimensions,LatType
seaice.longitude                                       seaice.lon                                                      MatchupDimension,SeaIceImageDimensions,LonType
seaice.concentration                                   seaice.sea_ice_concentration                                    MatchupDimension,SeaIceImageDimensions
seaice.land_sea_mask                                   Implicit                                                        SeaiceSensor,MatchupDimension,SeaIceImageDimensions,LandSeaMask
seaice.filename                                        Implicit                                                        SeaiceSensor,MatchupDimension,FilenameDimension,ObservationFilename
seaice.matchup_elem                                    Implicit                                                        SeaiceSensor,MatchupDimension,MatchupElem
seaice.matchup_line                                    Implicit                                                        SeaiceSensor,MatchupDimension,MatchupLine


### insitu

insitu.dtime                                           Implicit                                                        InsituSensor,MatchupDimension,InsituDimension,InsituTime
insitu.latitude                                        history.insitu.lat                                              InsituSensor,MatchupDimension,InsituDimension,LatType
insitu.longitude                                       history.insitu.lon                                              InsituSensor,MatchupDimension,InsituDimension,LonType
insitu.sea_surface_temperature                         history.insitu.sea_surface_temperature                          InsituSensor,MatchupDimension,InsituDimension,CelsiusToKelvin,ToSeaSurfaceTemperature
insitu.sst_uncertainty                                 history.insitu.sst_uncertainty                                  InsituSensor,MatchupDimension,InsituDimension,ToSeaSurfaceTemperatureUncertainty
insitu.sst_depth                                       history.insitu.sst_depth                                        InsituSensor,MatchupDimension,InsituDimension
insitu.sst_qc_flag                                     history.insitu.sst_qc_flag                                      InsituSensor,MatchupDimension,InsituDimension
insitu.sst_track_flag                                  history.insitu.sst_track_flag                                   InsituSensor,MatchupDimension,InsituDimension
insitu.mohc_id                                         history.insitu.mohc_id                                          InsituSensor,MatchupDimension,InsituDimension
