# column 1: target name
# column 2: source name
# column 3: rule specification

### matchup

matchup.id                                Implicit                                     MatchupDimension,MatchupId
matchup.time                              Implicit                                     MatchupDimension,TimeType,ReferenceTime
matchup.longitude                         Implicit                                     MatchupDimension,LonType,MatchupLon
matchup.latitude                          Implicit                                     MatchupDimension,LatType,MatchupLat
matchup.insitu.callsign                   Implicit                                     MatchupDimension,CallsignDimension,CharType,MatchupCallsign
matchup.insitu.dataset                    Implicit                                     MatchupInsituDataset
matchup.reference_flag                    Implicit                                     MatchupReferenceFlag
matchup.valid                             Implicit                                     MatchupDimension,ByteType,MatchupValid
matchup.primary_sensor                    Implicit                                     MatchupDimension,ByteType,MatchupPrimarySensor
matchup.primary_filename                  Implicit                                     MatchupDimension,FilenameDimension,CharType,MatchupPrimaryFilename
matchup.sensor_list                       Implicit                                     MatchupPattern

# todo - NWP fields

### metop md

metop.time                                Implicit                                     MetopSensor,MatchupDimension,TimeType,ReferenceTime
metop.dtime                               Implicit                                     MetopSensor,MatchupDimension,MetopYDimension,DTimeType,DTime
metop.latitude                            metop.lat                                    MatchupDimension,MetopImageDimensions,ShortToFloat
metop.longitude                           metop.lon                                    MatchupDimension,MetopImageDimensions,ShortToFloat
metop.reflectance_006                     metop.VIS006                                 MatchupDimension,MetopImageDimensions,FromPercent,ToReflectance
metop.reflectance_009                     metop.VIS009                                 MatchupDimension,MetopImageDimensions,FromPercent,ToReflectance
metop.reflectance_016                     metop.VIS012                                 MatchupDimension,MetopImageDimensions,FromPercent,ToReflectance
metop.brightness_temperature_037          metop.IR037                                  MatchupDimension,MetopImageDimensions,ToBrightnessTemperature
metop.brightness_temperature_108          metop.IR108                                  MatchupDimension,MetopImageDimensions,ToBrightnessTemperature
metop.brightness_temperature_120          metop.IR120                                  MatchupDimension,MetopImageDimensions,ToBrightnessTemperature
metop.solar_zenith_angle                  metop.solzen                                 MatchupDimension,MetopImageDimensions,ZenithAngle
metop.satellite_zenith_angle              metop.satzen                                 MatchupDimension,MetopImageDimensions,ZenithAngle
metop.relative_azimuth_angle              metop.relazi                                 MatchupDimension,MetopImageDimensions,AzimuthAngle
metop.sea_surface_temperature             metop.sst                                    MatchupDimension,MetopImageDimensions,ToSeaSurfaceTemperature
metop.sst_confidence_level                metop.sst_confidence_level                   MatchupDimension,MetopImageDimensions
metop.sst_mask_indicator                  metop.sst_mask_ind                           MatchupDimension,MetopImageDimensions
metop.sst_missing_reason                  metop.sst_missing_reason                     MatchupDimension,MetopImageDimensions
metop.aerosol_optical_depth               metop.x_aod                                  MatchupDimension,MetopImageDimensions
metop.saharan_dust_index                  metop.x_sdi                                  MatchupDimension,MetopImageDimensions
metop.sea_ice_concentration               metop.x_ice_conc                             MatchupDimension,MetopImageDimensions
metop.land_sea_mask                       Implicit                                     MetopSensor,MatchupDimension,MetopImageDimensions,LandSeaMask

# todo - NWP fields

metop.l1b_filename                        metop.box_filename                           MatchupDimension,FilenameDimension
metop.matchup_elem                        metop.box_center_x_coord                     MatchupDimension
metop.matchup_line                        metop.box_center_y_coord                     MatchupDimension
metop.md_filename                         Implicit                                     MetopSensor,MatchupDimension,FilenameDimension,ObservationFilename
metop.md_record_number                    Implicit                                     MetopSensor,MatchupDimension,MdRecordNumber


### seviri md

seviri.time                               Implicit                                     SeviriSensor,MatchupDimension,TimeType,ReferenceTime
seviri.dtime                              Implicit                                     SeviriSensor,MatchupDimension,SeviriYDimension,DTimeType,DTime
seviri.latitude                           seviri.lat                                   MatchupDimension,SeviriImageDimensions,IntToFloat
seviri.longitude                          seviri.lon                                   MatchupDimension,SeviriImageDimensions,IntToFloat
seviri.reflectance_006                    seviri.VIS006                                MatchupDimension,SeviriImageDimensions,ToReflectance
seviri.reflectance_008                    seviri.VIS008                                MatchupDimension,SeviriImageDimensions,ToReflectance
seviri.reflectance_016                    seviri.IR_016                                MatchupDimension,SeviriImageDimensions,ToReflectance
seviri.brightness_temperature_039         seviri.IR_039                                MatchupDimension,SeviriImageDimensions,ToBrightnessTemperature
seviri.brightness_temperature_087         seviri.IR_087                                MatchupDimension,SeviriImageDimensions,ToBrightnessTemperature
seviri.brightness_temperature_097         seviri.IR_097                                MatchupDimension,SeviriImageDimensions,ToBrightnessTemperature
seviri.brightness_temperature_108         seviri.IR_108                                MatchupDimension,SeviriImageDimensions,ToBrightnessTemperature
seviri.brightness_temperature_120         seviri.IR_120                                MatchupDimension,SeviriImageDimensions,ToBrightnessTemperature
seviri.brightness_temperature_134         seviri.IR_134                                MatchupDimension,SeviriImageDimensions,ToBrightnessTemperature
seviri.solar_zenith_angle                 seviri.solzen                                MatchupDimension,SeviriImageDimensions,ZenithAngle
seviri.satellite_zenith_angle             seviri.satzen                                MatchupDimension,SeviriImageDimensions,ZenithAngle
seviri.relative_azimuth_angle             seviri.relazi                                MatchupDimension,SeviriImageDimensions,AzimuthAngle
seviri.sea_surface_temperature            seviri.sst                                   MatchupDimension,SeviriImageDimensions,ToSeaSurfaceTemperature
seviri.sst_confidence_level               seviri.sst_confidence_level                  MatchupDimension,SeviriImageDimensions
seviri.sst_mask_indicator                 seviri.sst_mask_ind                          MatchupDimension,SeviriImageDimensions
seviri.sst_missing_reason                 seviri.sst_missing_reason                    MatchupDimension,SeviriImageDimensions
seviri.aerosol_optical_depth              seviri.x_aod                                 MatchupDimension,SeviriImageDimensions
seviri.saharan_dust_index                 seviri.x_sdi                                 MatchupDimension,SeviriImageDimensions
seviri.land_sea_mask                      Implicit                                     SeviriSensor,MatchupDimension,SeviriImageDimensions,LandSeaMask

# todo - NWP fields

seviri.prd_filename                       seviri.box_prd_filename                      MatchupDimension,FilenameDimension
seviri.sat_filename                       seviri.box_sat_filename                      MatchupDimension,FilenameDimension
seviri.matchup_elem                       seviri.box_center_x_coord                    MatchupDimension
seviri.matchup_line                       seviri.box_center_y_coord                    MatchupDimension
seviri.md_filename                        Implicit                                     SeviriSensor,MatchupDimension,FilenameDimension,ObservationFilename
seviri.md_record_number                   Implicit                                     SeviriSensor,MatchupDimension,MdRecordNumber


### ATSR L1b ATS

atsr.3.time                               Implicit                                     Atsr1Sensor,MatchupDimension,TimeType,ReferenceTime
atsr.3.dtime                              Implicit                                     Atsr1Sensor,MatchupDimension,AtsrYDimension,DTimeType,DTime
atsr.3.latitude                           atsr_orb.3.latitude                          MatchupDimension,AtsrImageDimensions
atsr.3.longitude                          atsr_orb.3.longitude                         MatchupDimension,AtsrImageDimensions
atsr.3.reflectance.55.nadir               atsr_orb.3.reflec_nadir_0550                 MatchupDimension,AtsrImageDimensions,FromPercent,ToReflectance
atsr.3.reflectance.55.forward             atsr_orb.3.reflec_fward_0550                 MatchupDimension,AtsrImageDimensions,FromPercent,ToReflectance
atsr.3.reflectance.66.nadir               atsr_orb.3.reflec_nadir_0670                 MatchupDimension,AtsrImageDimensions,FromPercent,ToReflectance
atsr.3.reflectance.66.forward             atsr_orb.3.reflec_fward_0670                 MatchupDimension,AtsrImageDimensions,FromPercent,ToReflectance
atsr.3.reflectance.87.nadir               atsr_orb.3.reflec_nadir_0870                 MatchupDimension,AtsrImageDimensions,FromPercent,ToReflectance
atsr.3.reflectance.87.forward             atsr_orb.3.reflec_fward_0870                 MatchupDimension,AtsrImageDimensions,FromPercent,ToReflectance
atsr.3.reflectance.16.nadir               atsr_orb.3.reflec_nadir_1600                 MatchupDimension,AtsrImageDimensions,FromPercent,ToReflectance
atsr.3.reflectance.16.forward             atsr_orb.3.reflec_fward_1600                 MatchupDimension,AtsrImageDimensions,FromPercent,ToReflectance
atsr.3.brightness_temperature.37.nadir    atsr_orb.3.btemp_nadir_0370                  MatchupDimension,AtsrImageDimensions,ToBrightnessTemperature
atsr.3.brightness_temperature.37.forward  atsr_orb.3.btemp_fward_0370                  MatchupDimension,AtsrImageDimensions,ToBrightnessTemperature
atsr.3.brightness_temperature.11.nadir    atsr_orb.3.btemp_nadir_1100                  MatchupDimension,AtsrImageDimensions,ToBrightnessTemperature
atsr.3.brightness_temperature.11.forward  atsr_orb.3.btemp_fward_1100                  MatchupDimension,AtsrImageDimensions,ToBrightnessTemperature
atsr.3.brightness_temperature.12.nadir    atsr_orb.3.btemp_nadir_1200                  MatchupDimension,AtsrImageDimensions,ToBrightnessTemperature,CorrectCalibrationError
atsr.3.brightness_temperature.12.forward  atsr_orb.3.btemp_fward_1200                  MatchupDimension,AtsrImageDimensions,ToBrightnessTemperature,CorrectCalibrationError
atsr.3.detector_temperature_12            Implicit                                     Atsr1Sensor,MatchupDimension,DetectorTemperature
atsr.3.confidence_word.nadir              atsr_orb.3.confid_flags_nadir                MatchupDimension,AtsrImageDimensions
atsr.3.confidence_word.forward            atsr_orb.3.confid_flags_fward                MatchupDimension,AtsrImageDimensions
atsr.3.cloud_flags.nadir                  atsr_orb.3.cloud_flags_nadir                 MatchupDimension,AtsrImageDimensions
atsr.3.cloud_flags.forward                atsr_orb.3.cloud_flags_fward                 MatchupDimension,AtsrImageDimensions
atsr.3.solar_zenith_angle.nadir           atsr_orb.3.sun_elev_nadir                    MatchupDimension,AtsrImageDimensions,ElevationToSolzen,ZenithAngle
atsr.3.solar_zenith_angle.forward         atsr_orb.3.sun_elev_fward                    MatchupDimension,AtsrImageDimensions,ElevationToSolzen,ZenithAngle
atsr.3.satellite_zenith_angle.nadir       atsr_orb.3.view_elev_nadir                   MatchupDimension,AtsrImageDimensions,ElevationToSolzen,ZenithAngle
atsr.3.satellite_zenith_angle.forward     atsr_orb.3.view_elev_fward                   MatchupDimension,AtsrImageDimensions,ElevationToSolzen,ZenithAngle
atsr.3.sun_azimuth_angle.nadir            atsr_orb.3.sun_azimuth_nadir                 MatchupDimension,AtsrImageDimensions,AzimuthAngle
atsr.3.sun_azimuth_angle.forward          atsr_orb.3.sun_azimuth_fward                 MatchupDimension,AtsrImageDimensions,AzimuthAngle
atsr.3.view_azimuth_angle.nadir           atsr_orb.3.view_azimuth_nadir                MatchupDimension,AtsrImageDimensions,AzimuthAngle
atsr.3.view_azimuth_angle.forward         atsr_orb.3.view_azimuth_fward                MatchupDimension,AtsrImageDimensions,AzimuthAngle
atsr.3.l1b_filename                       Implicit                                     Atsr1Sensor,MatchupDimension,FilenameDimension,ObservationFilename
atsr.3.land_sea_mask                      Implicit                                     Atsr1Sensor,MatchupDimension,AtsrImageDimensions,LandSeaMask

### AVHRR NOAA-18

avhrr.18.time                             Implicit                                     Avhrr18Sensor,MatchupDimension,TimeType,ReferenceTime
avhrr.18.dtime                            Implicit                                     Avhrr18Sensor,MatchupDimension,AvhrrScanlineDimension,DTimeType,DTime
avhrr.18.latitude                         avhrr_orb.n18.latitude                            MatchupDimension,AvhrrImageDimensions,DegreeUnit
avhrr.18.longitude                        avhrr_orb.n18.longitude                           MatchupDimension,AvhrrImageDimensions,DegreeUnit
avhrr.18.reflectance.1                    avhrr_orb.n18.reflec_1                            MatchupDimension,AvhrrImageDimensions,FromPercent,ToReflectance
avhrr.18.reflectance.2                    avhrr_orb.n18.reflec_2                            MatchupDimension,AvhrrImageDimensions,FromPercent,ToReflectance
avhrr.18.reflectance.3a                   avhrr_orb.n18.reflec_3a                           MatchupDimension,AvhrrImageDimensions,FromPercent,ToReflectance
avhrr.18.brightness_temperature.3b        avhrr_orb.n18.temp_3b                             MatchupDimension,AvhrrImageDimensions,ToBrightnessTemperature
avhrr.18.brightness_temperature.4         avhrr_orb.n18.temp_4                              MatchupDimension,AvhrrImageDimensions,ToBrightnessTemperature
avhrr.18.brightness_temperature.5         avhrr_orb.n18.temp_5                              MatchupDimension,AvhrrImageDimensions,ToBrightnessTemperature
avhrr.18.solar_zenith_angle               avhrr_orb.n18.sun_zenith                          MatchupDimension,AvhrrImageDimensions,DegreeUnit,ZenithAngle
avhrr.18.satellite_zenith_angle           avhrr_orb.n18.view_zenith                         MatchupDimension,AvhrrImageDimensions,DegreeUnit,ZenithAngle
avhrr.18.relative_azimuth_angle           avhrr_orb.n18.delta_azimuth                       MatchupDimension,AvhrrImageDimensions,DegreeUnit,AzimuthAngle
#avhrr.18.ict_temperature                  avhrr_orb.n18.ict_temp                            MatchupDimension,AvhrrScanlineDimension
#avhrr.18.reflectance_to_radiance.1        avhrr_orb.n18.reflec_to_rad_1                     MatchupDimension,NoUnit
#avhrr.18.reflectance_to_radiance.2        avhrr_orb.n18.reflec_to_rad_2                     MatchupDimension,NoUnit
#avhrr.18.reflectance_to_radiance.3a       avhrr_orb.n18.reflec_to_rad_3a                    MatchupDimension,NoUnit
#avhrr.18.bad_data                         avhrr_orb.n18.bad_data                            MatchupDimension,AvhrrImageDimensions
avhrr.18.cloud_flag                       avhrr_orb.n18.cloudFlag                           MatchupDimension,AvhrrImageDimensions,AvhrrCloudFlagMissingValue
#avhrr.18.cloud_probability                avhrr_orb.n18.cloud_prob                          MatchupDimension,AvhrrImageDimensions,AvhrrCloudProbMissingValue
#avhrr.18.l1b_filename                     avhrr_orb.n18.l1b_filename                        MatchupDimension,FilenameDimension,ObservationFilename
#avhrr.18.matchup_elem                     avhrr_orb.n18.matchup_elem                        MatchupDimension,IntToShort
#avhrr.18.matchup_line                     avhrr_orb.n18.matchup_line                        MatchupDimension,IntToShort
avhrr.18.land_sea_mask                    Implicit                                     Avhrr18Sensor,MatchupDimension,AvhrrImageDimensions,LandSeaMask

# todo - ecmwf


### AVHRR NOAA-19

avhrr.19.time                             Implicit                                     Avhrr19Sensor,MatchupDimension,TimeType,ReferenceTime
avhrr.19.dtime                            Implicit                                     Avhrr19Sensor,MatchupDimension,AvhrrScanlineDimension,DTimeType,DTime
avhrr.19.latitude                         avhrr_orb.n19.latitude                            MatchupDimension,AvhrrImageDimensions,DegreeUnit
avhrr.19.longitude                        avhrr_orb.n19.longitude                           MatchupDimension,AvhrrImageDimensions,DegreeUnit
avhrr.19.reflectance.1                    avhrr_orb.n19.reflec_1                            MatchupDimension,AvhrrImageDimensions,FromPercent,ToReflectance
avhrr.19.reflectance.2                    avhrr_orb.n19.reflec_2                            MatchupDimension,AvhrrImageDimensions,FromPercent,ToReflectance
avhrr.19.reflectance.3a                   avhrr_orb.n19.reflec_3a                           MatchupDimension,AvhrrImageDimensions,FromPercent,ToReflectance
avhrr.19.brightness_temperature.3b        avhrr_orb.n19.temp_3b                             MatchupDimension,AvhrrImageDimensions,ToBrightnessTemperature
avhrr.19.brightness_temperature.4         avhrr_orb.n19.temp_4                              MatchupDimension,AvhrrImageDimensions,ToBrightnessTemperature
avhrr.19.brightness_temperature.5         avhrr_orb.n19.temp_5                              MatchupDimension,AvhrrImageDimensions,ToBrightnessTemperature
avhrr.19.solar_zenith_angle               avhrr_orb.n19.sun_zenith                          MatchupDimension,AvhrrImageDimensions,DegreeUnit,ZenithAngle
avhrr.19.satellite_zenith_angle           avhrr_orb.n19.view_zenith                         MatchupDimension,AvhrrImageDimensions,DegreeUnit,ZenithAngle
avhrr.19.relative_azimuth_angle           avhrr_orb.n19.delta_azimuth                       MatchupDimension,AvhrrImageDimensions,DegreeUnit,AzimuthAngle
#avhrr.19.ict_temperature                  avhrr_orb.n19.ict_temp                            MatchupDimension,AvhrrScanlineDimension
#avhrr.19.reflectance_to_radiance.1        avhrr_orb.n19.reflec_to_rad_1                     MatchupDimension,NoUnit
#avhrr.19.reflectance_to_radiance.2        avhrr_orb.n19.reflec_to_rad_2                     MatchupDimension,NoUnit
#avhrr.19.reflectance_to_radiance.3a       avhrr_orb.n19.reflec_to_rad_3a                    MatchupDimension,NoUnit
#avhrr.19.bad_data                         avhrr_orb.n19.bad_data                            MatchupDimension,AvhrrImageDimensions
avhrr.19.cloud_flag                       avhrr_orb.n19.cloudFlag                          MatchupDimension,AvhrrImageDimensions,AvhrrCloudFlagMissingValue
#avhrr.19.cloud_probability                avhrr_orb.n19.cloud_prob                          MatchupDimension,AvhrrImageDimensions,AvhrrCloudProbMissingValue
#avhrr.19.l1b_filename                     avhrr_orb.n19.l1b_filename                        MatchupDimension,FilenameDimension,ObservationFilename
#avhrr.19.matchup_elem                     avhrr_orb.n19.matchup_elem                        MatchupDimension,IntToShort
#avhrr.19.matchup_line                     avhrr_orb.n19.matchup_line                        MatchupDimension,IntToShort
avhrr.19.land_sea_mask                    Implicit                                     Avhrr19Sensor,MatchupDimension,AvhrrImageDimensions,LandSeaMask

# todo - ecmwf


### AVHRR METOP-A

avhrr.M2.time                             Implicit                                     AvhrrM2Sensor,MatchupDimension,TimeType,ReferenceTime
avhrr.M2.dtime                            Implicit                                     AvhrrM2Sensor,MatchupDimension,AvhrrScanlineDimension,DTimeType,DTime
avhrr.M2.latitude                         avhrr_orb.m02.latitude                            MatchupDimension,AvhrrImageDimensions,DegreeUnit
avhrr.M2.longitude                        avhrr_orb.m02.longitude                           MatchupDimension,AvhrrImageDimensions,DegreeUnit
avhrr.M2.reflectance.1                    avhrr_orb.m02.reflec_1                            MatchupDimension,AvhrrImageDimensions,FromPercent,ToReflectance
avhrr.M2.reflectance.2                    avhrr_orb.m02.reflec_2                            MatchupDimension,AvhrrImageDimensions,FromPercent,ToReflectance
avhrr.M2.reflectance.3a                   avhrr_orb.m02.reflec_3a                           MatchupDimension,AvhrrImageDimensions,FromPercent,ToReflectance
avhrr.M2.brightness_temperature.3b        avhrr_orb.m02.temp_3b                             MatchupDimension,AvhrrImageDimensions,ToBrightnessTemperature
avhrr.M2.brightness_temperature.4         avhrr_orb.m02.temp_4                              MatchupDimension,AvhrrImageDimensions,ToBrightnessTemperature
avhrr.M2.brightness_temperature.5         avhrr_orb.m02.temp_5                              MatchupDimension,AvhrrImageDimensions,ToBrightnessTemperature
avhrr.M2.solar_zenith_angle               avhrr_orb.m02.sun_zenith                          MatchupDimension,AvhrrImageDimensions,DegreeUnit,ZenithAngle
avhrr.M2.satellite_zenith_angle           avhrr_orb.m02.view_zenith                         MatchupDimension,AvhrrImageDimensions,DegreeUnit,ZenithAngle
avhrr.M2.relative_azimuth_angle           avhrr_orb.m02.delta_azimuth                       MatchupDimension,AvhrrImageDimensions,DegreeUnit,AzimuthAngle
#avhrr.M2.ict_temperature                  avhrr_orb.m02.ict_temp                            MatchupDimension,AvhrrScanlineDimension
#avhrr.M2.reflectance_to_radiance.1        avhrr_orb.m02.reflec_to_rad_1                     MatchupDimension,NoUnit
#avhrr.M2.reflectance_to_radiance.2        avhrr_orb.m02.reflec_to_rad_2                     MatchupDimension,NoUnit
#avhrr.M2.reflectance_to_radiance.3a       avhrr_orb.m02.reflec_to_rad_3a                    MatchupDimension,NoUnit
#avhrr.M2.bad_data                         avhrr_orb.m02.bad_data                            MatchupDimension,AvhrrImageDimensions
avhrr.M2.cloud_flag                       avhrr_orb.m02.cloudFlag                          MatchupDimension,AvhrrImageDimensions,AvhrrCloudFlagMissingValue
#avhrr.M2.cloud_probability                avhrr_orb.m02.cloud_prob                          MatchupDimension,AvhrrImageDimensions,AvhrrCloudProbMissingValue
#avhrr.M2.l1b_filename                     avhrr_orb.m02.l1b_filename                        MatchupDimension,FilenameDimension,ObservationFilename
#avhrr.M2.matchup_elem                     avhrr_orb.m02.matchup_elem                        MatchupDimension,IntToShort
#avhrr.M2.matchup_line                     avhrr_orb.m02.matchup_line                        MatchupDimension,IntToShort
avhrr.M2.land_sea_mask                    Implicit                                     AvhrrM2Sensor,MatchupDimension,AvhrrImageDimensions,LandSeaMask

# todo - ecmwf


### ams

amsre.time                                 Implicit                                    AmsreSensor,MatchupDimension,TimeType,ReferenceTime
amsre.dtime                                Implicit                                    AmsreSensor,MatchupDimension,AmsreYDimension,DTimeType,DTime
amsre.latitude                             amsre.lat                                   MatchupDimension,AmsreImageDimensions
amsre.longitude                            amsre.lon                                   MatchupDimension,AmsreImageDimensions
amsre.sea_surface_temperature              amsre.sea_surface_temperature               MatchupDimension,AmsreImageDimensions,ToSeaSurfaceTemperature
amsre.SSES_bias_error                      amsre.SSES_bias_error                       MatchupDimension,AmsreImageDimensions
amsre.SSES_standard_deviation_error        amsre.SSES_standard_deviation_error         MatchupDimension,AmsreImageDimensions
amsre.proximity_confidence                 amsre.proximity_confidence                  MatchupDimension,AmsreImageDimensions
amsre.rejection_flag                       amsre.rejection_flag                        MatchupDimension,AmsreImageDimensions
amsre.confidence_flag                      amsre.confidence_flag                       MatchupDimension,AmsreImageDimensions
amsre.cool_skin                            amsre.cool_skin                             MatchupDimension,AmsreImageDimensions
amsre.diurnal_amplitude                    amsre.diurnal_amplitude                     MatchupDimension,AmsreImageDimensions
amsre.wind_speed                           amsre.wind_speed                            MatchupDimension,AmsreImageDimensions
amsre.land_sea_mask                        Implicit                                    AmsreSensor,MatchupDimension,AmsreImageDimensions,LandSeaMask
amsre.l2p_filename                         Implicit                                    AmsreSensor,MatchupDimension,FilenameDimension,ObservationFilename
amsre.matchup_elem                         Implicit                                    AmsreSensor,MatchupDimension,MatchupElem
amsre.matchup_line                         Implicit                                    AmsreSensor,MatchupDimension,MatchupLine


### tmi

tmi.time                                   Implicit                                    AmsreSensor,MatchupDimension,TimeType,ReferenceTime
tmi.dtime                                  Implicit                                    AmsreSensor,MatchupDimension,TmiYDimension,DTimeType,DTime
tmi.latitude                               tmi.lat                                     MatchupDimension,TmiImageDimensions
tmi.longitude                              tmi.lon                                     MatchupDimension,TmiImageDimensions
tmi.sea_surface_temperature                tmi.sea_surface_temperature                 MatchupDimension,TmiImageDimensions,ToSeaSurfaceTemperature
tmi.sses_bias_error                        tmi.SSES_bias_error                         MatchupDimension,TmiImageDimensions
tmi.sses_standard_deviation_error          tmi.SSES_standard_deviation_error           MatchupDimension,TmiImageDimensions
tmi.proximity_confidence                   tmi.proximity_confidence                    MatchupDimension,TmiImageDimensions
tmi.rejection_flag                         tmi.rejection_flag                          MatchupDimension,TmiImageDimensions
tmi.confidence_flag                        tmi.confidence_flag                         MatchupDimension,TmiImageDimensions
tmi.cool_skin                              tmi.cool_skin                               MatchupDimension,TmiImageDimensions
tmi.diurnal_amplitude                      tmi.diurnal_amplitude                       MatchupDimension,TmiImageDimensions
tmi.wind_speed                             tmi.wind_speed                              MatchupDimension,TmiImageDimensions
tmi.l2p_filename                           Implicit                                    TmiSensor,MatchupDimension,FilenameDimension,ObservationFilename
tmi.matchup_elem                           Implicit                                    TmiSensor,MatchupDimension,MatchupElem
tmi.matchup_line                           Implicit                                    TmiSensor,MatchupDimension,MatchupLine
tmi.land_sea_mask                          Implicit                                    TmiSensor,MatchupDimension,TmiImageDimensions,LandSeaMask


### aai

aai.latitude                               aai.lat                                     MatchupDimension,AaiImageDimensions
aai.longitude                              aai.lon                                     MatchupDimension,AaiImageDimensions
aai.absorbing_aerosol_index                aai.aerosol_absorbing_index                 MatchupDimension,AaiImageDimensions
aai.land_sea_mask                          Implicit                                    AaiSensor,MatchupDimension,AaiImageDimensions,LandSeaMask
aai.filename                               Implicit                                    AaiSensor,MatchupDimension,FilenameDimension,ObservationFilename
aai.matchup.elem                           Implicit                                    AaiSensor,MatchupDimension,MatchupElem
aai.matchup.line                           Implicit                                    AaiSensor,MatchupDimension,MatchupLine


### seaice

seaice.latitude                            seaice.lat                                  MatchupDimension,SeaIceImageDimensions
seaice.longitude                           seaice.lon                                  MatchupDimension,SeaIceImageDimensions
seaice.concentration                       seaice.sea_ice_concentration                MatchupDimension,SeaIceImageDimensions
seaice.land_sea_mask                       Implicit                                    SeaiceSensor,MatchupDimension,SeaIceImageDimensions,LandSeaMask
seaice.filename                            Implicit                                    SeaiceSensor,MatchupDimension,FilenameDimension,ObservationFilename
seaice.matchup.elem                        Implicit                                    SeaiceSensor,MatchupDimension,MatchupElem
seaice.matchup.line                        Implicit                                    SeaiceSensor,MatchupDimension,MatchupLine

### insitu

insitu.time                                Implicit                                    InsituSensor,MatchupDimension,InsituDimension,TimeType,InsituTime
insitu.longitude                           Implicit                                    InsituSensor,MatchupDimension,InsituDimension,InsituLongitude
insitu.latitude                            Implicit                                    InsituSensor,MatchupDimension,InsituDimension,InsituLatitude
insitu.sea_surface_temperature             Implicit                                    InsituSensor,MatchupDimension,InsituDimension,ToSeaSurfaceTemperature,InsituSST