# column 1: target name
# column 2: source name
# column 3: rule specification

### matchup

matchup.id                          Implicit                            MatchupDimension,IntType,MatchupId
matchup.time                        Implicit                            MatchupDimension,TimeType
matchup.longitude                   Implicit                            MatchupDimension,LonType
matchup.latitude                    Implicit                            MatchupDimension,LatType
matchup.insitu.callsign             Implicit                            MatchupDimension,CallsignDimension,CharType
matchup.insitu.dataset              Implicit                            MatchupInsituDataset
matchup.reference_flag              Implicit                            MatchupReferenceFlag
matchup.valid                       Implicit                            MatchupDimension,ByteType
matchup.primary_sensor              Implicit                            MatchupDimension,ByteType
matchup.primary_filename            Implicit                            MatchupDimension,FilenameDimension,CharType
matchup.sensor_list                 Implicit                            MatchupPattern

# todo - NWP fields

### metop md

metop.time                          Implicit                            MatchupDimension
metop.dtime                         Implicit                            MatchupDimension,MetopYDimension,DTimeType
metop.latitude                      metop.lat                           MatchupDimension,MetopImageDimensions,ShortToFloat
metop.longitude                     metop.lon                           MatchupDimension,MetopImageDimensions,ShortToFloat
metop.reflectance_006               metop.VIS006                        MatchupDimension,MetopImageDimensions,FromPercent,ToReflectance
metop.reflectance_009               metop.VIS009                        MatchupDimension,MetopImageDimensions,FromPercent,ToReflectance
metop.reflectance_016               metop.VIS012                        MatchupDimension,MetopImageDimensions,FromPercent,ToReflectance
metop.brightness_temperature_037    metop.IR037                         MatchupDimension,MetopImageDimensions,ToBrightnessTemperature
metop.brightness_temperature_108    metop.IR108                         MatchupDimension,MetopImageDimensions,ToBrightnessTemperature
metop.brightness_temperature_120    metop.IR120                         MatchupDimension,MetopImageDimensions,ToBrightnessTemperature
metop.solar_zenith_angle            metop.solzen                        MatchupDimension,MetopImageDimensions
metop.satellite_zenith_angle        metop.satzen                        MatchupDimension,MetopImageDimensions
metop.relative_azimuth_angle        metop.relazi                        MatchupDimension,MetopImageDimensions
metop.sea_surface_temperature       metop.sst                           MatchupDimension,MetopImageDimensions,ToSeaSurfaceTemperature
metop.sst_confidence_level          metop.sst_confidence_level          MatchupDimension,MetopImageDimensions
metop.sst_mask_indicator            metop.sst_mask_ind                  MatchupDimension,MetopImageDimensions
metop.sst_missing_reason            metop.sst_missing_reason            MatchupDimension,MetopImageDimensions
metop.aerosol_optical_depth         metop.x_aod                         MatchupDimension,MetopImageDimensions
metop.saharan_dust_index            metop.x_sdi                         MatchupDimension,MetopImageDimensions
metop.sea_ice_concentration         metop.x_ice_conc                    MatchupDimension,MetopImageDimensions
metop.land_sea_mask                 Implicit                            MatchupDimension,MetopImageDimensions

# todo - NWP fields

metop.l1b_filename                  metop.box_filename                  MatchupDimension,FilenameDimension
metop.matchup_elem                  metop.box_center_x_coord            MatchupDimension
metop.matchup_line                  metop.box_center_y_coord            MatchupDimension
metop.md_filename                   Implicit                            MatchupDimension,FilenameDimension
metop.md_record_number              Implicit                            MatchupDimension


### seviri md

seviri.time                         Implicit                            MatchupDimension,TimeType
seviri.dtime                        Implicit                            MatchupDimension,SeviriYDimension,DTimeType
seviri.latitude                     seviri.lat                          MatchupDimension,SeviriImageDimensions,IntToFloat
seviri.longitude                    seviri.lon                          MatchupDimension,SeviriImageDimensions,IntToFloat
seviri.reflectance_006              seviri.VIS006                       MatchupDimension,SeviriImageDimensions,ToReflectance
seviri.reflectance_008              seviri.VIS008                       MatchupDimension,SeviriImageDimensions,ToReflectance
seviri.reflectance_016              seviri.IR_016                       MatchupDimension,SeviriImageDimensions,ToReflectance
seviri.brightness_temperature_039   seviri.IR_039                       MatchupDimension,SeviriImageDimensions,ToBrightnessTemperature
seviri.brightness_temperature_087   seviri.IR_087                       MatchupDimension,SeviriImageDimensions,ToBrightnessTemperature
seviri.brightness_temperature_097   seviri.IR_097                       MatchupDimension,SeviriImageDimensions,ToBrightnessTemperature
seviri.brightness_temperature_108   seviri.IR_108                       MatchupDimension,SeviriImageDimensions,ToBrightnessTemperature
seviri.brightness_temperature_120   seviri.IR_120                       MatchupDimension,SeviriImageDimensions,ToBrightnessTemperature
seviri.brightness_temperature_134   seviri.IR_134                       MatchupDimension,SeviriImageDimensions,ToBrightnessTemperature
seviri.solar_zenith_angle           seviri.solzen                       MatchupDimension,SeviriImageDimensions
seviri.satellite_zenith_angle       seviri.satzen                       MatchupDimension,SeviriImageDimensions
seviri.relative_azimuth_angle       seviri.relazi                       MatchupDimension,SeviriImageDimensions
seviri.sea_surface_temperature      seviri.sst                          MatchupDimension,SeviriImageDimensions,ToSeaSurfaceTemperature
seviri.sst_confidence_level         seviri.sst_confidence_level         MatchupDimension,SeviriImageDimensions
seviri.sst_mask_indicator           seviri.sst_mask_ind                 MatchupDimension,SeviriImageDimensions
seviri.sst_missing_reason           seviri.sst_missing_reason           MatchupDimension,SeviriImageDimensions
seviri.aerosol_optical_depth        seviri.x_aod                        MatchupDimension,SeviriImageDimensions
seviri.saharan_dust_index           seviri.x_sdi                        MatchupDimension,SeviriImageDimensions
seviri.land_sea_mask                Implicit                            MatchupDimension,SeviriImageDimensions

# todo - NWP fields

seviri.prd_filename                 seviri.box_prd_filename             MatchupDimension,FilenameDimension
seviri.sat_filename                 seviri.box_sat_filename             MatchupDimension,FilenameDimension
seviri.matchup_elem                 seviri.box_center_x_coord           MatchupDimension
seviri.matchup_line                 seviri.box_center_y_coord           MatchupDimension
seviri.md_filename                  Implicit                            MatchupDimension,FilenameDimension
seviri.md_record_number             Implicit                            MatchupDimension


### ams

amsre.time                          Implicit                            MatchupDimension,TimeType
amsre.dtime                         Implicit                            MatchupDimension,AmsreYDimension,DTimeType
amsre.latitude                      amsre.lat                           MatchupDimension,AmsreImageDimensions
amsre.longitude                     amsre.lon                           MatchupDimension,AmsreImageDimensions
amsre.sea_surface_temperature       amsre.sea_surface_temperature       MatchupDimension,AmsreImageDimensions,ToSeaSurfaceTemperature
amsre.sses_bias_error               amsre.SSES_bias_error               MatchupDimension,AmsreImageDimensions
amsre.sses_standard_deviation_error amsre.SSES_standard_deviation_error MatchupDimension,AmsreImageDimensions
amsre.proximity_confidence          amsre.proximity_confidence          MatchupDimension,AmsreImageDimensions
amsre.rejection_flag                amsre.rejection_flag                MatchupDimension,AmsreImageDimensions
amsre.confidence_flag               amsre.confidence_flag               MatchupDimension,AmsreImageDimensions
amsre.cool_skin                     amsre.cool_skin                     MatchupDimension,AmsreImageDimensions
amsre.diurnal_amplitude             amsre.diurnal_amplitude             MatchupDimension,AmsreImageDimensions
amsre.wind_speed                    amsre.wind_speed                    MatchupDimension,AmsreImageDimensions
amsre.land_sea_mask                 Implicit                            MatchupDimension,AmsreImageDimensions
amsre.l2p_filename                  Implicit                            MatchupDimension,FilenameDimension
amsre.matchup_elem                  Implicit                            MatchupDimension
amsre.matchup_line                  Implicit                            MatchupDimension


### tmi

tmi.time                            Implicit                            MatchupDimension,TimeType
tmi.dtime                           Implicit                            MatchupDimension,TmiYDimension,DTimeType
tmi.latitude                        tmi.lat                             MatchupDimension,TmiImageDimensions
tmi.longitude                       tmi.lon                             MatchupDimension,TmiImageDimensions
tmi.sea_surface_temperature         tmi.sea_surface_temperature         MatchupDimension,TmiImageDimensions,ToSeaSurfaceTemperature
tmi.sses_bias_error                 tmi.SSES_bias_error                 MatchupDimension,TmiImageDimensions
tmi.sses_standard_deviation_error   tmi.SSES_standard_deviation_error   MatchupDimension,TmiImageDimensions
tmi.proximity_confidence            tmi.proximity_confidence            MatchupDimension,TmiImageDimensions
tmi.rejection_flag                  tmi.rejection_flag                  MatchupDimension,TmiImageDimensions
tmi.confidence_flag                 tmi.confidence_flag                 MatchupDimension,TmiImageDimensions
tmi.cool_skin                       tmi.cool_skin                       MatchupDimension,TmiImageDimensions
tmi.diurnal_amplitude               tmi.diurnal_amplitude               MatchupDimension,TmiImageDimensions
tmi.wind_speed                      tmi.wind_speed                      MatchupDimension,TmiImageDimensions
tmi.land_sea_mask                   Implicit                            MatchupDimension,TmiImageDimensions
tmi.l2p_filename                    Implicit                            MatchupDimension,FilenameDimension
tmi.matchup_elem                    Implicit                            MatchupDimension
tmi.matchup_line                    Implicit                            MatchupDimension


### atsr.3

atsr.3.time                               Implicit                                    MatchupDimension,TimeType
atsr.3.dtime                              Implicit                                    MatchupDimension,AtsrYDimension,DTimeType
atsr.3.latitude                           atsr_orb.3.latitude                         MatchupDimension,AtsrImageDimensions
atsr.3.longitude                          atsr_orb.3.longitude                        MatchupDimension,AtsrImageDimensions
atsr.3.reflectance.55.nadir               atsr_orb.3.reflec_nadir_0550                MatchupDimension,AtsrImageDimensions,FromPercent,ToReflectance
atsr.3.reflectance.55.forward             atsr_orb.3.reflec_fward_0550                MatchupDimension,AtsrImageDimensions,FromPercent,ToReflectance
atsr.3.reflectance.66.nadir               atsr_orb.3.reflec_nadir_0670                MatchupDimension,AtsrImageDimensions,FromPercent,ToReflectance
atsr.3.reflectance.66.forward             atsr_orb.3.reflec_fward_0670                MatchupDimension,AtsrImageDimensions,FromPercent,ToReflectance
atsr.3.reflectance.87.nadir               atsr_orb.3.reflec_nadir_0870                MatchupDimension,AtsrImageDimensions,FromPercent,ToReflectance
atsr.3.reflectance.87.forward             atsr_orb.3.reflec_fward_0870                MatchupDimension,AtsrImageDimensions,FromPercent,ToReflectance
atsr.3.reflectance.16.nadir               atsr_orb.3.reflec_nadir_1600                MatchupDimension,AtsrImageDimensions,FromPercent,ToReflectance
atsr.3.reflectance.16.forward             atsr_orb.3.reflec_fward_1600                MatchupDimension,AtsrImageDimensions,FromPercent,ToReflectance
atsr.3.brightness_temperature.37.nadir    atsr_orb.3.btemp_nadir_0370                 MatchupDimension,AtsrImageDimensions,ToBrightnessTemperature
atsr.3.brightness_temperature.37.forward  atsr_orb.3.btemp_nadir_0370                 MatchupDimension,AtsrImageDimensions,ToBrightnessTemperature
atsr.3.brightness_temperature.11.nadir    atsr_orb.3.btemp_nadir_1100                 MatchupDimension,AtsrImageDimensions,ToBrightnessTemperature
atsr.3.brightness_temperature.11.forward  atsr_orb.3.btemp_nadir_1100                 MatchupDimension,AtsrImageDimensions,ToBrightnessTemperature
atsr.3.brightness_temperature.12.nadir    atsr_orb.3.btemp_nadir_1200                 MatchupDimension,AtsrImageDimensions,ToBrightnessTemperature
atsr.3.brightness_temperature.12.forward  atsr_orb.3.btemp_nadir_1200                 MatchupDimension,AtsrImageDimensions,ToBrightnessTemperature
atsr.3.confidence_word.nadir              atsr_orb.3.confid_flags_nadir               MatchupDimension,AtsrImageDimensions
atsr.3.confidence_word.forward            atsr_orb.3.confid_flags_fward               MatchupDimension,AtsrImageDimensions
atsr.3.cloud_flags.nadir                  atsr_orb.3.cloud_flags_nadir                MatchupDimension,AtsrImageDimensions
atsr.3.cloud_flags.forward                atsr_orb.3.cloud_flags_fward                MatchupDimension,AtsrImageDimensions
atsr.3.solar_zenith_angle.nadir           atsr_orb.3.sun_elev_nadir                   MatchupDimension,AtsrImageDimensions,ElevationToSolzen
atsr.3.solar_zenith_angle.forward         atsr_orb.3.sun_elev_fward                   MatchupDimension,AtsrImageDimensions,ElevationToSolzen
atsr.3.satellite_zenith_angle.nadir       atsr_orb.3.view_elev_nadir                  MatchupDimension,AtsrImageDimensions,ElevationToSolzen
atsr.3.satellite_zenith_angle.forward     atsr_orb.3.view_elev_fward                  MatchupDimension,AtsrImageDimensions,ElevationToSolzen
atsr.3.sun_azimuth_angle.nadir            atsr_orb.3.sun_azimuth_nadir                MatchupDimension,AtsrImageDimensions
atsr.3.sun_azimuth_angle.forward          atsr_orb.3.sun_azimuth_fward                MatchupDimension,AtsrImageDimensions
atsr.3.view_azimuth_angle.nadir           atsr_orb.3.view_azimuth_nadir               MatchupDimension,AtsrImageDimensions
atsr.3.view_azimuth_angle.forward         atsr_orb.3.view_azimuth_fward               MatchupDimension,AtsrImageDimensions
atsr.3.l1b_filename                       Implicit                                    MatchupDimension,FilenameDimension
atsr.3.land_sea_mask                      Implicit                                    MatchupDimension,AtsrImageDimensions


### aai

aai.latitude                               aai.lat                                     MatchupDimension,AaiImageDimensions
aai.longitude                              aai.lon                                     MatchupDimension,AaiImageDimensions
aai.absorbing_aerosol_index                aai.aerosol_absorbing_index                 MatchupDimension,AaiImageDimensions
aai.land_sea_mask                          Implicit                                    MatchupDimension,AaiImageDimensions
aai.filename                               Implicit                                    MatchupDimension,FilenameDimension
aai.matchup.elem                           Implicit                                    MatchupDimension
aai.matchup.line                           Implicit                                    MatchupDimension


### seaice

seaice.latitude                            Implicit                                    MatchupDimension,SeaIceImageDimensions
seaice.longitude                           Implicit                                    MatchupDimension,SeaIceImageDimensions
seaice.concentration                       Implicit                                    MatchupDimension,SeaIceImageDimensions
seaice.land_sea_mask                       Implicit                                    MatchupDimension,SeaIceImageDimensions
seaice.filename                            Implicit                                    MatchupDimension,FilenameDimension
seaice.matchup.elem                        Implicit                                    MatchupDimension
seaice.matchup.line                        Implicit                                    MatchupDimension

### insitu

insitu.time                                Implicit                                    MatchupDimension,InsituDimension,TimeType
insitu.longitude                           Implicit                                    MatchupDimension,InsituDimension
insitu.latitude                            Implicit                                    MatchupDimension,InsituDimension
insitu.sea_surface_temperature             Implicit                                    MatchupDimension,InsituDimension
