#
# Copyright (C) 2011 Brockmann Consult GmbH (info@brockmann-consult.de)
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation; either version 3 of the License, or (at your option)
# any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, see http://www.gnu.org/licenses/
#

# column 1: target name
# column 2: source name
# column 3: rule specification

### matchup

matchup.id                                Implicit                                     MatchupDimension,MatchupId
matchup.time                              Implicit                                     MatchupDimension,TimeType,ReferenceTime
matchup.longitude                         Implicit                                     MatchupDimension,LonType,MatchupLon
matchup.latitude                          Implicit                                     MatchupDimension,LatType,MatchupLat
matchup.insitu.callsign                   Implicit                                     MatchupDimension,CallsignDimension,CharType,MatchupCallsign
matchup.insitu.dataset                    Implicit                                     MatchupInsituDataset
matchup.reference_flag                    Implicit                                     MatchupReferenceFlag
matchup.valid                             Implicit                                     MatchupDimension,ByteType,MatchupValid
matchup.primary_sensor                    Implicit                                     MatchupDimension,ByteType,MatchupPrimarySensor
matchup.primary_filename                  Implicit                                     MatchupDimension,FilenameDimension,CharType,MatchupPrimaryFilename
matchup.primary_md_record_number          Implicit                                     MatchupRecordNumber
matchup.sensor_list                       Implicit                                     MatchupPattern

### AVHRR NOAA-10

avhrr.n10.time                             Implicit                                 Avhrr10Sensor,MatchupDimension,TimeType,ObservationTime
avhrr.n10.dtime                            Implicit                                 Avhrr10Sensor,MatchupDimension,AvhrrScanlineDimension,DTimeType,DTime
avhrr.n10.latitude                         avhrr.n10.latitude                       MatchupDimension,AvhrrImageDimensions,LatType
avhrr.n10.longitude                        avhrr.n10.longitude                      MatchupDimension,AvhrrImageDimensions,LonType
avhrr.n10.reflectance_1                    avhrr.n10.reflec_1                       MatchupDimension,AvhrrImageDimensions,FromPercent,ToReflectance
avhrr.n10.reflectance_2                    avhrr.n10.reflec_2                       MatchupDimension,AvhrrImageDimensions,FromPercent,ToReflectance
avhrr.n10.reflectance_3a                   avhrr.n10.reflec_3a                      MatchupDimension,AvhrrImageDimensions,FromPercent,ToReflectance
avhrr.n10.brightness_temperature_3b        avhrr.n10.temp_3b                        MatchupDimension,AvhrrImageDimensions,ToBrightnessTemperature
avhrr.n10.brightness_temperature_4         avhrr.n10.temp_4                         MatchupDimension,AvhrrImageDimensions,ToBrightnessTemperature
avhrr.n10.brightness_temperature_5         avhrr.n10.temp_5                         MatchupDimension,AvhrrImageDimensions,ToBrightnessTemperature
avhrr.n10.solar_zenith_angle               avhrr.n10.sun_zenith                     MatchupDimension,AvhrrImageDimensions,DegreeUnit,ZenithAngle
avhrr.n10.satellite_zenith_angle           avhrr.n10.view_zenith                    MatchupDimension,AvhrrImageDimensions,DegreeUnit,ZenithAngle
avhrr.n10.relative_azimuth_angle           avhrr.n10.delta_azimuth                  MatchupDimension,AvhrrImageDimensions,DegreeUnit,AzimuthAngle
avhrr.n10.ict_temperature                  avhrr.n10.ict_temp                       MatchupDimension,AvhrrScanlineDimension
avhrr.n10.reflectance_to_radiance_1        avhrr.n10.reflec_to_rad_1                MatchupDimension,NoUnit
avhrr.n10.reflectance_to_radiance_2        avhrr.n10.reflec_to_rad_2                MatchupDimension,NoUnit
avhrr.n10.reflectance_to_radiance_3a       avhrr.n10.reflec_to_rad_3a               MatchupDimension,NoUnit
avhrr.n10.bad_data                         avhrr.n10.bad_data                       MatchupDimension,AvhrrImageDimensions
avhrr.n10.cloud_flag                       avhrr.n10.cloud_flag                     MatchupDimension,AvhrrImageDimensions,AvhrrCloudFlagMissingValue
avhrr.n10.cloud_probability                avhrr.n10.cloud_prob                     MatchupDimension,AvhrrImageDimensions,AvhrrCloudProbMissingValue
avhrr.n10.l1b_filename                     avhrr.n10.l1b_filename                   MatchupDimension,FilenameDimension,ObservationFilename
avhrr.n10.matchup_elem                     avhrr.n10.matchup_elem                   MatchupDimension,IntToShort
avhrr.n10.matchup_line                     avhrr.n10.matchup_line                   MatchupDimension,IntToShort
avhrr.n10.land_sea_mask                    Implicit                                 Avhrr10Sensor,MatchupDimension,AvhrrImageDimensions,LandSeaMask