<!doctype html>
<head>
    <title>Hello from Flask</title>

    <style>
        tr, td, body {
            border: 1px black solid;
            padding: 2px;
            margin: 0;
        }

        body {
            height: calc(100vh - 6px);
        }

        table {
            height: 100%;
        }

        .top {
            height: 20px;
        }

        .figures-scroll {
            display: block;
            height: 100%;
            overflow-y: auto;
        }

    </style>
</head>
<body>
<table>
    <tr>
        <td class="top">
            {% if name %}
            <h3>Hello {{ name }}!</h3>
            {% else %}
            <h3>Hello World!</h3>
            {% endif %}
            <p> - </p>
            <h1>Headline and a little text</h1>
            <p>blah blah blah</p>
        </td>
    </tr>
    <tr>
        <td class="figures-scroll">
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
            Scrollbar Test!<br/>
        </td>
    </tr>
</table>
</body>
