# column 1: target name
# column 2: source name
# column 3: rule specification

### matchup

matchup.id                              Implicit                            MatchupDimension,IntType
matchup.time                            Implicit                            MatchupDimension,TimeType
matchup.longitude                       Implicit                            MatchupDimension,LonType
matchup.latitude                        Implicit                            MatchupDimension,LatType
matchup.insitu.callsign                 Implicit                            MatchupDimension,CallsignDimension,CharType
matchup.insitu.dataset                  Implicit                            MatchupInsituDataset
matchup.reference_flag                  Implicit                            MatchupReferenceFlag
matchup.valid                           Implicit                            MatchupDimension,ByteType
matchup.primary_sensor                  Implicit                            MatchupDimension,ByteType
matchup.primary_filename                Implicit                            MatchupDimension,FilenameDimension,CharType
matchup.sensor_list                     Implicit                            MatchupPattern

# todo - NWP fields

### metop md

metop.time                              Implicit                            MatchupDimension
metop.dtime                             Implicit                            MatchupDimension,MetopYDimension,DTimeType
metop.latitude                          metop.lat                           MatchupDimension,MetopImageDimensions,ShortToFloat
metop.longitude                         metop.lon                           MatchupDimension,MetopImageDimensions,ShortToFloat
metop.reflectance_006                   metop.VIS006                        MatchupDimension,MetopImageDimensions,FromPercent,ToReflectance
metop.reflectance_009                   metop.VIS009                        MatchupDimension,MetopImageDimensions,FromPercent,ToReflectance
metop.reflectance_016                   metop.VIS012                        MatchupDimension,MetopImageDimensions,FromPercent,ToReflectance
metop.brightness_temperature_037        metop.IR037                         MatchupDimension,MetopImageDimensions,ToBrightnessTemperature
metop.brightness_temperature_108        metop.IR108                         MatchupDimension,MetopImageDimensions,ToBrightnessTemperature
metop.brightness_temperature_120        metop.IR120                         MatchupDimension,MetopImageDimensions,ToBrightnessTemperature
metop.solar_zenith_angle                metop.solzen                        MatchupDimension,MetopImageDimensions
metop.satellite_zenith_angle            metop.satzen                        MatchupDimension,MetopImageDimensions
metop.relative_azimuth_angle            metop.relazi                        MatchupDimension,MetopImageDimensions
metop.sea_surface_temperature           metop.sst                           MatchupDimension,MetopImageDimensions,ToSeaSurfaceTemperature
metop.sst_confidence_level              metop.sst_confidence_level          MatchupDimension,MetopImageDimensions
metop.sst_mask_indicator                metop.sst_mask_ind                  MatchupDimension,MetopImageDimensions
metop.sst_missing_reason                metop.sst_missing_reason            MatchupDimension,MetopImageDimensions
metop.aerosol_optical_depth             metop.x_aod                         MatchupDimension,MetopImageDimensions
metop.saharan_dust_index                metop.x_sdi                         MatchupDimension,MetopImageDimensions
metop.sea_ice_concentration             metop.x_ice_conc                    MatchupDimension,MetopImageDimensions
metop.land_sea_mask                     Implicit                            MatchupDimension,MetopImageDimensions

# todo - NWP fields

metop.l1b_filename                      metop.box_filename                  MatchupDimension,FilenameDimension
metop.matchup_elem                      metop.box_center_x_coord            MatchupDimension
metop.matchup_line                      metop.box_center_y_coord            MatchupDimension
metop.md_filename                       Implicit                            MatchupDimension,FilenameDimension
metop.md_record_number                  Implicit                            MatchupDimension


### seviri md

seviri.time                             Implicit                            MatchupDimension,TimeType
seviri.dtime                            Implicit                            MatchupDimension,SeviriYDimension,DTimeType
seviri.latitude                         seviri.lat                          MatchupDimension,SeviriImageDimensions,IntToFloat
seviri.longitude                        seviri.lon                          MatchupDimension,SeviriImageDimensions,IntToFloat
seviri.reflectance_006                  seviri.VIS006                       MatchupDimension,SeviriImageDimensions,ToReflectance
seviri.reflectance_008                  seviri.VIS008                       MatchupDimension,SeviriImageDimensions,ToReflectance
seviri.reflectance_016                  seviri.IR_016                       MatchupDimension,SeviriImageDimensions,ToReflectance
seviri.brightness_temperature_039       seviri.IR_039                       MatchupDimension,SeviriImageDimensions,ToBrightnessTemperature
seviri.brightness_temperature_087       seviri.IR_087                       MatchupDimension,SeviriImageDimensions,ToBrightnessTemperature
seviri.brightness_temperature_097       seviri.IR_097                       MatchupDimension,SeviriImageDimensions,ToBrightnessTemperature
seviri.brightness_temperature_108       seviri.IR_108                       MatchupDimension,SeviriImageDimensions,ToBrightnessTemperature
seviri.brightness_temperature_120       seviri.IR_120                       MatchupDimension,SeviriImageDimensions,ToBrightnessTemperature
seviri.brightness_temperature_134       seviri.IR_134                       MatchupDimension,SeviriImageDimensions,ToBrightnessTemperature
seviri.solar_zenith_angle               seviri.solzen                       MatchupDimension,SeviriImageDimensions
seviri.satellite_zenith_angle           seviri.satzen                       MatchupDimension,SeviriImageDimensions
seviri.relative_azimuth_angle           seviri.relazi                       MatchupDimension,SeviriImageDimensions
seviri.sea_surface_temperature          seviri.sst                          MatchupDimension,SeviriImageDimensions,ToSeaSurfaceTemperature
seviri.sst_confidence_level             seviri.sst_confidence_level         MatchupDimension,SeviriImageDimensions
seviri.sst_mask_indicator               seviri.sst_mask_ind                 MatchupDimension,SeviriImageDimensions
seviri.sst_missing_reason               seviri.sst_missing_reason           MatchupDimension,SeviriImageDimensions
seviri.aerosol_optical_depth            seviri.x_aod                        MatchupDimension,SeviriImageDimensions
seviri.saharan_dust_index               seviri.x_sdi                        MatchupDimension,SeviriImageDimensions
seviri.land_sea_mask                    Implicit                            MatchupDimension,SeviriImageDimensions

# todo - NWP fields

seviri.prd_filename                     seviri.box_prd_filename             MatchupDimension,FilenameDimension
seviri.sat_filename                     seviri.box_sat_filename             MatchupDimension,FilenameDimension
seviri.matchup_elem                     seviri.box_center_x_coord           MatchupDimension
seviri.matchup_line                     seviri.box_center_y_coord           MatchupDimension
seviri.md_filename                      Implicit                            MatchupDimension,FilenameDimension
seviri.md_record_number                 Implicit                            MatchupDimension


### ATSR L1b ATS

# todo


### ATSR L1b AT1

# todo


### ATSR L1b AT2

# todo


### AVHRR TIROS-N

avhrr.TN.time                           Implicit                            MatchupDimension,#todo
avhrr.TN.dtime                          Implicit                            MatchupDimension,AvhrrScanlineDimension
avhrr.TN.latitude                       avhrr.latitude                      MatchupDimension,AvhrrImageDimensions,DegreeUnit,AvhrrMissingValue
avhrr.TN.longitude                      avhrr.longitude                     MatchupDimension,AvhrrImageDimensions,DegreeUnit,AvhrrMissingValue
avhrr.TN.reflectance.1                  avhrr.reflec_1                      MatchupDimension,AvhrrImageDimensions,AvhrrMissingValue,FromPercent
avhrr.TN.reflectance.2                  avhrr.reflec_2                      MatchupDimension,AvhrrImageDimensions,AvhrrMissingValue,FromPercent
avhrr.TN.reflectance.3a                 avhrr.reflec_3a                     MatchupDimension,AvhrrImageDimensions,AvhrrMissingValue,FromPercent
avhrr.TN.brightness_temperature.3b      avhrr.temp_3b                       MatchupDimension,AvhrrImageDimensions,AvhrrMissingValue,KelvinUnit
avhrr.TN.brightness_temperature.4       avhrr.temp_4                        MatchupDimension,AvhrrImageDimensions,AvhrrMissingValue,KelvinUnit
avhrr.TN.brightness_temperature.5       avhrr.temp_5                        MatchupDimension,AvhrrImageDimensions,AvhrrMissingValue,KelvinUnit
avhrr.TN.solar_zenith_angle             avhrr.sun_zenith                    MatchupDimension,AvhrrImageDimensions,DegreeUnit,AvhrrMissingValue
avhrr.TN.satellite_zenith_angle         avhrr.view_zenith                   MatchupDimension,AvhrrImageDimensions,DegreeUnit,AvhrrMissingValue
avhrr.TN.relative_azimuth_angle         avhrr.delta_azimuth                 MatchupDimension,AvhrrImageDimensions,DegreeUnit,AvhrrMissingValue
avhrr.TN.ict_temperature                avhrr.ict_temp                      MatchupDimension,AvhrrScanlineDimension,AvhrrMissingValue,KelvinUnit
avhrr.TN.reflectance_to_radiance.1      avhrr.reflec_to_rad_1               MatchupDimension,AvhrrMissingValue,NoUnit
avhrr.TN.reflectance_to_radiance.2      avhrr.reflec_to_rad_2               MatchupDimension,AvhrrMissingValue,NoUnit
avhrr.TN.reflectance_to_radiance.3a     avhrr.reflec_to_rad_3a              MatchupDimension,AvhrrMissingValue,NoUnit
avhrr.TN.bad_data                       avhrr.bad_data                      MatchupDimension,AvhrrImageDimensions
avhrr.TN.cloud_flag                     avhrr.cloud_flag                    MatchupDimension,AvhrrImageDimensions,AvhrrCloudFlagMissingValue
avhrr.TN.cloud_probability              avhrr.cloud_prob                    MatchupDimension,AvhrrImageDimensions,AvhrrCloudProbMissingValue
avhrr.TN.l1b_filename                   avhrr.l1b_filename                  MatchupDimension,FilenameDimension
avhrr.TN.matchup_elem                   avhrr.matchup_elem                  MatchupDimension,IntToShort
avhrr.TN.matchup_line                   avhrr.matchup_line                  MatchupDimension,IntToShort
avhrr.TN.land_sea_mask                  Implicit                            MatchupDimension,AvhrrImageDimensions

# todo - ecmwf

### ams

amsre.time                              Implicit                            MatchupDimension,TimeType
amsre.dtime                             Implicit                            MatchupDimension,AmsreYDimension,DTimeType
amsre.latitude                          amsre.lat                           MatchupDimension,AmsreImageDimensions
amsre.longitude                         amsre.lon                           MatchupDimension,AmsreImageDimensions
amsre.sea_surface_temperature           amsre.sea_surface_temperature       MatchupDimension,AmsreImageDimensions,ToSeaSurfaceTemperature
amsre.sses_bias_error                   amsre.SSES_bias_error               MatchupDimension,AmsreImageDimensions
amsre.sses_standard_deviation_error     amsre.SSES_standard_deviation_error MatchupDimension,AmsreImageDimensions
amsre.proximity_confidence              amsre.proximity_confidence          MatchupDimension,AmsreImageDimensions
amsre.rejection_flag                    amsre.rejection_flag                MatchupDimension,AmsreImageDimensions
amsre.confidence_flag                   amsre.confidence_flag               MatchupDimension,AmsreImageDimensions
amsre.cool_skin                         amsre.cool_skin                     MatchupDimension,AmsreImageDimensions
amsre.diurnal_amplitude                 amsre.diurnal_amplitude             MatchupDimension,AmsreImageDimensions
amsre.wind_speed                        amsre.wind_speed                    MatchupDimension,AmsreImageDimensions
amsre.land_sea_mask                     Implicit                            MatchupDimension,AmsreImageDimensions
amsre.l2p_filename                      Implicit                            MatchupDimension,FilenameDimension
amsre.matchup_elem                      Implicit                            MatchupDimension
amsre.matchup_line                      Implicit                            MatchupDimension


### tmi

tmi.time                                Implicit                            MatchupDimension,TimeType
tmi.dtime                               Implicit                            MatchupDimension,TmiYDimension,DTimeType
tmi.latitude                            tmi.lat                             MatchupDimension,TmiImageDimensions
tmi.longitude                           tmi.lon                             MatchupDimension,TmiImageDimensions
tmi.sea_surface_temperature             tmi.sea_surface_temperature         MatchupDimension,TmiImageDimensions,ToSeaSurfaceTemperature
tmi.sses_bias_error                     tmi.SSES_bias_error                 MatchupDimension,TmiImageDimensions
tmi.sses_standard_deviation_error       tmi.SSES_standard_deviation_error   MatchupDimension,TmiImageDimensions
tmi.proximity_confidence                tmi.proximity_confidence            MatchupDimension,TmiImageDimensions
tmi.rejection_flag                      tmi.rejection_flag                  MatchupDimension,TmiImageDimensions
tmi.confidence_flag                     tmi.confidence_flag                 MatchupDimension,TmiImageDimensions
tmi.cool_skin                           tmi.cool_skin                       MatchupDimension,TmiImageDimensions
tmi.diurnal_amplitude                   tmi.diurnal_amplitude               MatchupDimension,TmiImageDimensions
tmi.wind_speed                          tmi.wind_speed                      MatchupDimension,TmiImageDimensions
tmi.l2p_filename                        Implicit                            MatchupDimension,FilenameDimension
tmi.matchup_elem                        Implicit                            MatchupDimension
tmi.matchup_line                        Implicit                            MatchupDimension
tmi.land_sea_mask                       Implicit                            MatchupDimension,TmiImageDimensions


### aai

aai.latitude                            aai.lat                             MatchupDimension,AaiImageDimensions
aai.longitude                           aai.lon                             MatchupDimension,AaiImageDimensions
aai.absorbing_aerosol_index             aai.aerosol_absorbing_index         MatchupDimension,AaiImageDimensions
aai.land_sea_mask                       Implicit                            MatchupDimension,AaiImageDimensions
aai.filename                            Implicit                            MatchupDimension,FilenameDimension


### seaice

## TODO - clarify lat/lon: for hdf files, "the values are in separate file". wherever that is...

seaice.latitude                         Implicit                            MatchupDimension,SeaIceImageDimensions
seaice.longitude                        Implicit                            MatchupDimension,SeaIceImageDimensions
seaice.concentration                    Implicit                            MatchupDimension,SeaIceImageDimensions
seaice.land_sea_mask                    Implicit                            MatchupDimension,SeaIceImageDimensions
seaice.filename                         Implicit                            MatchupDimension,FilenameDimension
seaice.matchup.elem                     Implicit                            MatchupDimension
seaice.matchup.line                     Implicit                            MatchupDimension

### insitu

insitu.time                             Implicit                            MatchupDimension,InsituDimension
insitu.longitude                        Implicit                            MatchupDimension,InsituDimension
insitu.latitude                         Implicit                            MatchupDimension,InsituDimension
insitu.sea_surface_temperature          Implicit                            MatchupDimension,InsituDimension