#
# Copyright (C) 2011 Brockmann Consult GmbH (info@brockmann-consult.de)
#
# This program is free software; you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by the Free
# Software Foundation; either version 3 of the License, or (at your option)
# any later version.
# This program is distributed in the hope that it will be useful, but WITHOUT
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
# more details.
#
# You should have received a copy of the GNU General Public License along
# with this program; if not, see http://www.gnu.org/licenses/
#

# column 1: target name
# column 2: source name
# column 3: rule specification

### matchup

matchup.id                                Implicit                                     MatchupDimension,MatchupId
matchup.time                              Implicit                                     MatchupDimension,TimeType,ReferenceTime
matchup.longitude                         Implicit                                     MatchupDimension,LonType,MatchupLon
matchup.latitude                          Implicit                                     MatchupDimension,LatType,MatchupLat
matchup.insitu.callsign                   Implicit                                     MatchupDimension,CallsignDimension,CharType,MatchupCallsign
matchup.insitu.dataset                    Implicit                                     MatchupInsituDataset
matchup.reference_flag                    Implicit                                     MatchupReferenceFlag
matchup.valid                             Implicit                                     MatchupDimension,ByteType,MatchupValid
matchup.primary_sensor                    Implicit                                     MatchupDimension,ByteType,MatchupPrimarySensor
matchup.primary_filename                  Implicit                                     MatchupDimension,FilenameDimension,CharType,MatchupPrimaryFilename
matchup.primary_md_record_number          Implicit                                     MatchupRecordNumber
matchup.sensor_list                       Implicit                                     MatchupPattern

### ATSR L1b AT1

atsr.1.time                               Implicit                                     Atsr1Sensor,MatchupDimension,TimeType,ObservationTime
atsr.1.dtime                              Implicit                                     Atsr1Sensor,MatchupDimension,AtsrYDimension,DTimeType,DTime
atsr.1.latitude                           atsr_orb.1.latitude                          MatchupDimension,AtsrImageDimensions,LatType
atsr.1.longitude                          atsr_orb.1.longitude                         MatchupDimension,AtsrImageDimensions,LonType
atsr.1.reflectance_55_nadir               atsr_orb.1.reflec_nadir_0550                 MatchupDimension,AtsrImageDimensions,FillValueShortMin,FromPercent,ToReflectance
atsr.1.reflectance_55_forward             atsr_orb.1.reflec_fward_0550                 MatchupDimension,AtsrImageDimensions,FillValueShortMin,FromPercent,ToReflectance
atsr.1.reflectance_66_nadir               atsr_orb.1.reflec_nadir_0670                 MatchupDimension,AtsrImageDimensions,FillValueShortMin,FromPercent,ToReflectance
atsr.1.reflectance_66_forward             atsr_orb.1.reflec_fward_0670                 MatchupDimension,AtsrImageDimensions,FillValueShortMin,FromPercent,ToReflectance
atsr.1.reflectance_87_nadir               atsr_orb.1.reflec_nadir_0870                 MatchupDimension,AtsrImageDimensions,FillValueShortMin,FromPercent,ToReflectance
atsr.1.reflectance_87_forward             atsr_orb.1.reflec_fward_0870                 MatchupDimension,AtsrImageDimensions,FillValueShortMin,FromPercent,ToReflectance
atsr.1.reflectance_16_nadir               atsr_orb.1.reflec_nadir_1600                 MatchupDimension,AtsrImageDimensions,FillValueShortMin,FromPercent,ToReflectance
atsr.1.reflectance_16_forward             atsr_orb.1.reflec_fward_1600                 MatchupDimension,AtsrImageDimensions,FillValueShortMin,FromPercent,ToReflectance
atsr.1.brightness_temperature_37_nadir    atsr_orb.1.btemp_nadir_0370                  MatchupDimension,AtsrImageDimensions,FillValueShortMin,ToBrightnessTemperature
atsr.1.brightness_temperature_37_forward  atsr_orb.1.btemp_fward_0370                  MatchupDimension,AtsrImageDimensions,FillValueShortMin,ToBrightnessTemperature
atsr.1.brightness_temperature_11_nadir    atsr_orb.1.btemp_nadir_1100                  MatchupDimension,AtsrImageDimensions,FillValueShortMin,ToBrightnessTemperature
atsr.1.brightness_temperature_11_forward  atsr_orb.1.btemp_fward_1100                  MatchupDimension,AtsrImageDimensions,FillValueShortMin,ToBrightnessTemperature
atsr.1.brightness_temperature_12_nadir    atsr_orb.1.btemp_nadir_1200                  MatchupDimension,AtsrImageDimensions,FillValueShortMin,ToBrightnessTemperature
atsr.1.brightness_temperature_12_forward  atsr_orb.1.btemp_fward_1200                  MatchupDimension,AtsrImageDimensions,FillValueShortMin,ToBrightnessTemperature
atsr.1.detector_temperature_12            Implicit                                     Atsr1Sensor,MatchupDimension,DetectorTemperature
atsr.1.confidence_word_nadir              atsr_orb.1.confid_flags_nadir                MatchupDimension,AtsrImageDimensions,AtsrConfidenceFlagDescriptions
atsr.1.confidence_word_forward            atsr_orb.1.confid_flags_fward                MatchupDimension,AtsrImageDimensions,AtsrConfidenceFlagDescriptions
atsr.1.cloud_flags_nadir                  atsr_orb.1.cloud_flags_nadir                 MatchupDimension,AtsrImageDimensions,AtsrCloudFlagDescriptions
atsr.1.cloud_flags_forward                atsr_orb.1.cloud_flags_fward                 MatchupDimension,AtsrImageDimensions,AtsrCloudFlagDescriptions
atsr.1.solar_zenith_angle_nadir           atsr_orb.1.sun_elev_nadir                    MatchupDimension,AtsrImageDimensions,FillValueShortMin,ElevationToSolzen,ZenithAngle
atsr.1.solar_zenith_angle_forward         atsr_orb.1.sun_elev_fward                    MatchupDimension,AtsrImageDimensions,FillValueShortMin,ElevationToSolzen,ZenithAngle
atsr.1.satellite_zenith_angle_nadir       atsr_orb.1.view_elev_nadir                   MatchupDimension,AtsrImageDimensions,FillValueShortMin,ElevationToSolzen,ZenithAngle
atsr.1.satellite_zenith_angle_forward     atsr_orb.1.view_elev_fward                   MatchupDimension,AtsrImageDimensions,FillValueShortMin,ElevationToSolzen,ZenithAngle
atsr.1.sun_azimuth_angle_nadir            atsr_orb.1.sun_azimuth_nadir                 MatchupDimension,AtsrImageDimensions,AzimuthAngle
atsr.1.sun_azimuth_angle_forward          atsr_orb.1.sun_azimuth_fward                 MatchupDimension,AtsrImageDimensions,AzimuthAngle
atsr.1.view_azimuth_angle_nadir           atsr_orb.1.view_azimuth_nadir                MatchupDimension,AtsrImageDimensions,AzimuthAngle
atsr.1.view_azimuth_angle_forward         atsr_orb.1.view_azimuth_fward                MatchupDimension,AtsrImageDimensions,AzimuthAngle
atsr.1.l1b_filename                       Implicit                                     Atsr1Sensor,MatchupDimension,FilenameDimension,ObservationFilename
atsr.1.VC1_filename                       Implicit                                     Atsr1Sensor,MatchupDimension,FilenameDimension,V1cFilename
atsr.1.GC1_filename                       Implicit                                     Atsr1Sensor,MatchupDimension,FilenameDimension,G1cFilename
atsr.1.matchup_elem                       Implicit                                     Atsr1Sensor,MatchupDimension,MatchupElem
atsr.1.matchup_line                       Implicit                                     Atsr1Sensor,MatchupDimension,MatchupLine
atsr.1.land_sea_mask                      Implicit                                     Atsr1Sensor,MatchupDimension,AtsrImageDimensions,LandSeaMask