{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
<style>
    .i {
        margin-left: 20px;
    }

    .important {
        color: #8b0000;
    }

    .ui_link {
        color: #337ab7;
    }

    #footer-div {
        padding-bottom: 1500px;
    }
</style>

<h2>Help <span style="color: #ff0000"> !under construction!</span></h2>
<br>

<a name="toc"></a><h4>Table of Contents</h4>
<ol>
    <li><a href="#overview">Overview</a></li>
    <li><a href="#session">Session</a>
        <ol>
            <li><a href="#session_content">Content of a Session</a></li>
            <li><a href="#session_load">Load Session</a></li>
            <li><a href="#session_save_as">Save Session As ...</a></li>
            <li><a href="#session_save">Save Session</a></li>
        </ol>
    </li>
    <li><a href="#default_table">Default Table</a>
        <ol>
            <li><a href="#default_table_upload">Upload</a></li>
        </ol>
    </li>
    <li><a href="#template_document">Template Document</a>
        <ol>
            <li><a href="#template_document_upload">Upload</a></li>
        </ol>
    </li>
    <li><a href="#figures_tab">Figures Tab</a>
        <ol>
            <li><a href="#figures_directory">Figures Directory</a></li>
            <li><a href="#thumbnail_preview">Thumbnail Preview</a></li>
            <li><a href="#wildcard">Wildcard</a></li>
            <li><a href="#figure_key">Figure Key</a></li>
            <li><a href="#scaling">Scaling</a></li>
            <li><a href="#si_fi_pre">Single Figure Preview</a></li>
            <li><a href="#mu_fi_pre">Multi Figure Preview</a></li>
            <li><a href="#figure_comment">Figure Comment</a></li>
        </ol>
    </li>
    <li><a href="#text_tab">Text Tab</a>
        <ol>
            <li><a href="#text_key">Text Key</a></li>
        </ol>
    </li>
</ol>
<br>


<h3><a name="overview"></a><a href="#toc">Overview</a></h3>
<div class="i">
    <p>Welcome to the ESACCI-SST CAR Tool
    <p>The <u>C</u>limate <u>A</u>ssessment <u>R</u>eport Tool processes uploaded template files (Microsoft Word *.docx format) and replaces
        variables, named by an uploaded default table (key-value pairs *.properties format), with parameter values supplied by the registered user of the CAR-WEB-Tool.
</div>

<h3><a name="session"></a><a href="#toc">Session</a></h3>
<div class="i">
    <h4>General</h4>
    <div class="i">
        A session in the end is a property container which will be send to the server when the user has clicked "<span class="ui_link">create and download document</span>".
        The server then writes all the key-value pairs and starts the document rendering.
    </div>

    <h4><a name="session_content"></a><a href="#toc">Session Content</a></h4>
    <div class="i">
        <ul>
            <li>the name of the template document</li>
            <li>the name of the default table</li>
            <li>the figures directory name</li>
            <li>the selected figures</li>
            <li>the selected multi figure groups</li>
            <li>the scaling for single figures and grouped figures</li>
            <li>text replacement for each key defined in the default table</li>
        </ul>
    </div>
    <h4><a name="session_load"></a><a href="#toc">Load Session</a></h4>
    <div class="i">
        Users are able to open their own sessions or load (not open) sessions from other users. If a session from an other user is loaded, a new session with the same
        name an all the properties are created. The session can be saved with the same (unmodified) name or with an new (user defined) name.
        Independent if the session is saved with the same or a changed name, the new session allwas is saved in the own user directory.
        <br>
        <br>
        <u>Usecase:</u><br>
        - User_B can load a session created by User_A and continue working on this session.<br>
        - User_B appends several images and text to the session.<br>
        - User_B saves the changed session.<br>
        - Now User_A can load the session modified by User_B and continue working on this session.<br>
        - Now User_A appends several images and text to the session.<br>
        - User_A saves the changed session.<br>
        - . . . and so on . . . <br>
        - When the session is ready to render the Report Document, any registered User can open this session and can download the rendered document.
    </div>

    <h4><a name="session_save_as"></a><a href="#toc">Save Session As ...</a></h4>
    <div class="i">
        If you have created a new session, you can give the session a name and save it to your own server side user directory.<br>
        If you have loaded an existing session, you can <b>rename</b> the session and save it to your own server side user directory.
    </div>

    <h4><a name="session_save"></a><a href="#toc">Save Session</a></h4>
    <div class="i">
        Save the session with the given name in your own server side user directory.<br>
        The button is disabled as long as the session has not a valid name.
    </div>
</div>


<h3><a name="default_table"></a><a href="#toc">Default Table</a></h3>
<div class="i">
    A default table is a *.properties file which contains key-value pairs. The Properties file format is described in
    detail at <a href="https://en.wikipedia.org/wiki/.properties" target="_blank">https://en.wikipedia.org/wiki/.properties</a><br>
    The key/value pairs are defined in a single line, key and value are separated by '='.<br>
    The same keys also has to be defined in the template document.<br>

    All entries in the properties file are variable definitions that are explained in the <a href="#template_document">Template Document</a> section.
    <h4><a name="default_table_upload"></a><a href="#toc">Upload</a></h4>
    <div class="i">
        Each user can upload default tables.<br>
        Each uploaded file is saved in the server side user directory.<br>
        Each uploaded default table is available for each user.
    </div>
</div>


<h3><a name="template_document"></a><a href="#toc">Template Document</a></h3>
<div class="i">
    <p>A template document is a Microsoft Office Open XML document (*.docx file). The Office Open XML document is described in
        detail at <a target="_blank" href="https://en.wikipedia.org/wiki/Office_Open_XML_file_formats">https://en.wikipedia.org/wiki/Office_Open_XML_file_formats</a>
    <p>Such a template document contains variables.
    <p> Variables in the word-document template are placeholders for content supplied by the assessment-tool. Variables in
        the word document follow the convention

        <div class="i">
    <p>${variable_name}
</div>

<p> Variables can be replaced by text or figures. When replacing variables, the formatting of the word-document is
    not touched.

<p> Variables in the properties file are stored as mere names, without the surrounding '${' and '}'.

<p> The variable name has to follow a specific pattern that also defines the replacing functionality. A variable name
    consists of a functional description, the name and an optional suffix, separated by a dot '.'.

<p> Example:<br>
    description.name.suffix

<p><u>The functional descriptions are:</u>

<p> - comment<br>
<div class="i">
    Replaces the variable occurrence with the variable value, creating a complete paragraph.<br><br>
    Example:<br>
    comment.Figure_2<br><br>
</div>
<p> - paragraph<br>
<div class="i">
    Replaces the variable occurrence with the variable value, creating a complete paragraph.<br><br>
    Example:<br>
    paragraph.summary_text<br><br>
</div>


<p> - figure<br>
<div class="i">
    Replaces the variable occurrence with a figure. The variable value must be an existing<br>
    image file in PNG format, stored in the directory defined by 'figures.directory'<br><br>
    Example:<br>
    figure.dependence = atsr3-skin-raw-drifter-dependence-av1.png<br><br>
</div>


<p> - figures
<div class="i">
    Replaces the variable occurrence with multiple figures. The variable value must be a ';' separated<br>
    number of images, stored in the directory defined by 'figures.directory'<br><br>
    Example:<br>
    figures.plot_lag_corr = lag_corr_*.png<br><br>
</div>


<p><u>Suffixes</u>

<p> - scale
<div class="i">
    Allows to supply an optional scaling factor for the 'figure' and 'figures' descriptors. The default value is 0.2.<br><br>
    Example:<br>
    figure.dependence.scale = 0.45<br><br>
</div>


<p> - default
<div class="i">
    Allows to supply a default value for any variable whis is used incase the variable is not set. This is an optional suffix.<br><br>
    Example:<br>
    paragraph.summary_text.default = TODO: we need to write something here<br><br>
</div>


<h4><a name="template_document_upload"></a><a href="#toc">Upload</a></h4>
<div class="i">
    Each user can upload template documents.<br>
    Each uploaded file is saved in the server side user directory.<br>
    Each uploaded default table is available for each user.
</div>
</div>

<h3><a name="figures_tab"></a><a href="#toc">Figures Tab</a></h3>
<div class="i">
    <h4><a name="figures_directory"></a><a href="#toc">Figures Directory</a></h4>

    <h4><a name="thumbnail_preview"></a><a href="#toc">Thumbnail Preview</a></h4>

    <h4><a name="wildcard"></a><a href="#toc">Wildcard</a></h4>
    <div class="i">
        Use the text field to filter thumbnails.<br>
        Filter rules has to be defined according to regular expressions.<br>
        To get familiar with regular expressions you can visit tutorials. For example the <a target="_blank" href="https://regexone.com/">regexone.com</a> tutorial.<br>
        <span class="important">Attention! Filtering in this cci tool is always case insensitive.</span>
        <br>
        <h5>Examples:</h5>
        <ul>
            <li>
                If you want to find all images which contains "plot"<br>
                Enter: <code>"plot"</code><br>
                Result:
                &lt;abc_plot_lsf.png&gt;
                &lt;plot_klm.jpg&gt;
                <br><br>
            </li>
            <li>
                If you want to find all images which starts with "plot"<br>
                Enter: <code>"^plot"</code><br>
                Result:
                <span style="text-decoration: line-through;">&lt;abc_plot_lsf.png&gt;</span>
                &lt;plot_klm.jpg&gt;
                <br><br>
            </li>
            <li>
                If you want to find all images which ends with "png"<br>
                Enter: <code>"png$"</code><br>
                Result:
                &lt;abc_plot_lsf.png&gt;
                <span style="text-decoration: line-through;">&lt;plot_klm.jpg&gt;</span>
                <br><br>
            </li>
            <li>
                If you want to find all images which has a 'l' at the 6. position from the right end.<br>
                Enter: <code>"l.{5}$"</code><br>
                Result:
                <span style="text-decoration: line-through;">&lt;abc_plot_lsf.png&gt;</span>
                &lt;plot_klm.jpg&gt;
                <br><br>
            </li>
            <li>
                If you want to find all images which does not contain a 'k'.<br>
                Enter: <code>"^[^k]+$"</code><br>
                The caret in the character class (<code>[^</code>) means match anything but, so this means, beginning (<code>^</code>) of string,
                then one or more (<code>+</code>) times of any character except 'k' (<code>[^k]</code>), then the end (<code>$</code>) of the string.<br>
                Result:
                &lt;abc_plot_lsf.png&gt;
                <span style="text-decoration: line-through;">&lt;plot_klm.jpg&gt;</span>
                <br><br>
            </li>
        </ul>
    </div>

    <h4><a name="figure_key"></a><a href="#toc">Figure Key</a></h4>

    <h4><a name="scaling"></a><a href="#toc">Scaling</a></h4>

    <h4><a name="si_fi_pre"></a><a href="#toc">Single Figure Preview</a></h4>

    <h4><a name="mu_fi_pre"></a><a href="#toc">Multi Figure Preview</a></h4>

    <h4><a name="figure_comment"></a><a href="#toc">Figure Comment</a></h4>
</div>

{% endblock %}